openapi: 3.2.0
info:
  version: 3.0.0
  title: Asgard BFF Plans API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Plans
paths:
  /{workspace_id}/plans:
    get:
      tags:
      - Plans
      operationId: ReadPlansBFFV1
      summary: Get multiple Plans
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: workspace_id
        in: path
        required: true
        description: The ID of the Plan's workspace.
        schema:
          type: string
          format: uuid
      - name: filter
        in: query
        description: 'Filters for limiting the results.

          '
        required: false
        schema:
          type: object
          properties:
            is_nested:
              type: boolean
              description: 'Boolean true returns nested plans, while boolean false returns top-level plans. Omission will return all plans.

                '
        style: deepObject
        explode: true
      responses:
        '200':
          description: The requested Plans
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - kind
                      - default_timescale
                      - description
                      - end_at
                      - owner
                      - start_at
                      - title
                      - parent_block
                      - created_at
                      - updated_at
                      - supportive_category_id
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        kind:
                          type: string
                          enum:
                          - plan
                          description: Describes the type of view this object is.
                        default_timescale:
                          type: string
                          enum:
                          - day
                          - week
                          - month
                          - quarter
                          description: Describes the default fidelity of the plan's layout.
                        description:
                          type: string
                          description: Description of the plan.
                        end_at:
                          type: string
                          format: date
                          description: An ISO8601 date describing the end of the plan.
                        owner:
                          description: Minimal information about the user who 'owns' the plan.
                          title: user
                          type: object
                          required:
                          - id
                          - full_name
                          - avatar_url
                          - legacy_id
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              format: uuid
                            full_name:
                              type: string
                            avatar_url:
                              type:
                              - string
                              - 'null'
                              description: URL for the user's avatar.
                            legacy_id:
                              type: string
                              description: The ID to be used with v2 APIs.
                        start_at:
                          type: string
                          format: date
                          description: An ISO8601 date describing the start of the plan.
                        title:
                          type: string
                        parent_block:
                          type: object
                          description: This is the containing parent block.
                          required:
                          - id
                          - color
                          - description
                          - end_at
                          - duration
                          - owner
                          - plan
                          - start_at
                          - title
                          - created_at
                          additionalProperties: false
                          properties:
                            id:
                              type: string
                              format: uuid
                            color:
                              type:
                              - string
                              - 'null'
                            description:
                              type: string
                              description: Description of the block.
                            duration:
                              type:
                              - string
                              - 'null'
                              description: ISO 8601 duration string (e.g. P10D, P5W, P3M). Clients compute end date as start_at + duration.
                            end_at:
                              type: string
                              format: date
                              deprecated: true
                              description: 'DEPRECATED: migrate to `duration`.'
                            owner:
                              description: Minimal information about the user who 'owns' the block.
                              title: user
                              type: object
                              required:
                              - id
                              - full_name
                              - avatar_url
                              - legacy_id
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                full_name:
                                  type: string
                                avatar_url:
                                  type:
                                  - string
                                  - 'null'
                                  description: URL for the user's avatar.
                                legacy_id:
                                  type: string
                                  description: The ID to be used with v2 APIs.
                            plan:
                              type:
                              - object
                              - 'null'
                              description: This is the containing grandparent plan.
                              required:
                              - id
                              - kind
                              - default_timescale
                              - description
                              - end_at
                              - owner
                              - start_at
                              - title
                              - created_at
                              - updated_at
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                kind:
                                  type: string
                                  enum:
                                  - plan
                                  description: Describes the type of view this object is.
                                default_timescale:
                                  type: string
                                  enum:
                                  - day
                                  - week
                                  - month
                                  - quarter
                                  description: Describes the default fidelity of the plan's layout.
                                description:
                                  type: string
                                  description: Description of the plan.
                                end_at:
                                  type: string
                                  format: date
                                  description: An ISO8601 date describing the end of the plan.
                                owner:
                                  description: Minimal information about the user who 'owns' the plan.
                                  title: user
                                  type: object
                                  required:
                                  - id
                                  - full_name
                                  - avatar_url
                                  - legacy_id
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    full_name:
                                      type: string
                                    avatar_url:
                                      type:
                                      - string
                                      - 'null'
                                      description: URL for the user's avatar.
                                    legacy_id:
                                      type: string
                                      description: The ID to be used with v2 APIs.
                                start_at:
                                  type: string
                                  format: date
                                  description: An ISO8601 date describing the start of the plan.
                                title:
                                  type: string
                                created_at:
                                  type: string
                                  format: date-time
                                  description: The timestamp when the plan was created.
                                updated_at:
                                  type: string
                                  format: date-time
                                  description: The timestamp when the plan was last updated.
                            start_at:
                              type: string
                              format: date
                              description: An ISO8601 date describing the start of the block.
                            title:
                              type: string
                            created_at:
                              type: string
                              format: date-time
                              description: The timestamp when the block was created.
                        created_at:
                          type: string
                          format: date-time
                          description: The timestamp when the plan was created.
                        updated_at:
                          type: string
                          format: date-time
                          description: The timestamp when the plan was last updated.
                        supportive_category_id:
                          type: string
                          format: uuid
                          description: 'The identifier of the plan''s supportive category. Placing blocks

                            into this category via a block_connector designates the block

                            "in support of" this plan.

                            '
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: ⚠️  Unstable
  tags:
  - Plans
  - Blocks
  - Custom Fields
- name: ℹ️ Proposed
  tags:
  - Moments
  - Smart Blocks
  - In Market
- name: 🔮 Experimental
  tags:
  - Experimental
