openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Custom Fields API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Custom Fields
  description: '## Custom Fields Overview


    Custom Fields let you create custom inputs, the value of which can then be associated with a Moment, and allow your users to track dimensions based on your specific needs.'
paths:
  /loupe/v3/custom_fields:
    get:
      tags:
      - Custom Fields
      operationId: ReadCustomFieldsV3
      summary: Get CustomFields available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter
        in: query
        description: 'Filters for limiting the results.

          '
        required: false
        schema:
          type: object
          properties:
            workspace_id:
              description: 'This is a mandatory filter for the /index endpoint.

                The ID of the workspace to which results should be filtered. For example, `filter[workspace_id]=798ac6d9-b3fc-4155-88ee-237f43f3404b`

                will fetch all resources associated with workspace `798ac6d9-b3fc-4155-88ee-237f43f34

                '
              type: array
              items:
                type: string
                format: uuid
            is_deactivated:
              type: boolean
              description: 'An optional true/false value indicating whether to filter on deactivated custom fields.

                '
            id:
              type: string
              format: uuid
              description: 'An optional comma-separated string of UUIDs of the custom field to filter on. For example, `filter[id]=6b3ac6da-014e-4d6d-adc8-8b57adbff129,bda8ea26-2393-4378-a1dc-5ef7715f8015`

                will fetch only custom fields with the given IDs.

                '
            custom_field_type.system_type:
              type: array
              items:
                type: string
                enum:
                - singleSelect
                - multiSelect
                - textarea
                - url
                - date
                - usersSelect
              description: 'An optional comma-separated string of system types for the custom field type to filter on. For example, `filter[custom_field_type.system_type]=singleSelect,multiSelect`

                will fetch only custom fields with the specified system types.

                '
        style: deepObject
        explode: true
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - custom_field_type
            - active_options
            - active_options.custom_field_color
            - deleted_options
            - deleted_options.custom_field_color
        style: form
        explode: false
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of CustomFields.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: custom_field
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - custom_field
                        attributes:
                          type: object
                          required:
                          - description
                          - display_name
                          - is_deactivated
                          - is_color_disabled
                          - is_cascading
                          - is_system_generated
                          - metadata
                          - created_at
                          - updated_at
                          additionalProperties: false
                          properties:
                            display_name:
                              type: string
                              description: 'The display name which will appear in the Opal application UI where used.

                                '
                            description:
                              type:
                              - string
                              - 'null'
                              description: A plain text description of the custom field.
                            is_deactivated:
                              type: boolean
                              description: 'A true/false value indicating whether this custom field is available

                                for use within the Opal application. Note that this is separate from

                                deleting the custom field.

                                '
                            is_color_disabled:
                              type: boolean
                              description: 'Controls whether color relationships defined on options are displayed in the

                                UI. When true, colors are hidden without removing the underlying color relationship settings.

                                '
                            is_cascading:
                              type: boolean
                              description: 'PROPOSED:

                                Indicates if blocks whose block_type has this custom_field enabled

                                will inherit the values set for this custom field from its nearest

                                ancestor block. Setting explicit values for this custom_field on a

                                block will override inherited values.

                                '
                            is_system_generated:
                              type: boolean
                              default: false
                              readOnly: true
                              description: 'Whether this field was auto-generated by the system rather than

                                created by a user.


                                Such fields currently cannot be renamed or deleted, though this may

                                change in the future. Relevant for fields like the ‘Status’

                                single-select.'
                            metadata:
                              type:
                              - object
                              - 'null'
                              deprecated: true
                              description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                `active_options` (and, if relevant, `deleted_options`) to the

                                `custom_fields` request’s `include` query, and use the included

                                `custom_field_option` resources.


                                Explanation: serializing a few attributes from relationships in the

                                `metadata` attribute was convenient for internal use while the

                                `custom_field` resource was in development, but it’s not compliant

                                with JSON:API, and the `include` approach is superior anyhow as allows

                                callers full control over what data is included. `metadata/options`

                                also has a different implementation than `custom_field_option`

                                resources, so there’s some risk the two representations will become

                                inconsistent.'
                              oneOf:
                              - title: Empty Object
                                type:
                                - object
                                - 'null'
                                additionalProperties: false
                                description: 'The empty object for custom fields based on custom field types which

                                  have no configurable settings.

                                  '
                              - title: Single Select Metadata (V1)
                                type: object
                                required:
                                - options
                                properties:
                                  options:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - display_name
                                      - position
                                      properties:
                                        id:
                                          type: string
                                          description: The ID of the option. Must be globally unique and a UUID.
                                        display_name:
                                          type: string
                                          description: The display value for this option. Must be unique across non-deleted siblings.
                                        position:
                                          type: integer
                                          description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                        deleted_at:
                                          type:
                                          - string
                                          - 'null'
                                          format: date-time
                                          description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                            Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                            One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                            Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                            '
                                        relationships:
                                          type: object
                                          additionalProperties: false
                                          properties:
                                            custom_field_color:
                                              allOf:
                                              - type: object
                                                required:
                                                - data
                                                additionalProperties: false
                                                properties:
                                                  data:
                                                    type:
                                                    - object
                                                    - 'null'
                                                    required:
                                                    - id
                                                    - type
                                                    additionalProperties: false
                                                    properties:
                                                      id:
                                                        type: string
                                                        format: uuid
                                                      type:
                                                        type: string
                                                        enum:
                                                        - custom_field_color
                                              description: 'A relationship to a color for this option. Can be omitted (no color),

                                                included with null data (explicitly no color), or included with

                                                valid color data.

                                                '
                                            paired_label:
                                              allOf:
                                              - type: object
                                                required:
                                                - data
                                                additionalProperties: false
                                                properties:
                                                  data:
                                                    type:
                                                    - object
                                                    - 'null'
                                                    required:
                                                    - id
                                                    - type
                                                    additionalProperties: false
                                                    properties:
                                                      id:
                                                        type: string
                                                      type:
                                                        type: string
                                                        enum:
                                                        - label
                                              description: 'A relationship to a label that’s been paired with this option.

                                                '
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's creation date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's most recent updated date-time.
                              readOnly: true
                        relationships:
                          type: object
                          required:
                          - custom_field_type
                          - workspace
                          - active_options
                          - deleted_options
                          - creator
                          additionalProperties: false
                          properties:
                            active_options:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_option
                            deleted_options:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_option
                            custom_field_type:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field_type
                            creator:
                              title: User
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                            paired_label_set:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - label_set
                            workspace:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - workspace
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: custom_field_type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_type
                          attributes:
                            type: object
                            required:
                            - system_type
                            - display_name
                            - description
                            - schema
                            - schema_version
                            - datatype
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_type:
                                type: string
                                description: The input type that this custom field represents.
                              display_name:
                                type: string
                                description: The friendly label for this custom field type.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A longer description explaining the use case of this input type.
                              schema:
                                type: object
                                description: "JSON metadata describing among other things the property names, \ndata types, and required fields that are configurable for this given\nCustom Field Type. Here, required fields would indicate properties which\nmust be configured by the admin at the time of Custom Field creation.\n"
                              schema_version:
                                type: integer
                                description: An integer representing the given major version of this Custom Field Type's schema.
                              datatype:
                                type: string
                                description: The underlying primitive datatype (e.g., String, or Date).
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                      - title: custom_field_option
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_option
                          attributes:
                            type: object
                            required:
                            - created_at
                            - deleted_at
                            - display_name
                            - position
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              deleted_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time value, which will remove the given option from being usable. Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value. One can set this to a value to remove the option from being usable, or null to restore it and make it usable again. Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.
                              display_name:
                                type: string
                                description: The display value for this option. Must be unique across non-deleted siblings.
                              position:
                                type: integer
                                description: The ordinal position of this option. Must be unique across non-deleted siblings.
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field
                            additionalProperties: false
                            properties:
                              custom_field:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                              custom_field_color:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_color
                              paired_label:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label
                      - title: custom_field_color
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_color
                          attributes:
                            type: object
                            required:
                            - color
                            - is_system_generated
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: A color in hex format.
                              position:
                                type: number
                                description: The order in which the color will appear when rendered in a list.
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.'
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                      - title: workspace
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workspace
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Workspace object
                            properties:
                              user_is_member:
                                type: boolean
                                description: Boolean that represents whether the requesting user is a member of the workspace.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - name
                            - slug
                            - updated_at
                            - start_of_week
                            - timezone
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              name:
                                type: string
                                description: The name of the workspace.
                              slug:
                                type:
                                - string
                                - 'null'
                                description: The slug for the Workspace. This is a url-safe name for the Workspace.
                              start_of_week:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: 'The default start weekday index for the week view Calendar and for Plans. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default.

                                  With regards to the week view Calendar, values greater than 1 will be considered the same as 1.'
                              timezone:
                                type: string
                                description: The IANA time zone identifier for the default time zone used when creating resources in the workspace (e.g. America/New_York).
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - logo
                            - workspace_defaults
                            additionalProperties: false
                            properties:
                              logo:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              workspace_defaults:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace_defaults
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: a366316c-5061-46ae-94a0-3a118a8e4a1e
                  type: custom_field
                  attributes:
                    display_name: Product Description
                    description: A description of the product
                    is_deactivated: false
                    is_color_disabled: false
                    is_cascading: false
                    is_system_generated: false
                    metadata: null
                    options:
                    - display_name: Option 1
                      id: 61fda0c8-0969-46e8-8aa9-8bc2fd928d83
                      position: 1
                      updated_at: '2020-09-11T15:27:01.881-08:00'
                      created_at: '2020-09-11T15:27:01.881-08:00'
                      deleted_at: '2020-09-11T15:27:01.881-08:00'
                    - display_name: Option 2
                      id: d41899b4-b7a4-4280-9c96-4d7078b06128
                      position: 2
                      updated_at: '2020-09-11T15:27:01.881-08:00'
                      created_at: '2020-09-11T15:27:01.881-08:00'
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    custom_field_type:
                      data:
                        id: 61fda0c8-0969-46e8-8aa9-8bc2fd928d83
                        type: custom_field_type
                    workspace:
                      data:
                        id: 801ba99f-f5d1-441c-8cc7-fc61acc6a8f7
                        type: workspace
                    creator:
                      data:
                        id: 801ba99f-f5d1-441c-8cc7-fc61acc6a8f7
                        type: user
                    active_options:
                      data:
                      - id: 61fda0c8-0969-46e8-8aa9-8bc2fd928d83
                        type: custom_field_option
                    deleted_options:
                      data:
                      - id: d41899b4-b7a4-4280-9c96-4d7078b06128
                        type: custom_field_option
                    paired_label_set:
                      data:
                        id: 9e97b24c-b5d9-4d2a-9677-4d339312ee70
                        type: label_set
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    post:
      tags:
      - Custom Fields
      operationId: CreateCustomFieldV3
      summary: Create a new CustomField
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - custom_field_type
            - active_options
            - active_options.custom_field_color
            - deleted_options
            - deleted_options.custom_field_color
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - custom_field
                    attributes:
                      type: object
                      required:
                      - display_name
                      - metadata
                      properties:
                        display_name:
                          type: string
                          description: 'The display name which will appear in the Opal application UI where used.

                            '
                        description:
                          type:
                          - string
                          - 'null'
                          description: A plain text description of the custom field.
                        is_deactivated:
                          type: boolean
                          description: 'A true/false value indicating whether this custom field is available

                            for use within the Opal application. Note that this is separate from

                            deleting the custom field.

                            '
                        is_color_disabled:
                          type: boolean
                          description: 'Controls whether color relationships defined on options are displayed in the

                            UI. When true, colors are hidden without removing the underlying color relationship settings.

                            '
                        is_cascading:
                          type: boolean
                          description: 'PROPOSED:

                            Indicates if blocks whose block_type has this custom_field enabled

                            will inherit the values set for this custom field from its nearest

                            ancestor block. Setting explicit values for this custom_field on a

                            block will override inherited values.

                            '
                        metadata:
                          type:
                          - object
                          - 'null'
                          oneOf:
                          - title: Empty Object
                            type:
                            - object
                            - 'null'
                            additionalProperties: false
                            description: 'The empty object for custom fields based on custom field types which

                              have no configurable settings.

                              '
                          - title: Single Select Metadata (V1)
                            type: object
                            required:
                            - options
                            properties:
                              options:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - display_name
                                  - position
                                  properties:
                                    id:
                                      type: string
                                      description: The ID of the option. Must be unique across all sibling options.
                                    display_name:
                                      type: string
                                      description: The display value for this option.
                                    position:
                                      type: integer
                                      description: The ordinal position of this option relative to its siblings. Must be unique.
                                    deleted_at:
                                      type:
                                      - string
                                      - 'null'
                                      format: date-time
                                      description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                        Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                        One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                        Note that setting this to null will only be successful if doing so does not clobber the position or name of another option.

                                        '
                                    relationships:
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        custom_field_color:
                                          description: 'A relationship to a color for this option. Can be omitted (no color),

                                            included with null data (explicitly no color), or included with

                                            valid color data.

                                            '
                                          type: object
                                          required:
                                          - data
                                          additionalProperties: false
                                          properties:
                                            data:
                                              type:
                                              - object
                                              - 'null'
                                              required:
                                              - id
                                              - type
                                              additionalProperties: false
                                              properties:
                                                id:
                                                  type: string
                                                  format: uuid
                                                type:
                                                  type: string
                                                  enum:
                                                  - custom_field_color
                    relationships:
                      type: object
                      required:
                      - custom_field_type
                      - workspace
                      properties:
                        custom_field_type:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - custom_field_type
                        paired_label_set:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - label_set
                        workspace:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - workspace
      responses:
        '201':
          description: A newly created CustomField resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: custom_field
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - custom_field
                      attributes:
                        type: object
                        required:
                        - description
                        - display_name
                        - is_deactivated
                        - is_color_disabled
                        - is_cascading
                        - is_system_generated
                        - metadata
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          display_name:
                            type: string
                            description: 'The display name which will appear in the Opal application UI where used.

                              '
                          description:
                            type:
                            - string
                            - 'null'
                            description: A plain text description of the custom field.
                          is_deactivated:
                            type: boolean
                            description: 'A true/false value indicating whether this custom field is available

                              for use within the Opal application. Note that this is separate from

                              deleting the custom field.

                              '
                          is_color_disabled:
                            type: boolean
                            description: 'Controls whether color relationships defined on options are displayed in the

                              UI. When true, colors are hidden without removing the underlying color relationship settings.

                              '
                          is_cascading:
                            type: boolean
                            description: 'PROPOSED:

                              Indicates if blocks whose block_type has this custom_field enabled

                              will inherit the values set for this custom field from its nearest

                              ancestor block. Setting explicit values for this custom_field on a

                              block will override inherited values.

                              '
                          is_system_generated:
                            type: boolean
                            default: false
                            readOnly: true
                            description: 'Whether this field was auto-generated by the system rather than

                              created by a user.


                              Such fields currently cannot be renamed or deleted, though this may

                              change in the future. Relevant for fields like the ‘Status’

                              single-select.'
                          metadata:
                            type:
                            - object
                            - 'null'
                            deprecated: true
                            description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                              `active_options` (and, if relevant, `deleted_options`) to the

                              `custom_fields` request’s `include` query, and use the included

                              `custom_field_option` resources.


                              Explanation: serializing a few attributes from relationships in the

                              `metadata` attribute was convenient for internal use while the

                              `custom_field` resource was in development, but it’s not compliant

                              with JSON:API, and the `include` approach is superior anyhow as allows

                              callers full control over what data is included. `metadata/options`

                              also has a different implementation than `custom_field_option`

                              resources, so there’s some risk the two representations will become

                              inconsistent.'
                            oneOf:
                            - title: Empty Object
                              type:
                              - object
                              - 'null'
                              additionalProperties: false
                              description: 'The empty object for custom fields based on custom field types which

                                have no configurable settings.

                                '
                            - title: Single Select Metadata (V1)
                              type: object
                              required:
                              - options
                              properties:
                                options:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - display_name
                                    - position
                                    properties:
                                      id:
                                        type: string
                                        description: The ID of the option. Must be globally unique and a UUID.
                                      display_name:
                                        type: string
                                        description: The display value for this option. Must be unique across non-deleted siblings.
                                      position:
                                        type: integer
                                        description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                      deleted_at:
                                        type:
                                        - string
                                        - 'null'
                                        format: date-time
                                        description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                          Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                          One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                          Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                          '
                                      relationships:
                                        type: object
                                        additionalProperties: false
                                        properties:
                                          custom_field_color:
                                            allOf:
                                            - type: object
                                              required:
                                              - data
                                              additionalProperties: false
                                              properties:
                                                data:
                                                  type:
                                                  - object
                                                  - 'null'
                                                  required:
                                                  - id
                                                  - type
                                                  additionalProperties: false
                                                  properties:
                                                    id:
                                                      type: string
                                                      format: uuid
                                                    type:
                                                      type: string
                                                      enum:
                                                      - custom_field_color
                                            description: 'A relationship to a color for this option. Can be omitted (no color),

                                              included with null data (explicitly no color), or included with

                                              valid color data.

                                              '
                                          paired_label:
                                            allOf:
                                            - type: object
                                              required:
                                              - data
                                              additionalProperties: false
                                              properties:
                                                data:
                                                  type:
                                                  - object
                                                  - 'null'
                                                  required:
                                                  - id
                                                  - type
                                                  additionalProperties: false
                                                  properties:
                                                    id:
                                                      type: string
                                                    type:
                                                      type: string
                                                      enum:
                                                      - label
                                            description: 'A relationship to a label that’s been paired with this option.

                                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - custom_field_type
                        - workspace
                        - active_options
                        - deleted_options
                        - creator
                        additionalProperties: false
                        properties:
                          active_options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field_option
                          deleted_options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field_option
                          custom_field_type:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field_type
                          creator:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          paired_label_set:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - label_set
                          workspace:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workspace
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: custom_field_type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_type
                          attributes:
                            type: object
                            required:
                            - system_type
                            - display_name
                            - description
                            - schema
                            - schema_version
                            - datatype
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_type:
                                type: string
                                description: The input type that this custom field represents.
                              display_name:
                                type: string
                                description: The friendly label for this custom field type.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A longer description explaining the use case of this input type.
                              schema:
                                type: object
                                description: "JSON metadata describing among other things the property names, \ndata types, and required fields that are configurable for this given\nCustom Field Type. Here, required fields would indicate properties which\nmust be configured by the admin at the time of Custom Field creation.\n"
                              schema_version:
                                type: integer
                                description: An integer representing the given major version of this Custom Field Type's schema.
                              datatype:
                                type: string
                                description: The underlying primitive datatype (e.g., String, or Date).
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                      - title: custom_field_option
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_option
                          attributes:
                            type: object
                            required:
                            - created_at
                            - deleted_at
                            - display_name
                            - position
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              deleted_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time value, which will remove the given option from being usable. Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value. One can set this to a value to remove the option from being usable, or null to restore it and make it usable again. Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.
                              display_name:
                                type: string
                                description: The display value for this option. Must be unique across non-deleted siblings.
                              position:
                                type: integer
                                description: The ordinal position of this option. Must be unique across non-deleted siblings.
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field
                            additionalProperties: false
                            properties:
                              custom_field:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                              custom_field_color:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_color
                              paired_label:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label
                      - title: custom_field_color
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_color
                          attributes:
                            type: object
                            required:
                            - color
                            - is_system_generated
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: A color in hex format.
                              position:
                                type: number
                                description: The order in which the color will appear when rendered in a list.
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.'
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                      - title: workspace
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workspace
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Workspace object
                            properties:
                              user_is_member:
                                type: boolean
                                description: Boolean that represents whether the requesting user is a member of the workspace.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - name
                            - slug
                            - updated_at
                            - start_of_week
                            - timezone
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              name:
                                type: string
                                description: The name of the workspace.
                              slug:
                                type:
                                - string
                                - 'null'
                                description: The slug for the Workspace. This is a url-safe name for the Workspace.
                              start_of_week:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: 'The default start weekday index for the week view Calendar and for Plans. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default.

                                  With regards to the week view Calendar, values greater than 1 will be considered the same as 1.'
                              timezone:
                                type: string
                                description: The IANA time zone identifier for the default time zone used when creating resources in the workspace (e.g. America/New_York).
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - logo
                            - workspace_defaults
                            additionalProperties: false
                            properties:
                              logo:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              workspace_defaults:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace_defaults
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
              example:
                data:
                  id: a366316c-5061-46ae-94a0-3a118a8e4a1e
                  type: custom_field
                  attributes:
                    display_name: Product Description
                    description: A description of the product
                    is_deactivated: false
                    is_color_disabled: false
                    is_cascading: false
                    is_system_generated: false
                    metadata:
                      options:
                      - display_name: Option 1
                        id: 61fda0c8-0969-46e8-8aa9-8bc2fd928d83
                        position: 1
                        updated_at: '2020-09-11T15:27:01.881-08:00'
                        created_at: '2020-09-11T15:27:01.881-08:00'
                        deleted_at: '2020-09-11T15:27:01.881-08:00'
                      - display_name: Option 2
                        id: d41899b4-b7a4-4280-9c96-4d7078b06128
                        position: 2
                        updated_at: '2020-09-11T15:27:01.881-08:00'
                        created_at: '2020-09-11T15:27:01.881-08:00'
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    custom_field_type:
                      data:
                        id: 61fda0c8-0969-46e8-8aa9-8bc2fd928d83
                        type: custom_field_type
                    workspace:
                      data:
                        id: 801ba99f-f5d1-441c-8cc7-fc61acc6a8f7
                        type: workspace
                    creator:
                      data:
                        id: 801ba99f-f5d1-441c-8cc7-fc61acc6a8f7
                        type: user
                    active_options:
                      data:
                      - id: 61fda0c8-0969-46e8-8aa9-8bc2fd928d83
                        type: custom_field_option
                    deleted_options:
                      data:
                      - id: d41899b4-b7a4-4280-9c96-4d7078b06128
                        type: custom_field_option
                    paired_label_set:
                      data:
                        id: 9e97b24c-b5d9-4d2a-9677-4d339312ee70
                        type: label_set
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
[...]
