openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Block Connectors API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Block Connectors
  description: '## Block Connectors


    Block connectors link blocks to views.'
paths:
  /loupe/v3/block_connectors:
    post:
      tags:
      - Block Connectors
      operationId: CreateBlockConnectorV3
      summary: Create a new BlockConnector
      description: 'Creating a BlockConnector functionally places a Block within a View. If a Category relationship is specified as well, the Block will also be placed within that Category, and the row_index or y_scale attributes will apply to the presentation of the Block within that Category.

        Note that a Block may only be placed within a given View once; a BlockConnector cannot be created with a View if another BlockConnector exists that connects the Block to that same View already.'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - category
            - category.category_type
            - view
            - view.categories
            - view.colors
            - view.key_dates
            - view.parent_block
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - block_connector
                    attributes:
                      type: object
                      properties:
                        row_index:
                          type: integer
                          description: A 1-based value indicating its row position relative to other rows of blocks within their bounding parent, a Category.
                        y_scale:
                          type: integer
                          description: A value indicating how tall the block will be relative to the default size.
                    relationships:
                      type: object
                      required:
                      - block
                      - view
                      properties:
                        block:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - block
                        view:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - view
                        category:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - category
      responses:
        '201':
          description: A newly created BlockConnector resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: block_connector
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - block_connector
                      attributes:
                        type: object
                        required:
                        - row_index
                        - y_scale
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          row_index:
                            type: integer
                            description: A 1-based value indicating the connected block's row position relative to other rows of blocks within their bounding parent, a Category.
                          y_scale:
                            type: integer
                            description: A value indicating how tall the block will be relative to the default size specified in the Category.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - block
                        - view
                        additionalProperties: false
                        properties:
                          block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                          view:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view
                          category:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - category
              example:
                data:
                  id: 48517d52-3a25-4ca6-a7f5-55a3817fc00f
                  type: block_connector
                  attributes:
                    row_index: 1
                    y_scale: 1
                    created_at: '2026-01-15T19:30:00.881-08:00'
                    updated_at: '2026-01-15T19:30:00.881-08:00'
                  relationships:
                    view:
                      data:
                        id: c3f80757-c0ea-422c-aa51-3c9ef8e11a76
                        type: view
                    category:
                      data:
                        id: 24b4dd04-e56a-4794-95fa-ea0a0709b5a6
                        type: category
                    block:
                      data:
                        id: f649cebe-3dce-441a-8335-86707303c388
                        type: block
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/block_connectors/{block_connector_id}:
    patch:
      tags:
      - Block Connectors
      operationId: UpdateBlockConnectorV3
      summary: Update a BlockConnector
      description: 'The appearance of a Block within a Category can be affected by updating the attributes of a BlockConnector resource. Additionally, a Category relationship can be specified or nullified to place the Block within a Category, or remove it respectively.

        This route accepts an optional block side-patch via its `data.included` property. This allows you to set block attributes at the same time as updating the block connector. Modifying block relationships is not supported at this time. Including the block in the request payload does not automatically mark it for include in the response payload.'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: block_connector_id
        in: path
        required: true
        description: The ID of the BlockConnector.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - category
            - category.category_type
            - view
            - view.categories
            - view.colors
            - view.key_dates
            - view.parent_block
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  - relationships
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - block_connector
                    attributes:
                      type: object
                      properties:
                        row_index:
                          type: integer
                          description: A 1-based value indicating its row position relative to other rows of blocks within their bounding parent, a Category.
                        y_scale:
                          type: integer
                          description: A value indicating how tall the block will be relative to the default size.
                    relationships:
                      type: object
                      properties:
                        category:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - category
                included:
                  type: array
                  items:
                    type: object
                    required:
                    - id
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - block
                      attributes:
                        type: object
                        properties:
                          color:
                            type:
                            - string
                            - 'null'
                            description: A color applied to this block. Currently only supports hex values in the format of '#FFF' or '#FFFFFF'.
                          description:
                            type:
                            - string
                            - 'null'
                            maxLength: 256
                            description: Text describing the block. Maximum length of 256 characters.
                          title:
                            type: string
                            description: A descriptive name for the block.
                          start_at:
                            type:
                            - string
                            - 'null'
                            format: date
                            description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the beginning of the span of time that this block resource represents.
                          duration:
                            type:
                            - string
                            - 'null'
                            description: 'An ISO 8601 duration string: P{n}D (days), P{n}W (weeks), or P{n}M (months).

                              Week and month units are auto-normalized to days when `start_at` is provided.

                              When only `start_at` changes, the duration is automatically recalculated.

                              When `start_at` is set to null without an explicit duration, duration is cleared.

                              '
                          row_index:
                            type: integer
                            description: 'A 1-based value indicating its row position relative to other rows of blocks within their bounding parent, a Category.


                              Setting this attribute when the block has multiple

                              block_connectors will result in an error. This attribute should

                              instead be modified directly on the relevant block_connector.

                              '
                            deprecated: true
                          y_scale:
                            type: integer
                            description: 'A value indicating how tall the block will be relative to the default size.


                              Setting this attribute when the block has multiple

                              block_connectors will result in an error. This attribute should

                              instead be modified directly on the relevant block_connector.

                              '
                            deprecated: true
                          browsable:
                            type: boolean
                            description: 'Whether this block shows up in the Plans Directory (and in the

                              future, other directories).


                              If false, the block is still accessible in the web application via

                              any parent plans or connections or even by way of direct link. It

                              just won''t show up in the Plans Directory.

                              '
                            default: false
                          is_template:
                            type: boolean
                            description: 'Whether this block is a template that can be used to create new blocks.

                              Currently, templated Blocks cannot be created from paired Blocks.

                              '
                            default: false
                          is_workspace_wide_template:
                            type: boolean
                            description: 'Whether this template is available workspace-wide. When `true`, the template can be used across all plans in the workspace. When `false`, the template is only available within its origin plan.

                              This field can only be set when `is_template` is `true`.'
                            default: false
                          template_name:
                            type:
                            - string
                            - 'null'
                            description: Display name for the template. Required when `is_template` is `true`. Cannot be set to null on a template.
                          template_description:
                            type:
                            - string
                            - 'null'
                            description: Optional description of the template's purpose.
      responses:
        '201':
          description: An updated BlockConnector resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: block_connector
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - block_connector
                      attributes:
                        type: object
                        required:
                        - row_index
                        - y_scale
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          row_index:
                            type: integer
                            description: A 1-based value indicating the connected block's row position relative to other rows of blocks within their bounding parent, a Category.
                          y_scale:
                            type: integer
                            description: A value indicating how tall the block will be relative to the default size specified in the Category.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - block
                        - view
                        additionalProperties: false
                        properties:
                          block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                          view:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view
                          category:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - category
              example:
                data:
                  id: 48517d52-3a25-4ca6-a7f5-55a3817fc00f
                  type: block_connector
                  attributes:
                    row_index: 1
                    y_scale: 1
                    created_at: '2026-01-15T19:30:00.881-08:00'
                    updated_at: '2026-01-15T19:30:00.881-08:00'
                  relationships:
                    view:
                      data:
                        id: c3f80757-c0ea-422c-aa51-3c9ef8e11a76
                        type: view
                    category:
                      data:
                        id: 24b4dd04-e56a-4794-95fa-ea0a0709b5a6
                        type: category
                    block:
                      data:
                        id: f649cebe-3dce-441a-8335-86707303c388
                        type: block
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    delete:
      tags:
      - Block Connectors
      operationId: DeleteBlockConnectorV3
      summary: Delete a BlockConnector resource
      description: 'Deleting a BlockConnector effectively severs the connection between a

        Block and the View (and optionally the Category, if the BlockConnector has

        a Category relationship).'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: block_connector_id
        in: path
        required: true
        description: The ID of the BlockConnector.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The BlockConnector was successfully deleted.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
