openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Block Custom Field Values API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Block Custom Field Values
paths:
  /loupe/v3/block_custom_field_values:
    post:
      tags:
      - Block Custom Field Values
      operationId: CreateBlockCustomFieldValueV3
      x-Operation-ID: CreateBlockCustomFieldValueV3
      summary: Create a new Block Custom Field Value
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: A comma-separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - block
            - custom_field
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - block_custom_field_value
                    attributes:
                      type: object
                      required:
                      - value
                      additionalProperties: false
                      properties:
                        value:
                          type:
                          - object
                          - 'null'
                          oneOf:
                          - enum:
                            - null
                          - title: Date
                            type: object
                            required:
                            - value
                            properties:
                              value:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time value
                          - title: Text
                            type: object
                            required:
                            - value
                            properties:
                              value:
                                type: string
                                description: A plain text value.
                          - title: URL
                            type: object
                            required:
                            - url
                            properties:
                              label:
                                type:
                                - string
                                - 'null'
                                description: The display value for the URL.
                              url:
                                type: string
                                format: uri
                                description: The URL value.
                          - title: Single Select
                            type: object
                            required:
                            - id
                            properties:
                              id:
                                type: string
                                format: uuid
                                description: A UUID string representing the selected option.
                          - title: Multi Select
                            type: object
                            required:
                            - ids
                            properties:
                              ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                                description: An array of UUID strings representing the selected options
                          - title: Users Select
                            type: object
                            properties:
                              user_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                                description: An array of user UUID strings representing the selected users
                              group_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                                description: An array of user group UUID strings representing the selected groups
                    relationships:
                      type: object
                      required:
                      - block
                      - custom_field
                      properties:
                        block:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - block
                        custom_field:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - custom_field
      responses:
        '201':
          description: A newly created Block Custom Field Value resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: block_custom_field_value
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - block_custom_field_value
                      attributes:
                        type: object
                        required:
                        - value
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          value:
                            type:
                            - object
                            - 'null'
                            oneOf:
                            - enum:
                              - null
                            - title: Date
                              type: object
                              required:
                              - value
                              properties:
                                value:
                                  type: string
                                  format: date-time
                                  description: An ISO8601 date-time value
                            - title: Text
                              type: object
                              required:
                              - value
                              properties:
                                value:
                                  type: string
                                  description: A plain text value.
                            - title: URL
                              type: object
                              required:
                              - url
                              properties:
                                label:
                                  type:
                                  - string
                                  - 'null'
                                  description: The display value for the URL.
                                url:
                                  type: string
                                  format: uri
                                  description: The URL value.
                            - title: Single Select
                              type: object
                              required:
                              - id
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                  description: A UUID string representing the selected option.
                            - title: Multi Select
                              type: object
                              required:
                              - ids
                              properties:
                                ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: An array of UUID strings representing the selected options.
                            - title: Users Select
                              type: object
                              additionalProperties: false
                              properties:
                                user_ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: An array of user UUID strings representing the selected users.
                                group_ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: An array of user group UUID strings representing the selected groups.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - block
                        - custom_field
                        additionalProperties: false
                        properties:
                          block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                          custom_field:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field
                          users:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                          groups:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user_group
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: block
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - block
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated block metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_category_type:
                                type:
                                - object
                                - 'null'
                                description: The Block resource's most immediate ancestor's Category Type. See documentation for Category Type for additional details.
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    description: The Category Type's ID
                                  name:
                                    type: string
                                    description: The Category Type's display name
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    description: Optional additional descriptive text.
                                  deactivated_at:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                    description: A flag indicating whether the category type is deactivated.
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                              custom_fields:
                                type: array
                                description: "This metadata is available when requesting block resources from the\n`loupe/v3/blocks/{block_id}` `GET` endpoint.\n\nYou request that this metadata be included in responses with the `expose` query \nparameter like: `loupe/v3/blocks/{block_id}?expose[block][meta][custom_fields]`.\n\nEffective custom fields include both **directly assigned** and **inherited** fields from \nthe associated category type. Inherited fields may, or may not, have explicit \n`block_custom_field_value`s.\n\nThe result is a list of effective custom fields for the block. Can be empty or\ncontain multiple instances of any custom field type.\n\nOrdering:\n- Inherited custom fields appear first, ordered by the associated\n  Category Type’s saved custom field order.\n- Directly assigned custom fields (via block_custom_field_values)\n  follow, preserving their relative order as returned by the service.\n"
                                items:
                                  type: object
                                  required:
                                  - id
                                  - display_name
                                  - type
                                  - options
                                  - deactivated_options
                                  - association_type
                                  - data
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      description: The ID of the custom field.
                                    display_name:
                                      type: string
                                      description: The display name for this custom field.
                                    type:
                                      type: string
                                      enum:
                                      - textarea
                                      - singleSelect
                                      - multiSelect
                                      - date
                                      - url
                                      - usersSelect
                                      description: The type of custom field.
                                    association_type:
                                      type: string
                                      description: Indicates whether the field is `direct` (explicitly assigned to the block) or `inherited` (comes from the category type).
                                      enum:
                                      - direct
                                      - inherited
                                    options:
                                      type: array
                                      description: Active options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    deactivated_options:
                                      type: array
                                      description: Deactivated options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    data:
                                      description: The value for this custom field. Can be null for fields that have no value set.
                                      oneOf:
                                      - title: Field Value
                                        type: object
                                        required:
                                        - id
                                        - value
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                            description: The ID of the custom field value.
                                          value:
                                            oneOf:
                                            - title: Textarea Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: The text content.
                                            - title: Multi Select Value
                                              type: object
                                              required:
                                              - ids
                                              properties:
                                                ids:
                                                  type: array
                                                  description: List of selected option IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                            - title: Single Select Value
                                              type: object
                                              required:
                                              - id
                                              properties:
                                                id:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: uuid
                                                  description: The selected option ID.
                                            - title: Date Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: date-time
                                                  description: The selected date.
                                            - title: URL Value
                                              type: object
                                              required:
                                              - url
                                              properties:
                                                url:
                                                  type: string
                                                  format: uri
                                                  description: The URL value.
                                                label:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: Optional display label for the URL.
                                            - title: Users Select Value
                                              type: object
                                              additionalProperties: false
                                              properties:
                                                user_ids:
                                                  type: array
                                                  description: List of selected user IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                                group_ids:
                                                  type: array
                                                  description: List of selected user group IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                      - title: 'Null'
                                        type:
                                        - object
                                        - 'null'
                                        enum:
                                        - null
                          attributes:
                            type: object
                            required:
                            - color
                            - description
                            - duration
                            - title
                            - start_at
                            - row_index
                            - y_scale
                            - browsable
                            - is_template
                            - template_name
                            - template_description
                            - is_workspace_wide_template
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: A color applied to this block. Currently only supports hex values in the format of '#FFF' or '#FFFFFF'.
                              description:
                                type:
                                - string
                                - 'null'
                                description: Text describing the block. Maximum length of 256 characters.
                              title:
                                type: string
                                description: A descriptive name for the block.
                              start_at:
                                type:
                                - string
                                - 'null'
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the beginning of the span of time that this block resource represents.
                              end_at:
                                type:
                                - string
                                - 'null'
                                deprecated: true
                                description: 'DEPRECATED: migrate to `duration`.

                                  An ISO 8601-formatted (''YYYY-MM-DD'') date marking the end of the span of time that this block resource respresents. The start_at value must be a date ocurring before the end_at value.'
                              duration:
                                type:
                                - string
                                - 'null'
                                description: 'An ISO 8601 duration string representing the length of time this block spans.

                                  Permitted formats: P{n}D (days), P{n}W (weeks), P{n}M (months).

                                  When a block has a start_at, the duration is always in days. Week and month

                                  units are only used for unscheduled blocks (start_at is null).

                                  Clients compute end_at as start_at + duration.

                                  '
                              row_index:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A 1-based value indicating its row position relative to other rows of blocks within their bounding parent, a Category.

                                  '
                              y_scale:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A value indicating how tall the block will be relative to the default size.

                                  '
                              browsable:
                                type: boolean
                                description: 'Whether this block shows up in the Plans Directory (and in the

                                  future, other directories).


                                  If false, the block is still accessible in the web application via

                                  any parent plans or connections or even by way of direct link. It

                                  just won''t show up in the Plans Directory.

                                  '
                                default: false
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was created.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                                readOnly: true
                              is_template:
                                type: boolean
                                readOnly: true
                                description: 'Whether this block is a template that can be used to create new blocks.

                                  This field is read-only and cannot be set directly. Templates are created

                                  by duplicating an existing block with `is_template=true` via the block

                                  duplication endpoint.


                                  To remove a block from being a template, use the `delete` endpoint for Blocks.

                                  '
                                default: false
                              is_workspace_wide_template:
                                type: boolean
                                description: 'Whether this template is available workspace-wide. When `true`, the template can be used across all plans in the workspace. When `false`, the template is only available within its origin plan.

                                  This field can only be set when `is_template` is `true`.'
                                default: false
                              template_name:
                                type:
                                - string
                                - 'null'
                                description: Display name for the template. Required when `is_template` is `true`.
                              template_description:
                                type:
                                - string
                                - 'null'
                                description: Optional description of the template's purpose.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - creator
                            - owner
                            - rich_text_document
                            - workspace
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              boards:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board
                              block_connectors:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_connector
                              category:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category
                              category_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              rich_text_document:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - rich_text_document
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              view:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              child_view:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              custom_field_values:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_custom_field_value
                              inherited_custom_field_values:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_custom_field_value
                              paired_moment:
                                allOf:
                                - description: 'Only blocks of a type that supports moment pairing are allowed to

                                    have paired moments. Furthermore, this relationship is only

                                    writable when first creating a block and cannot be changed

                                    thereafter. If a block of a type that supports moment pairing is

                                    created without specifying a paired_moment, a new paired_moment

                                    is created for that block.


                                    **NOTE** that this relationship is currently [PROPOSED], not implemented.

                                    '
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type:
                                      - object
                                      - 'null'
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
              example:
                data:
                  id: 27708372-bbfd-4e3d-87df-b4ada15b9413
                  type: block_custom_field_value
                  attributes:
                    value:
                      value: '2020-09-11T15:27:01.881-08:00'
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    block:
                      data:
                        id: c3f80757-c0ea-422c-aa51-3c9ef8e11a76
                        type: block
                    custom_field:
                      data:
                        id: 2a3990b7-ed39-41c0-a9ed-f7ea9b60998f
                        type: custom_field
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/block_custom_field_values/{block_custom_field_value_id}:
    get:
      tags:
      - Block Custom Field Values
      operationId: ReadBlockCustomFieldValueV3
      summary: Get a Block Custom Field Value by the given ID
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: block_custom_field_value_id
        in: path
        required: true
        description: The ID of the Block Custom Field Value to retrieve.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma-separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - block
            - custom_field
        style: form
        explode: false
      responses:
        '200':
          description: The requested Block Custom Field Value
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: block_custom_field_value
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - block_custom_field_value
                      attributes:
                        type: object
                        required:
                        - value
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          value:
                            type:
                            - object
                            - 'null'
                            oneOf:
                            - enum:
                              - null
                            - title: Date
                              type: object
                              required:
                              - value
                              properties:
                                value:
                                  type: string
                                  format: date-time
                                  description: An ISO8601 date-time value
                            - title: Text
                              type: object
                              required:
                              - value
                              properties:
                                value:
                                  type: string
                                  description: A plain text value.
                            - title: URL
                              type: object
                              required:
                              - url
                              properties:
                                label:
                                  type:
                                  - string
                                  - 'null'
                                  description: The display value for the URL.
                                url:
                                  type: string
                                  format: uri
                                  description: The URL value.
                            - title: Single Select
                              type: object
                              required:
                              - id
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                  description: A UUID string representing the selected option.
                            - title: Multi Select
                              type: object
                              required:
                              - ids
                              properties:
                                ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: An array of UUID strings representing the selected options.
                            - title: Users Select
                              type: object
                              additionalProperties: false
                              properties:
                                user_ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: An array of user UUID strings representing the selected users.
                                group_ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: An array of user group UUID strings representing the selected groups.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - block
                        - custom_field
                        additionalProperties: false
                        properties:
                          block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                          custom_field:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field
                          users:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                          groups:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user_group
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: block
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - block
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated block metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_category_type:
                                type:
                                - object
                                - 'null'
                                description: The Block resource's most immediate ancestor's Category Type. See documentation for Category Type for additional details.
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    description: The Category Type's ID
                                  name:
                                    type: string
                                    description: The Category Type's display name
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    description: Optional additional descriptive text.
                                  deactivated_at:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                    description: A flag indicating whether the category type is deactivated.
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                              custom_fields:
                                type: array
                                description: "This metadata is available when requesting block resources from the\n`loupe/v3/blocks/{block_id}` `GET` endpoint.\n\nYou request that this metadata be included in responses with the `expose` query \nparameter like: `loupe/v3/blocks/{block_id}?expose[block][meta][custom_fields]`.\n\nEffective custom fields include both **directly assigned** and **inherited** fields from \nthe associated category type. Inherited fields may, or may not, have explicit \n`block_custom_field_value`s.\n\nThe result is a list of effective custom fields for the block. Can be empty or\ncontain multiple instances of any custom field type.\n\nOrdering:\n- Inherited custom fields appear first, ordered by the associated\n  Category Type’s saved custom field order.\n- Directly assigned custom fields (via block_custom_field_values)\n  follow, preserving their relative order as returned by the service.\n"
                                items:
                                  type: object
                                  required:
                                  - id
                                  - display_name
                                  - type
                                  - options
                                  - deactivated_options
                                  - association_type
                                  - data
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      description: The ID of the custom field.
                                    display_name:
                                      type: string
                                      description: The display name for this custom field.
                                    type:
                                      type: string
                                      enum:
                                      - textarea
                                      - singleSelect
                                      - multiSelect
                                      - date
                                      - url
                                      - usersSelect
                                      description: The type of custom field.
                                    association_type:
                                      type: string
                                      description: Indicates whether the field is `direct` (explicitly assigned to the block) or `inherited` (comes from the category type).
                                      enum:
                                      - direct
                                      - inherited
                                    options:
                                      type: array
                                      description: Active options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    deactivated_options:
                                      type: array
                                      description: Deactivated options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    data:
                                      description: The value for this custom field. Can be null for fields that have no value set.
                                      oneOf:
                                      - title: Field Value
                                        type: object
                                        required:
                                        - id
                                        - value
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                            description: The ID of the custom field value.
                                          value:
                                            oneOf:
                                            - title: Textarea Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: The text content.
                                            - title: Multi Select Value
                                              type: object
                                              required:
                                              - ids
                                              properties:
                                                ids:
                                                  type: array
                                                  description: List of selected option IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                            - title: Single Select Value
                                              type: object
                                              required:
                                              - id
                                              properties:
                                                id:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: uuid
                                                  description: The selected option ID.
                                            - title: Date Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: date-time
                                                  description: The selected date.
                                            - title: URL Value
                                              type: object
                                              required:
                                              - url
                                              properties:
                                                url:
                                                  type: string
                                                  format: uri
                                                  description: The URL value.
                                                label:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: Optional display label for the URL.
                                            - title: Users Select Value
                                              type: object
                                              additionalProperties: false
                                              properties:
                                                user_ids:
                                                  type: array
                                                  description: List of selected user IDs.
                                                  items:
[...]
