openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Post Types API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Post Types
paths:
  /post_types/v2:
    get:
      tags:
      - Post Types
      operationId: ReadPostTYpesV2
      summary: Returns a list of Post Typs
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: filter
        in: query
        description: 'Filters for limiting the results.

          '
        required: false
        schema:
          type: object
          properties:
            brand_id:
              type: array
              description: 'The IDs of the workspaces to which results should be filtered.

                "Workspace ID" and "Brand ID" are synonymous.

                Comma separated list of IDs. If included, will only fetch resources associated with these brands. If not included, will return resources associated with all brands that the user belongs to. For example, `filter[brand_id]=1` will fetch all resources associated with brand 1, while `filter[brand_id]=1,2,3` will fetch any resources associated with brands 1, 2, or 3.

                '
              items:
                type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: An array of post types
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: post_type
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - post_type
                        attributes:
                          type: object
                          required:
                          - created_at
                          additionalProperties: false
                          properties:
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                            is_supported:
                              type: boolean
                              description: Whether or not a Post Type is standard for all Opals.
                            name:
                              type: string
                              description: The name of the Post Type
                            system_name:
                              type: string
                              description: The unique name used to look up a Post Type
                            updated_at:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                        relationships:
                          type: object
                          additionalProperties: false
                          required:
                          - brand
                          - opal
                          properties:
                            brand:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - brand
                            opal:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - opal
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '1'
                  type: post_type
                  attributes:
                    created_at: '2020-01-01T00:00:00-07:00'
                    is_supported: false
                    name: website card
                    system_name: website_card
                    updated_at: '2020-07-01T00:00:00-07:00'
                  relationships:
                    brand:
                      data: null
                    opal:
                      data: null
                - id: '1'
                  type: post_type
                  attributes:
                    created_at: '2020-01-01T00:00:00-07:00'
                    is_supported: false
                    name: wide_skyscraper
                    system_name: wide_skyscraper
                    updated_at: '2020-07-01T00:00:00-07:00'
                  relationships:
                    brand:
                      data: null
                    opal:
                      data: null
                meta:
                  total: 2
                  resource_type: post_type
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
