openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Asset Reference Options API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Asset Reference Options
paths:
  /api/v1/asset_references/asset_reference_options:
    post:
      tags:
      - Asset Reference Options
      operationId: CreateAssetReferenceOptionV1
      summary: Create a new asset reference option
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - asset_reference_option
                    attributes:
                      type: object
                      properties:
                        value:
                          type: string
                          description: Value for selected option. Note that if a value is included, an option_value relationship cannot be included. Similarly, if an option_value is included, then a value cannot be included.
                    relationships:
                      type: object
                      required:
                      - asset_reference
                      - option
                      properties:
                        asset_reference:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - asset_reference
                        option:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - option
                        option_value:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - option_value
            example:
              data:
                type: asset_reference_option
                attributes:
                  value: An approval phase value. Note that no option value is included in relationships
                relationships:
                  asset_reference:
                    data:
                      id: '1'
                      type: asset_reference
                  option:
                    data:
                      id: '2'
                      type: option
      responses:
        '201':
          description: A newly created asset reference option resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: asset_reference_option
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - asset_reference_option
                      attributes:
                        type: object
                        required:
                        - created_at
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          value:
                            type:
                            - string
                            - 'null'
                            description: A user entered value for the AssetReferenceOption
                      relationships:
                        type: object
                        required:
                        - asset_reference
                        - option
                        additionalProperties: false
                        properties:
                          asset_reference:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - asset_reference
                          option:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - option
                          option_value:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - option_value
              example:
                data:
                  type: asset_reference_option
                  id: '1'
                  attributes:
                    value: An approval phase value. Note that no option value is included in relationships
                    created_at: '2020-08-01T00:00:00.000-07:00'
                  relationships:
                    asset_reference:
                      data:
                        id: '1'
                        type: asset_reference
                    option:
                      data:
                        id: '2'
                        type: option
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    delete:
      tags:
      - Asset Reference Options
      operationId: DeleteAssetReferenceOptionV1
      summary: Delete an Asset Reference Option
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the Asset Reference Option
        schema:
          type: string
      responses:
        '204':
          description: Successfully delete Asset Reference Option
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
