openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Asset References API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Asset References
  description: '## Asset References Overview

    In Opal, you create `assets` to represent files uploaded to the platform and

    `asset_references` to surface those assets for use in the Asset Library,

    Moments, Content, and more.'
paths:
  /api/v1/asset_references:
    post:
      tags:
      - Asset References
      operationId: CreateAssetReferenceV1
      summary: Create an asset reference, optionally associated with Opal objects
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - asset_reference
                    attributes:
                      type: object
                      required:
                      - asset_uuid
                      - filename
                      - filesize
                      - full_url
                      properties:
                        asset_type:
                          type: string
                          description: 'This field is semi-open ended but should be set to `image`, `audio`,

                            or `video` for those respective types of media and `file` for most

                            other types of media.

                            '
                        asset_source:
                          type:
                          - string
                          - 'null'
                          description: 'Asset Sources are pre-existing records indicating the origin of an

                            asset reference. You can''t set this field to arbitrary values. If you

                            know of an Asset Source and you''d like to indicate a new asset

                            reference originated with that source, this field should contain that

                            source''s name.

                            '
                        asset_uuid:
                          type: string
                          description: 'The `id` of an `asset` resource this asset reference will surface

                            within the Asset Library.

                            '
                        content_type:
                          type: string
                          description: 'This field was used by some legacy systems. It is exposed for

                            historical reasons. If set, setting it to the same value as

                            `asset_type` is generally a good idea. It is not a MIME type.

                            '
                        description:
                          type: string
                        format:
                          type: string
                          description: 'Used differently by some legacy systems but any new asset reference

                            should use the `format` field to store its filetype extension (ex. `png`,

                            `mp4`, `gif`, `mov`, etc.).

                            '
                        filename:
                          type: string
                        filesize:
                          type: integer
                          description: Size of file in bytes.
                        full_url:
                          type: string
                          description: 'When associating an asset with an asset reference, this field

                            should be set to the `url` property of the asset.

                            '
                        meta_data:
                          type: object
                          description: Can contain arbitrary key-value pairs related to the asset.
                          additionalProperties:
                            type: string
                        original_url:
                          type: string
                        public_id:
                          type: string
                        width:
                          type: integer
                          description: 'When associating an asset with an asset reference, this field

                            should be set to the `width` of the asset.

                            '
                        height:
                          type: integer
                          description: 'When associating an asset with an asset reference, this field

                            should be set to the `height` of the asset.

                            '
                        uuid:
                          type: string
                        s3_response:
                          type: string
                    relationships:
                      type: object
                      properties:
                        brand:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - brand
                        stories:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - story
                        labels:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - label
      responses:
        '201':
          description: A newly created asset reference.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: asset_reference
                    type: object
                    required:
                    - id
                    - attributes
                    - type
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - asset_reference
                      attributes:
                        type: object
                        required:
                        - asset_type
                        - asset_uuid
                        - content_type
                        - format
                        - filename
                        - escaped_filename
                        - filesize
                        - full_url
                        - meta_data
                        - original_url
                        - preview_url
                        - public_id
                        - width
                        - height
                        - uuid
                        additionalProperties: false
                        properties:
                          asset_type:
                            type:
                            - string
                            - 'null'
                            description: 'This field is semi-open ended but should be set to `image`, `audio`,

                              or `video` for those respective types of media and `file` for most

                              other types of media.

                              '
                          asset_source:
                            type:
                            - string
                            - 'null'
                            description: 'Asset Sources are pre-existing records indicating the origin of an

                              asset reference. You can''t set this field to arbitrary values. If you

                              know of an Asset Source and you''d like to indicate a new asset

                              reference originated with that source, this field should contain that

                              source''s name.

                              '
                          asset_uuid:
                            type:
                            - string
                            - 'null'
                            description: 'The `id` of an `asset` resource this asset reference will surface

                              within the Asset Library.

                              '
                          content_type:
                            type:
                            - string
                            - 'null'
                            description: 'This field was used by some legacy systems. It is exposed for

                              historical reasons. If set, setting it to the same value as

                              `asset_type` is generally a good idea. It is not a MIME type.

                              '
                          description:
                            type:
                            - string
                            - 'null'
                          format:
                            type:
                            - string
                            - 'null'
                            description: 'Used differently by some legacy systems but any new asset reference

                              should use the `format` field to store its filetype extension (ex. `png`,

                              `mp4`, `gif`, `mov`, etc.).

                              '
                          filename:
                            type:
                            - string
                            - 'null'
                          escaped_filename:
                            type: string
                            readOnly: true
                          filesize:
                            type:
                            - integer
                            - 'null'
                            description: Size of file in bytes.
                          full_url:
                            type:
                            - string
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `url` property of the asset.

                              '
                          meta_data:
                            type:
                            - object
                            - 'null'
                            description: Can contain arbitrary key-value pairs related to the asset.
                            properties:
                              duration:
                                type: string
                                description: Parsed from video assets.
                              page_count:
                                type: string
                                description: Parsed from PDF assets.
                              processed_height:
                                type: string
                                description: Parsed from video assets.
                              processed_width:
                                type: string
                                description: Parsed from video assets.
                            additionalProperties:
                              type: string
                          original_url:
                            type:
                            - string
                            - 'null'
                          preview_url:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          public_id:
                            type:
                            - string
                            - 'null'
                          width:
                            type:
                            - integer
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `width` of the asset.

                              '
                          height:
                            type:
                            - integer
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `height` of the asset.

                              '
                          uuid:
                            type: string
                            readOnly: true
                            description: 'Use this ID when referring to the same asset reference from one of

                              Opal''s v3 APIs.

                              '
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          brand:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - brand
                          stories:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - story
                          cover_asset_reference:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - asset_reference
                          labels:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - label
                          asset_reference_options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - asset_reference_option
                          options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - option
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /api/v1/asset_references/{asset_reference_id}:
    get:
      tags:
      - Asset References
      operationId: ReadAssetReferencesV1
      summary: Get an asset reference available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: asset_reference_id
        in: path
        required: true
        description: The ID of the Asset Reference
        schema:
          type: string
      responses:
        '200':
          description: An single asset reference.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: asset_reference
                    type: object
                    required:
                    - id
                    - attributes
                    - type
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - asset_reference
                      attributes:
                        type: object
                        required:
                        - asset_type
                        - asset_uuid
                        - content_type
                        - format
                        - filename
                        - escaped_filename
                        - filesize
                        - full_url
                        - meta_data
                        - original_url
                        - preview_url
                        - public_id
                        - width
                        - height
                        - uuid
                        additionalProperties: false
                        properties:
                          asset_type:
                            type:
                            - string
                            - 'null'
                            description: 'This field is semi-open ended but should be set to `image`, `audio`,

                              or `video` for those respective types of media and `file` for most

                              other types of media.

                              '
                          asset_source:
                            type:
                            - string
                            - 'null'
                            description: 'Asset Sources are pre-existing records indicating the origin of an

                              asset reference. You can''t set this field to arbitrary values. If you

                              know of an Asset Source and you''d like to indicate a new asset

                              reference originated with that source, this field should contain that

                              source''s name.

                              '
                          asset_uuid:
                            type:
                            - string
                            - 'null'
                            description: 'The `id` of an `asset` resource this asset reference will surface

                              within the Asset Library.

                              '
                          content_type:
                            type:
                            - string
                            - 'null'
                            description: 'This field was used by some legacy systems. It is exposed for

                              historical reasons. If set, setting it to the same value as

                              `asset_type` is generally a good idea. It is not a MIME type.

                              '
                          description:
                            type:
                            - string
                            - 'null'
                          format:
                            type:
                            - string
                            - 'null'
                            description: 'Used differently by some legacy systems but any new asset reference

                              should use the `format` field to store its filetype extension (ex. `png`,

                              `mp4`, `gif`, `mov`, etc.).

                              '
                          filename:
                            type:
                            - string
                            - 'null'
                          escaped_filename:
                            type: string
                            readOnly: true
                          filesize:
                            type:
                            - integer
                            - 'null'
                            description: Size of file in bytes.
                          full_url:
                            type:
                            - string
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `url` property of the asset.

                              '
                          meta_data:
                            type:
                            - object
                            - 'null'
                            description: Can contain arbitrary key-value pairs related to the asset.
                            properties:
                              duration:
                                type: string
                                description: Parsed from video assets.
                              page_count:
                                type: string
                                description: Parsed from PDF assets.
                              processed_height:
                                type: string
                                description: Parsed from video assets.
                              processed_width:
                                type: string
                                description: Parsed from video assets.
                            additionalProperties:
                              type: string
                          original_url:
                            type:
                            - string
                            - 'null'
                          preview_url:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          public_id:
                            type:
                            - string
                            - 'null'
                          width:
                            type:
                            - integer
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `width` of the asset.

                              '
                          height:
                            type:
                            - integer
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `height` of the asset.

                              '
                          uuid:
                            type: string
                            readOnly: true
                            description: 'Use this ID when referring to the same asset reference from one of

                              Opal''s v3 APIs.

                              '
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          brand:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - brand
                          stories:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - story
                          cover_asset_reference:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - asset_reference
                          labels:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - label
                          asset_reference_options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - asset_reference_option
                          options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - option
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    patch:
      tags:
      - Asset References
      operationId: UpdateAssetReferenceV1
      summary: Updates an asset reference and its associations with Opal objects
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: asset_reference_id
        in: path
        required: true
        description: The ID of the Asset Reference
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - asset_reference
                    attributes:
                      type: object
                      properties:
                        meta_data:
                          type: object
                          description: Can contain arbitrary key-value pairs related to the asset.
                          additionalProperties:
                            type: string
                    relationships:
                      type: object
                      properties:
                        stories:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - story
                        labels:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - label
                        cover_asset_reference:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - asset_reference
      responses:
        '200':
          description: An updated asset reference.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: asset_reference
                    type: object
                    required:
                    - id
                    - attributes
                    - type
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - asset_reference
                      attributes:
                        type: object
                        required:
                        - asset_type
                        - asset_uuid
                        - content_type
                        - format
                        - filename
                        - escaped_filename
                        - filesize
                        - full_url
                        - meta_data
                        - original_url
                        - preview_url
                        - public_id
                        - width
                        - height
                        - uuid
                        additionalProperties: false
                        properties:
                          asset_type:
                            type:
                            - string
                            - 'null'
                            description: 'This field is semi-open ended but should be set to `image`, `audio`,

                              or `video` for those respective types of media and `file` for most

                              other types of media.

                              '
                          asset_source:
                            type:
                            - string
                            - 'null'
                            description: 'Asset Sources are pre-existing records indicating the origin of an

                              asset reference. You can''t set this field to arbitrary values. If you

                              know of an Asset Source and you''d like to indicate a new asset

                              reference originated with that source, this field should contain that

                              source''s name.

                              '
                          asset_uuid:
                            type:
                            - string
                            - 'null'
                            description: 'The `id` of an `asset` resource this asset reference will surface

                              within the Asset Library.

                              '
                          content_type:
                            type:
                            - string
                            - 'null'
                            description: 'This field was used by some legacy systems. It is exposed for

                              historical reasons. If set, setting it to the same value as

                              `asset_type` is generally a good idea. It is not a MIME type.

                              '
                          description:
                            type:
                            - string
                            - 'null'
                          format:
                            type:
                            - string
                            - 'null'
                            description: 'Used differently by some legacy systems but any new asset reference

                              should use the `format` field to store its filetype extension (ex. `png`,

                              `mp4`, `gif`, `mov`, etc.).

                              '
                          filename:
                            type:
                            - string
                            - 'null'
                          escaped_filename:
                            type: string
                            readOnly: true
                          filesize:
                            type:
                            - integer
                            - 'null'
                            description: Size of file in bytes.
                          full_url:
                            type:
                            - string
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `url` property of the asset.

                              '
                          meta_data:
                            type:
                            - object
                            - 'null'
                            description: Can contain arbitrary key-value pairs related to the asset.
                            properties:
                              duration:
                                type: string
                                description: Parsed from video assets.
                              page_count:
                                type: string
                                description: Parsed from PDF assets.
                              processed_height:
                                type: string
                                description: Parsed from video assets.
                              processed_width:
                                type: string
                                description: Parsed from video assets.
                            additionalProperties:
                              type: string
                          original_url:
                            type:
                            - string
                            - 'null'
                          preview_url:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          public_id:
                            type:
                            - string
                            - 'null'
                          width:
                            type:
                            - integer
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `width` of the asset.

                              '
                          height:
                            type:
                            - integer
                            - 'null'
                            description: 'When associating an asset with an asset reference, this field

                              should be set to the `height` of the asset.

                              '
                          uuid:
                            type: string
                            readOnly: true
                            description: 'Use this ID when referring to the same asset reference from one of

                              Opal''s v3 APIs.

                              '
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          brand:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - brand
                          stories:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - story
                          cover_asset_reference:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - asset_reference
                          labels:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - label
                          asset_reference_options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - asset_reference_option
                          options:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - option
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    delete:
      tags:
      - Asset References
      operationId: DeleteAssetReferenceV1
      summary: Deletes an asset reference
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: asset_reference_id
        in: path
        required: true
        description: The ID of the Asset Reference
        schema:
          type: string
      responses:
        '204':
          description: The asset reference was successfully deleted.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
