openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Board Collaborators API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Board Collaborators
  description: '## Board Collaborators Overview

    Board Collaborators allow opal users to add other users as a collaborator on their **private** Boards. This allows the Collaborators to view and edit the Board as if they were the owner.


    Because **public** Boards are already available to any user in your Workspace, they do not require Board Collaborators. The endpoints are not available for these public Boards and will return error messages accordingly.'
paths:
  /board_collaborators/v3:
    get:
      tags:
      - Board Collaborators
      operationId: ReadBoardCollaboratorsV3
      summary: Get Board Collaborators available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter
        in: query
        description: 'Filters for limiting the results.

          '
        required: false
        schema:
          type: object
          properties:
            board_id:
              description: Retrieve board collaborators by the associated board ID.
              type: string
              format: uuid
            collaborator_id:
              description: Retrieve board collaborators by the associated collaborator ID.
              type: string
              format: uuid
        style: deepObject
        explode: true
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - board
            - collaborator
            - collaborator_group
            - collaborator_group.asset
            - collaborator.profile
            - collaborator.profile.avatar_asset_reference
        style: form
        explode: false
      responses:
        '200':
          description: A collection of Board Collaborators for private Boards.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: board_collaborator
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - board_collaborator
                        attributes:
                          type: object
                          required:
                          - created_at
                          - updated_at
                          additionalProperties: false
                          properties:
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's creation date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's most recent updated date-time.
                              readOnly: true
                        relationships:
                          type: object
                          required:
                          - board
                          - collaborator
                          - collaborator_group
                          additionalProperties: false
                          properties:
                            board:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - board
                            collaborator:
                              title: User
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                            collaborator_group:
                              title: User Group
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user_group
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - links
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset
                          attributes:
                            type: object
                            required:
                            - bytes
                            - created_at
                            - download_url_override
                            - duration
                            - file_extension
                            - file_name
                            - height
                            - mime_type
                            - updated_at
                            - url
                            - width
                            additionalProperties: false
                            properties:
                              url:
                                type: string
                              download_url_override:
                                type:
                                - string
                                - 'null'
                                description: 'An alternative download URL for the file. If set, downloading the

                                  asset will result in a redirect to the overridden location instead of

                                  downloading the asset data directly. When not present, `url` should

                                  be used.

                                  '
                              width:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the width in pixels of an image or video.
                              height:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the height in pixels of an image or video.
                              duration:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the play time of a video in seconds.
                              pages:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the number of pages in a PDF document.
                              mime_type:
                                type: string
                                description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) that corresponds to the uploaded file.
                              file_name:
                                type: string
                              file_extension:
                                type: string
                              bytes:
                                type: integer
                                description: The size of the file in bytes.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                          relationships:
                            required:
                            - opal
                            type: object
                            additionalProperties: false
                            properties:
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                      - title: asset_reference
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset_reference
                          attributes:
                            type: object
                            required:
                            - asset_type
                            - content_type
                            - created_at
                            - description
                            - escaped_filename
                            - filename
                            - filesize
                            - format
                            - full_url
                            - height
                            - legacy_id
                            - meta_data
                            - original_url
                            - preview_url
                            - public_id
                            - updated_at
                            - width
                            additionalProperties: false
                            properties:
                              asset_type:
                                type:
                                - string
                                - 'null'
                              content_type:
                                type:
                                - string
                                - 'null'
                              created_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                              escaped_filename:
                                type: string
                              filename:
                                type:
                                - string
                                - 'null'
                              filesize:
                                type:
                                - integer
                                - 'null'
                                description: Size of file in bytes.
                              format:
                                type:
                                - string
                                - 'null'
                              full_url:
                                type:
                                - string
                                - 'null'
                              height:
                                type:
                                - integer
                                - 'null'
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              meta_data:
                                type:
                                - object
                                - 'null'
                              original_url:
                                type:
                                - string
                                - 'null'
                              preview_url:
                                type:
                                - string
                                - 'null'
                              public_id:
                                type:
                                - string
                                - 'null'
                                x-not-relationship: true
                              updated_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              width:
                                type:
                                - integer
                                - 'null'
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              cover_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                      - title: board
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board
                          attributes:
                            type: object
                            required:
                            - created_at
                            - description
                            - is_public
                            - is_archived
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                                description: A description of the board.
                              is_public:
                                type: boolean
                                description: 'Indicates whether or not a board and all of its contents are visible

                                  to users in the workspace. Unless otherwise specified, this value is

                                  `false` by default. Boards are always visible to the user that created

                                  them.

                                  '
                              is_archived:
                                type: boolean
                                description: 'Indicates whether or not a board has been archived. If set to

                                  `true`, the UI will only display the board in the ‘Archived

                                  Boards’ view. If set to `false` (the default), the board may be

                                  displayed in other views, depending on the user’s filter

                                  settings.

                                  '
                              title:
                                type: string
                                description: The name of the board.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - created_by_user
                            - workspace
                            properties:
                              asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              board_collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_collaborator
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              object_collections:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object_collection
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_columns:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_column
                              board_user_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - board_user_setting
                              default_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the User object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: An ID that can be used with `v2` APIs.
                          relationships:
                            type: object
                            required:
                            - profile
                            - workspaces
                            additionalProperties: false
                            properties:
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              workspaces:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workspace
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                      - title: user_group
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user_group
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated user_group metadata that is not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_member_users:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                          attributes:
                            type: object
                            required:
                            - name
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                                description: The display name which will appear in the Opal application UI where used.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the user group.
                              is_archived:
                                type: boolean
                                description: 'A true/false value indicating whether this user group is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the user group.

                                  '
                              external_resource_type:
                                type:
                                - string
                                - 'null'
                                description: (internal-use only) For system-generated groups, the type of the resource that it represents.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            required:
                            - created_by_user
                            - members
                            - inherited_groups
                            type: object
                            additionalProperties: false
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              external_resource:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - external_resource
                              members:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              inherited_groups:
                                allOf:
                                - description: "These are groups whose members should be considered part of this group.\n\nIMPORTANT: This relationship cannot be set by third party clients yet. It \nis currently used internally and is safe to reason about, but editing will\nproduce a bad request error.\n"
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          type:
                                            type: string
                                            enum:
                                            - user_group
                      - title: user_profile
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user_profile
                          attributes:
                            type: object
                            required:
                            - bio
                            - created_at
                            - job_title
                            - location
                            - segments
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              bio:
                                type:
                                - string
                                - 'null'
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              job_title:
                                type:
                                - string
                                - 'null'
                              location:
                                type:
                                - string
                                - 'null'
                              segments:
                                type:
                                - array
                                - 'null'
                                items:
                                  type: string
                                description: List of user-selected job functions to more accurately describe their role and responsibilities.
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: An ID that can be used with `v2` APIs.
                          relationships:
                            type: object
                            required:
                            - avatar_asset_reference
                            - user
                            additionalProperties: false
                            properties:
                              avatar_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: 383f568a-5156-4501-8fbe-eee1ab189837
                  type: board_collaborator
                  attributes:
                    created_at: '2020-01-01T12:00:00.000-08:00'
                    updated_at: '2020-12-31T15:27:01.881-08:00'
                  relationships:
                    board:
                      data:
                        id: 3255c5c2-818a-4ae4-9312-ee0e938dc8e4
                        type: board
                    collaborator:
                      data:
                        id: c53fa6f9-b8c5-4238-909c-eb0eb75bdb19
                        type: user
                    collaborator_group:
                      data: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    post:
      tags:
      - Board Collaborators
      operationId: CreateBoardCollaboratorV3
      summary: Create a new Board Collaborator for a private Board
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - board
            - collaborator
            - collaborator_group
            - collaborator_group.asset
            - collaborator.profile
            - collaborator.profile.avatar_asset_reference
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - board_collaborator
                    attributes:
                      type: object
                      additionalProperties: false
                      properties: {}
                    relationships:
                      description: 'One of either the `collaborator` or `collaborator_group`

                        relationships must be provided in this request.

                        '
                      type: object
                      required:
                      - board
                      properties:
                        board:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - board
                        collaborator:
                          title: User
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - user
                        collaborator_group:
                          title: User Group
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - user_group
      responses:
        '201':
          description: A newly-created Board Collaborator resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: board_collaborator
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - board_collaborator
                      attributes:
                        type: object
                        required:
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - board
                        - collaborator
                        - collaborator_group
                        additionalProperties: false
                        properties:
                          board:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - board
                          collaborator:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          collaborator_group:
                            title: User Group
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user_group
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - links
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset
                          attributes:
                            type: object
                            required:
                            - bytes
                            - created_at
                            - download_url_override
                            - duration
                            - file_extension
                            - file_name
                            - height
                            - mime_type
                            - updated_at
                            - url
                            - width
                            additionalProperties: false
                            properties:
                              url:
                                type: string
                              download_url_override:
                                type:
                                - string
                                - 'null'
                                description: 'An alternative download URL for the file. If set, downloading the

                                  asset will result in a redirect to the overridden location instead of

                                  downloading the asset data directly. When not present, `url` should

                                  be used.

                                  '
                              width:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the width in pixels of an image or video.
                              height:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the height in pixels of an image or video.
                              duration:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the play time of a video in seconds.
                              pages:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the number of pages in a PDF document.
                              mime_type:
                                type: string
                                description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) that corresponds to the uploaded file.
                              file_name:
                                type: string
                              file_extension:
                                type: string
                              bytes:
                                type: integer
                                description: The size of the file in bytes.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                          relationships:
                            required:
                            - opal
                            type: object
                            additionalProperties: false
                            properties:
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                      - title: asset_reference
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset_reference
                          attributes:
                            type: object
                            required:
                            - asset_type
                            - content_type
                            - created_at
                            - description
                            - escaped_filename
                            - filename
                            - filesize
                            - format
                            - full_url
                            - height
                            - legacy_id
                            - meta_data
                            - original_url
                            - preview_url
                            - public_id
                            - updated_at
                            - width
                            additionalProperties: false
                            properties:
                              asset_type:
                                type:
                                - string
                                - 'null'
                              content_type:
                                type:
                                - string
                                - 'null'
                              created_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                              escaped_filename:
                                type: string
                              filename:
                                type:
                                - string
                                - 'null'
                              filesize:
                                type:
                                - integer
                                - 'null'
                                description: Size of file in bytes.
                              format:
                                type:
                                - string
                                - 'null'
                              full_url:
                                type:
                                - string
                                - 'null'
                              height:
                                type:
                                - integer
                                - 'null'
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              meta_data:
                                type:
                                - object
                                - 'null'
                              original_url:
                                type:
                                - string
                                - 'null'
                              preview_url:
                                type:
                                - string
                                - 'null'
                              public_id:
                                type:
                                - string
                                - 'null'
                                x-not-relationship: true
                              updated_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              width:
                                type:
                                - integer
                                - 'null'
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              cover_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                      - title: board
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board
                          attributes:
                            type: object
                            required:
                            - created_at
                            - description
                            - is_public
                            - is_archived
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                                description: A description of the board.
                              is_public:
                                type: boolean
                                description: 'Indicates whether or not a board and all of its contents are visible

                                  to users in the workspace. Unless otherwise specified, this value is

                                  `false` by default. Boards are always visible to the user that created

                                  them.

                                  '
                              is_archived:
                                type: boolean
                                description: 'Indicates whether or not a board has been archived. If set to

                                  `true`, the UI will only display the board in the ‘Archived

                                  Boards’ view. If set to `false` (the default), the board may be

                                  displayed in other views, depending on the user’s filter

                                  settings.

                                  '
                              title:
                                type: string
                                description: The name of the board.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - created_by_user
                            - workspace
                            properties:
                              asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              board_collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_collaborator
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              object_collections:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object_collection
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_columns:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_column
                              board_user_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - board_user_setting
                              default_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the User object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: An ID that can be used with `v2` APIs.
                          relationships:
                            type: object
                            required:
                            - profile
                            - workspaces
                            additionalProperties: false
                            properties:
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
[...]
