openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Board Objects API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Board Objects
  description: '## Overview

    - **Board**: A board is the parent container and encapsulates its Board Objects and Board Object Collections

    - **Board Object Collection**: A Board resource can have zero-or-many Board Object Collections.'
paths:
  /board_objects/v3:
    get:
      tags:
      - Board Objects
      operationId: ReadBoardObjectsV3
      x-Operation-ID: ReadBoardObjectsV3
      summary: Get Board Objects available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter
        in: query
        description: 'Filters for limiting the results.

          '
        required: false
        schema:
          type: object
          properties:
            board_id:
              description: Retrieve board objects by the associated board ID.
              type: string
              format: uuid
            board_object_collection_id:
              description: 'Retrieve board objects by the associated board object collection IDs.

                Providing `null` for this parameter will return uncategorized resources.

                '
              type:
              - string
              - 'null'
              format: uuid
            moment_id:
              description: Retrieve board objects by the associated moment ID.
              type: string
              format: uuid
            workspace_id:
              type: array
              description: 'The IDs of the workspaces to which results should be filtered.

                Comma separated list of IDs. If included, will only fetch resources associated with these workspaces. If not included, will return resources associated with all workspaces that the user belongs to. For example, `filter[workspace_id]=798ac6d9-b3fc-4155-88ee-237f43f3404b` will fetch all resources associated with workspace `798ac6d9-b3fc-4155-88ee-237f43f3404b`, while `filter[workspace_id]=798ac6d9-b3fc-4155-88ee-237f43f3404b,d79e513e-9246-454e-80bf-8268bc39cd6e,f2b19a4a-ba0c-49be-8aa7-a1bf68a4a4ed` will fetch any resources associated with workspaces `798ac6d9-b3fc-4155-88ee-237f43f3404b`, `d79e513e-9246-454e-80bf-8268bc39cd6e`, or `f2b19a4a-ba0c-49be-8aa7-a1bf68a4a4ed`.

                '
              items:
                type: string
                format: uuid
        style: deepObject
        explode: true
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - moment
            - moment.assignees
            - moment.channels
            - moment.channels.asset_reference
            - moment.moment_assignees
            - moment.moment_custom_fields
            - moment.note
            - moment.owner
            - moment.planning_status
            - moment.primary_asset_reference
            - moment.schedules
            - moment.stories
            - moment.workspace
            - rich_text_document
        style: form
        explode: false
      - name: fields
        in: query
        description: 'A JSON:API [sparse fieldset](https://jsonapi.org/format/#fetching-sparse-fieldsets) declaration. The resource type can be that of the primary resource (i.e. `board_object`) or any of the included resources (e.g. `moment` or `story`).

          '
        required: false
        schema:
          type: object
          properties:
            asset_reference:
              type: string
            board_object:
              type: string
            moment_assignee:
              type: string
            moment_custom_field:
              type: string
            moment_schedule:
              type: string
            moment:
              type: string
            note:
              type: string
            planning_status:
              type: string
            rich_text_document:
              type: string
            story:
              type: string
            user:
              type: string
            workspace:
              type: string
        style: deepObject
        explode: true
      - name: expose
        in: query
        required: false
        description: Expose response data that is only provided by request.
        style: deepObject
        explode: true
        schema:
          type: object
          properties:
            moment:
              type: object
              properties:
                meta:
                  type:
                  - string
                  - 'null'
                  description: 'Use this parameter as: `?expose[moment][meta]&include=moment`


                    Exposing the metadata on each moment resource populates the `meta` key with calculated attributes.

                    If metadata is not exposed, the `meta` key will be an empty object. Detailed documentation on each

                    metadata attribute is available in the [response schema documentation for moments](v3#tag/Moments/operation/ReadMomentsV3).

                    '
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of Board Objects.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: board_object
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - board_object
                        attributes:
                          type: object
                          required:
                          - position
                          - created_at
                          - updated_at
                          additionalProperties: false
                          properties:
                            position:
                              type: integer
                              description: "An integer indicating the zero-based ordinal position of this \nboard object relative to other board objects.\n"
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's creation date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's most recent updated date-time.
                              readOnly: true
                        relationships:
                          type: object
                          required:
                          - board
                          additionalProperties: false
                          properties:
                            board:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - board
                            board_object_collection:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - board_object_collection
                            moment:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - moment
                            rich_text_document:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - rich_text_document
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: moment
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            description: The moment's UUID. See the `legacy_id` attribute for a `v2`-api compatible ID.
                          type:
                            type: string
                            enum:
                            - moment
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated moment metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              is_stamp_template:
                                type: boolean
                                description: 'Indicates whether a `moment` can be used as a stamp. Stamps serve as templates for new `moment`s, inheriting notes, content, and labels from the stamped moment template.

                                  For additional notes on creating, managing, retrieving, and using stamps, see the [Stamps Overview](v2#tag/Stamps/Stamps-Overview).

                                  '
                              access:
                                type: object
                                deprecated: true
                                description: 'This metadata has moved to the document meta (where it is found on API responses for other resources as well)

                                  '
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                          attributes:
                            type: object
                            required:
                            - legacy_id
                            - color
                            - content_count
                            - created_at
                            - is_ghost
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              color:
                                type:
                                - string
                                - 'null'
                                description: Color used to visually identify a moment.
                              content_count:
                                type: integer
                                description: Number of content belonging to the given moment.
                                readOnly: true
                              is_ghost:
                                type: boolean
                                description: Indicates whether the moment is redacted for the requesting user.
                                readOnly: true
                              title:
                                type: string
                                description: The name of the moment.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - owner
                            - workspace
                            properties:
                              asset_references:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              note:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - note
                              contents:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - content
                              primary_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              primary_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                              privacy_group:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - privacy_group
                              channels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - channel
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - story
                              schedules:
                                description: One or more schedules (currently only 1 schedule per moment is supported).
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment_schedule
                              workflow:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workflow
                              planning_status:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - planning_status
                              moment_assignees:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment_assignee
                              assignees:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              moment_custom_fields:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment_custom_field
                              paired_block:
                                allOf:
                                - description: 'Writing this relationship is only allowed for internal Opal

                                    clients. External clients should pair a moment and a newly

                                    created block using the block''s `POST` endpoint.


                                    Only blocks of a type that supports moment pairing are allowed to

                                    be paired with moments. Furthermore, this relationship is only

                                    writable when patching a moment.

                                    '
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type:
                                      - object
                                      - 'null'
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                      - title: moment_assignee
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - moment_assignee
                          attributes:
                            type: object
                            required:
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - moment
                            - assignee
                            - created_by_user
                            additionalProperties: false
                            properties:
                              moment:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - moment
                              assignee:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                      - title: moment_schedule
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - moment_schedule
                          attributes:
                            type: object
                            required:
                            - created_at
                            - day_segment
                            - end_at
                            - should_end_at_cascade
                            - start_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              day_segment:
                                type:
                                - string
                                - 'null'
                                enum:
                                - morning
                                - afternoon
                                - evening
                                - night
                                - null
                              end_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An RFC 3339 date-time for the instant the moment ends. See format

                                  discussion on start_at.

                                  '
                              should_end_at_cascade:
                                type: boolean
                                description: 'Indicates whether or not content created within the parent moment

                                  should receive the moment''s end_at time by default.

                                  '
                              start_at:
                                type: string
                                format: date-time
                                description: 'An RFC 3339 date-time for the instant the moment starts. The server''s

                                  response will always be a timestamp, unlike the date-only format sent

                                  to the server in PATCH and POST requests.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - moment
                            additionalProperties: false
                            properties:
                              moment:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - moment
                      - title: note
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - note
                          attributes:
                            type: object
                            required:
                            - comment
                            - created_at
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              comment:
                                type:
                                - string
                                - 'null'
                                description: A text comment on the note.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                      - title: channel
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - channel
                          attributes:
                            type: object
                            required:
                            - color
                            - content_name
                            - created_at
                            - has_placements
                            - icon_name
                            - icon_path
                            - is_active
                            - is_visible
                            - legacy_id
                            - name
                            - system_name
                            - updated_at
                            - web_modules_channel
                            additionalProperties: false
                            properties:
                              color:
                                type: string
                                description: A hex color value with leading hash symbol intact
                              content_name:
                                type: string
                                description: The default name of content for this channel
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the channel was created.
                                readOnly: true
                              has_placements:
                                type:
                                - boolean
                                - 'null'
                                description: Indicates if the channel supports placements capability
                              icon_name:
                                type:
                                - string
                                - 'null'
                              icon_path:
                                type:
                                - string
                                - 'null'
                              is_active:
                                type: boolean
                                description: Indicates active status of the channel
                              is_visible:
                                type: boolean
                                description: Indicates visibility of the channel
                              legacy_id:
                                type: string
                                description: The ID of the resource in the `v2` APIs.
                              name:
                                type: string
                                description: The name of the channel
                              system_name:
                                type: string
                                description: The unique system name of the channel
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the channel was last updated.
                                readOnly: true
                              web_modules_channel:
                                type:
                                - boolean
                                - 'null'
                                description: Indicates if the channel is of the category "web modules"
                          relationships:
                            type: object
                            required:
                            - asset_reference
                            - content_types
                            - workspace
                            additionalProperties: false
                            properties:
                              asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              content_types:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - content_type
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: story
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - story
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Calculated story metadata included unconditionally in responses.

                              '
                            additionalProperties: false
                            properties:
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                          attributes:
                            type: object
                            required:
                            - color
                            - created_at
                            - description
                            - is_shared
                            - legacy_id
                            - name
                            - scheduled_end_at
                            - scheduled_start_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: A hex color value with the '#' prefix.
                              created_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                              is_shared:
                                type:
                                - boolean
                                - 'null'
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              name:
                                type: string
                              scheduled_start_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                              scheduled_end_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                              updated_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              shared_workspaces:
                                description: Additional workspaces that the story has been shared to.
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workspace
                          links:
                            type: object
                            additionalProperties: false
                            properties:
                              v2_request:
                                type: string
                                description: A link to the equivalent v2 API request for this story.
                      - title: workspace
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workspace
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Workspace object
                            properties:
                              user_is_member:
                                type: boolean
                                description: Boolean that represents whether the requesting user is a member of the workspace.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - name
                            - slug
                            - updated_at
                            - start_of_week
                            - timezone
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              name:
                                type: string
                                description: The name of the workspace.
                              slug:
                                type:
                                - string
                                - 'null'
                                description: The slug for the Workspace. This is a url-safe name for the Workspace.
                              start_of_week:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: 'The default start weekday index for the week view Calendar and for Plans. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default.

                                  With regards to the week view Calendar, values greater than 1 will be considered the same as 1.'
                              timezone:
                                type: string
                                description: The IANA time zone identifier for the default time zone used when creating resources in the workspace (e.g. America/New_York).
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - logo
                            - workspace_defaults
                            additionalProperties: false
                            properties:
                              logo:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              workspace_defaults:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace_defaults
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                      - title: asset_reference
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset_reference
                          attributes:
                            type: object
                            required:
                            - asset_type
                            - content_type
                            - created_at
                            - description
                            - escaped_filename
                            - filename
                            - filesize
                            - format
                            - full_url
                            - height
                            - legacy_id
                            - meta_data
                            - original_url
                            - preview_url
                            - public_id
                            - updated_at
                            - width
                            additionalProperties: false
                            properties:
                              asset_type:
                                type:
                                - string
                                - 'null'
                              content_type:
                                type:
                                - string
                                - 'null'
                              created_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                              escaped_filename:
                                type: string
                              filename:
                                type:
                                - string
                                - 'null'
                              filesize:
                                type:
                                - integer
                                - 'null'
                                description: Size of file in bytes.
                              format:
                                type:
                                - string
                                - 'null'
                              full_url:
                                type:
                                - string
                                - 'null'
                              height:
                                type:
                                - integer
                                - 'null'
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              meta_data:
                                type:
                                - object
                                - 'null'
                              original_url:
                                type:
                                - string
                                - 'null'
                              preview_url:
                                type:
                                - string
                                - 'null'
                              public_id:
                                type:
                                - string
                                - 'null'
                                x-not-relationship: true
                              updated_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              width:
                                type:
                                - integer
                                - 'null'
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              cover_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                      - title: planning_status
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - planning_status
                          attributes:
                            type: object
                            required:
                            - display_name
                            - color
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: Name given to a status to display to the user.
                              color:
                                type: string
                                description: Color associated with this planning status.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the User object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: An ID that can be used with `v2` APIs.
                          relationships:
                            type: object
                            required:
                            - profile
                            - workspaces
                            additionalProperties: false
                            properties:
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              workspaces:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workspace
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                      - title: rich_text_document
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - rich_text_document
                          attributes:
                            type: object
                            required:
                            - body
                            - client_library
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              body:
                                type:
                                - object
                                - 'null'
                                description: 'The JSON representation of the rich text document. There is not a strict

                                  requirement on the shape of the data structure beyond the requirement

                                  of it being a JSON object. Note that keys within the JSON object will be

                                  preserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).

                                  '
                              client_library:
                                type: string
                                description: 'The library or framework that generated the content. One could, for

                                  example, set this to the NPM package version which generated the

                                  rich text document for letting the caller know how to parse the response

                                  or handle upgrade situations.

                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - created_by_user
                            properties:
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              assets:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          type:
                                            type: string
                                            enum:
                                            - asset
                                - description: 'This relationship is only populated in documents returned by /rich_texts endpoints.

                                    '
                              asset_references:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - asset_reference
                                - description: 'This relationship is only populated in documents returned by /board_objects endpoints.

                                    '
                              embedded_resources:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - embedded_resource
                                - description: This relationship represents embedded resources within the document.
                      - title: moment_custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - moment_custom_field
                          attributes:
                            type: object
                            additionalProperties: false
                            properties:
                              text_value:
                                type:
                                - string
                                - 'null'
                                description: 'The value for a Custom Field on a Moment if it''s a String custom field datatype.

                                  '
                              date_value:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An RFC 3339 date-time for a custom field on a moment using the ‘Date’

                                  datatype.

                                  '
                              hash_value:
                                type:
                                - object
                                - 'null'
                                description: 'The value for a Custom Field on a Moment if it''s a value which can be

                                  represented as a JSON object of the following known types.

                                  '
                                oneOf:
                                - enum:
                                  - null
                                - type: object
                                  title: Single Select Value (V1)
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      description: The ID of the single select option.
                                - type: object
                                  title: Multiple Select Options (V1)
                                  additionalProperties: false
                                  properties:
                                    ids:
                                      type: array
                                      items:
                                        type: string
                                        format: uuid
                                        description: 'List of IDs for multi-select options that are chosen/enabled for the given Custom Field.

                                          '
                                - type: object
                                  title: Users Select Value (V1)
                                  additionalProperties: false
                                  properties:
                                    user_ids:
                                      type: array
                                      items:
                                        type: string
                                        format: uuid
                                      description: 'List of user UUIDs that are selected for the users select custom field.

                                        '
                                    group_ids:
                                      type: array
                                      items:
                                        type: string
                                        format: uuid
                                      description: 'List of user group UUIDs that are selected for the users select custom field.

                                        '
                                - type: object
                                  title: URL Value (V1)
                                  additionalProperties: false
                                  properties:
                                    url:
                                      type: string
                                      description: The HTTP address for the web resource.
                                    label:
                                      type:
                                      - string
                                      - 'null'
                                      description: The friendly display value.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field
                            - moment
                            additionalProperties: false
                            properties:
                              custom_field:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                              moment:
                                type: object
                                required:
                                - data
                                additionalProperties: false
[...]
