openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Search API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Search
paths:
  /api/v1/search:
    get:
      tags:
      - Search
      operationId: ReadSearchesV1
      summary: Returns all entities that match query string filtered by brand slug
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: Provides an elasticsearch query against `JumpSearchIndexV1#display_name`
      parameters:
      - name: slug
        in: query
        required: true
        description: The workspace to filter for
        schema:
          type: string
      - name: query
        in: query
        required: true
        description: The search string to query against
        schema:
          type: string
      responses:
        '200':
          description: An array of search results
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                title: Collection of search results
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: search
                      type: object
                      required:
                      - type
                      - brand_ids
                      - display_name
                      - document_version
                      - id
                      - index_updated_at
                      - is_private
                      - is_visible
                      - navigation_path
                      - preview_url
                      - asset_reference_asset_type
                      - asset_reference_created_at
                      - asset_reference_full_url
                      - asset_reference_user_name
                      - board_created_at
                      - board_created_by
                      - moment_color
                      - moment_primary_story_color
                      - moment_primary_story_name
                      - moment_scheduled_at
                      - post_moment_color
                      - post_moment_name
                      - post_scheduled_at
                      - post_service_color
                      - post_service_system_name
                      - story_color
                      - story_scheduled_end_at
                      - story_scheduled_start_at
                      - user_emails
                      - user_job_title
                      properties:
                        type:
                          type: string
                          enum:
                          - asset_reference
                          - board
                          - moment
                          - post
                          - story
                          - user
                        brand_ids:
                          type: array
                          description: 'NOTE: Records of type "post" or "asset_reference" with a document_version of 1 will serve brand_ids as a single integer.'
                          items:
                            type: integer
                        display_name:
                          type: string
                        document_version:
                          type: integer
                        id:
                          type: integer
                        index_updated_at:
                          type: string
                          description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          format: date-time
                        is_private:
                          type: boolean
                        is_visible:
                          type: boolean
                        navigation_path:
                          type: string
                        preview_url:
                          type:
                          - string
                          - 'null'
                        asset_reference_uuid:
                          type:
                          - string
                          - 'null'
                        asset_reference_asset_type:
                          type:
                          - string
                          - 'null'
                        asset_reference_created_at:
                          type:
                          - string
                          - 'null'
                          description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          format: date-time
                        asset_reference_full_url:
                          type:
                          - string
                          - 'null'
                        asset_reference_user_name:
                          type:
                          - string
                          - 'null'
                        board_created_at:
                          type:
                          - string
                          - 'null'
                        board_created_by:
                          type:
                          - string
                          - 'null'
                        moment_color:
                          type:
                          - string
                          - 'null'
                        moment_primary_story_color:
                          type:
                          - string
                          - 'null'
                        moment_primary_story_name:
                          type:
                          - string
                          - 'null'
                        moment_scheduled_at:
                          type:
                          - string
                          - 'null'
                          description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          format: date-time
                        post_moment_color:
                          type:
                          - string
                          - 'null'
                        post_moment_name:
                          type:
                          - string
                          - 'null'
                        post_scheduled_at:
                          type:
                          - string
                          - 'null'
                          description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          format: date-time
                        post_service_color:
                          type:
                          - string
                          - 'null'
                        post_service_system_name:
                          type:
                          - string
                          - 'null'
                        story_color:
                          type:
                          - string
                          - 'null'
                        story_scheduled_end_at:
                          type:
                          - string
                          - 'null'
                          description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          format: date-time
                        story_scheduled_start_at:
                          type:
                          - string
                          - 'null'
                          description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          format: date-time
                        user_emails:
                          type:
                          - array
                          - 'null'
                          items:
                            type: string
                        user_job_title:
                          type:
                          - string
                          - 'null'
        '404':
          description: No results found.
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                properties:
                  error:
                    type: string
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
