openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Content Schedules API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Content Schedules
paths:
  /content_schedules/v3:
    post:
      tags:
      - Content Schedules
      operationId: CreateContentScheduleV3
      summary: Create a new Content Schedule
      security:
      - oauth2:
        - offline_access
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - content_schedule
                    attributes:
                      type: object
                      properties:
                        start_interval:
                          type:
                          - string
                          - 'null'
                          description: 'An ISO8601 interval. Determines the start datetime of the related

                            content, when added to the related moment_schedule''s start_at

                            attribute.

                            '
                        takedown_interval:
                          type:
                          - string
                          - 'null'
                          description: 'An ISO8601 interval. If present, determines the takedown datetime

                            of the related content, when added to the related

                            moment_schedule''s start_at attribute. If start_interval is

                            non-null, then takedown_interval must be greater than the

                            start_interval. Otherwise, takedown_interval must be greater than

                            0.

                            '
                        timezone:
                          type:
                          - string
                          - 'null'
                          description: "A timezone string in the IANA timezone format (i.e. \n'America/Los_Angeles', 'Europe/Berlin', 'Asia/Kolkata'). This\nattribute cannot be null if start_interval is non-null.\n"
                    relationships:
                      type: object
                      required:
                      - content
                      properties:
                        content:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - content
                        moment_schedule:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - moment_schedule
            example:
              data:
                type: content_schedule
                attributes:
                  start_interval: PT0S
                  takedown_interval: P1DT8H
                  timezone: America/Los_Angeles
                relationships:
                  content:
                    data:
                      id: 3813a-4102-4f34-a8ca-d2cb951cf592
                      type: content
                  moment_schedule:
                    data:
                      id: 6ab599a6-2bcb-4cca-a964-a312e8afd4c8
                      type: moment_schedule
      responses:
        '201':
          description: A newly created Content Schedule resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: content_schedule
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - content_schedule
                      attributes:
                        type: object
                        required:
                        - created_at
                        - updated_at
                        - start_interval
                        - takedown_interval
                        - timezone
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          start_interval:
                            type:
                            - string
                            - 'null'
                            description: 'An ISO8601 interval. Determines the start datetime of the related

                              content, when added to the related moment_schedule''s start_at

                              attribute.

                              '
                          takedown_interval:
                            type:
                            - string
                            - 'null'
                            description: 'An ISO8601 interval. If present, determines the takedown datetime of

                              the related content, when added to the related moment_schedule''s

                              start_at attribute.

                              '
                          timezone:
                            type:
                            - string
                            - 'null'
                            description: 'A timezone string in the IANA timezone format (i.e.

                              ''America/Los_Angeles'', ''Europe/Berlin'', ''Asia/Kolkata''). This

                              attribute must be set if start_interval is non-null.

                              '
                      relationships:
                        type: object
                        required:
                        - content
                        - moment_schedule
                        additionalProperties: false
                        properties:
                          content:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - content
                          moment_schedule:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - moment_schedule
              example:
                data:
                  id: f5572dfe-aa53-48b5-b236-3aa30b56db51
                  type: content_schedule
                  attributes:
                    created_at: '2022-11-30T15:27:01.881-08:00'
                    updated_at: '2022-11-30T15:27:01.881-08:00'
                    start_interval: PT0S
                    takedown_interval: P1DT8H
                    timezone: America/Los_Angeles
                  relationships:
                    content:
                      data:
                        id: 3813a-4102-4f34-a8ca-d2cb951cf592
                        type: content
                    moment_schedule:
                      data:
                        id: 6ab599a6-2bcb-4cca-a964-a312e8afd4c8
                        type: moment_schedule
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /content_schedules/v3/{content_schedule_id}:
    patch:
      tags:
      - Content Schedules
      operationId: UpdateContentScheduleV3
      summary: Update a Content Schedule
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: content_schedule_id
        in: path
        required: true
        description: The ID of the Content Schedule.
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                    type:
                      type: string
                      enum:
                      - content_schedule
                    attributes:
                      type: object
                      properties:
                        start_interval:
                          type:
                          - string
                          - 'null'
                          description: 'An ISO8601 interval. Determines the start datetime of the related

                            content, when added to the related moment_schedule''s start_at

                            attribute.

                            '
                        takedown_interval:
                          type:
                          - string
                          - 'null'
                          description: 'An ISO8601 interval. If present, determines the takedown datetime

                            of the related content, when added to the related

                            moment_schedule''s start_at attribute. If start_interval is

                            non-null, then takedown_interval must be greater than the

                            start_interval. Otherwise, takedown_interval must be greater than

                            0.

                            '
                        timezone:
                          type:
                          - string
                          - 'null'
                          description: "A timezone string in the IANA timezone format (i.e. \n'America/Los_Angeles', 'Europe/Berlin', 'Asia/Kolkata'). This\nattribute cannot be null if start_interval is non-null.\n"
                    relationships:
                      type: object
                      properties:
                        moment_schedule:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - moment_schedule
            example:
              data:
                id: f5572dfe-aa53-48b5-b236-3aa30b56db51
                type: content_schedule
                attributes:
                  start_interval: PT0S
                  takedown_interval: P1DT8H
                  timezone: America/Los_Angeles
                relationships:
                  moment_schedule:
                    data:
                      id: 6ab599a6-2bcb-4cca-a964-a312e8afd4c8
                      type: moment_schedule
      responses:
        '201':
          description: An updated Content Schedule resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: content_schedule
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - content_schedule
                      attributes:
                        type: object
                        required:
                        - created_at
                        - updated_at
                        - start_interval
                        - takedown_interval
                        - timezone
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          start_interval:
                            type:
                            - string
                            - 'null'
                            description: 'An ISO8601 interval. Determines the start datetime of the related

                              content, when added to the related moment_schedule''s start_at

                              attribute.

                              '
                          takedown_interval:
                            type:
                            - string
                            - 'null'
                            description: 'An ISO8601 interval. If present, determines the takedown datetime of

                              the related content, when added to the related moment_schedule''s

                              start_at attribute.

                              '
                          timezone:
                            type:
                            - string
                            - 'null'
                            description: 'A timezone string in the IANA timezone format (i.e.

                              ''America/Los_Angeles'', ''Europe/Berlin'', ''Asia/Kolkata''). This

                              attribute must be set if start_interval is non-null.

                              '
                      relationships:
                        type: object
                        required:
                        - content
                        - moment_schedule
                        additionalProperties: false
                        properties:
                          content:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - content
                          moment_schedule:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - moment_schedule
              example:
                data:
                  id: f5572dfe-aa53-48b5-b236-3aa30b56db51
                  type: content_schedule
                  attributes:
                    created_at: '2022-11-30T15:27:01.881-08:00'
                    updated_at: '2022-11-30T15:27:01.881-08:00'
                    start_interval: PT0S
                    takedown_interval: P1DT8H
                    timezone: America/Los_Angeles
                  relationships:
                    content:
                      data:
                        id: 3813a-4102-4f34-a8ca-d2cb951cf592
                        type: content
                    moment_schedule:
                      data:
                        id: 6ab599a6-2bcb-4cca-a964-a312e8afd4c8
                        type: moment_schedule
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    delete:
      tags:
      - Content Schedules
      operationId: DeleteContentScheduleV3
      summary: Delete a Content Schedule
      description: Deleting a Content Schedule effectively unschedules the related Content.
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: content_schedule_id
        in: path
        required: true
        description: The ID of the Content Schedule.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The Content Schedule was deleted.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
