openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Phase Items API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Phase Items
paths:
  /phase_items/v2:
    get:
      tags:
      - Phase Items
      operationId: ReadPhaseItemsV2
      summary: Return all phase items available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: fields
        in: query
        description: 'An object where each key is a CSV of phase item attributes to include in the response.

          Omit this parameter entirely to retrieve all available fields.

          '
        required: false
        schema:
          type: object
          properties:
            approvable:
              type: string
            created_at:
              type: string
            from_user:
              type: string
            is_starred:
              type: string
            phase:
              type: string
            proxy_user:
              type: string
            response:
              type: string
            request:
              type: string
            to_user:
              type: string
            type:
              type: string
            updated_at:
              type: string
        style: deepObject
        explode: true
      - name: filter
        in: query
        description: Filters for limiting the results.
        required: false
        schema:
          type: object
          properties:
            active:
              type: boolean
              description: 'Boolean true returns phase items where an action may be taken while boolean false returns phase items where no action may be taken.

                '
            brand_id:
              type: array
              description: 'The IDs of the workspaces to which results should be filtered.

                "Workspace ID" and "Brand ID" are synonymous.

                Comma separated list of IDs. If included, will only fetch resources associated with these brands. If not included, will return resources associated with all brands that the user belongs to. For example, `filter[brand_id]=1` will fetch all resources associated with brand 1, while `filter[brand_id]=1,2,3` will fetch any resources associated with brands 1, 2, or 3.

                '
              items:
                type: integer
            content_id:
              type: array
              description: Retrieve phase items associated with one or more content IDs.
              items:
                type: integer
            created_at:
              allOf:
              - type: object
                properties:
                  eq:
                    type: string
                    description: 'Equal to filter. If no other filter is specified, `eq` will be assumed.

                      '
                  gt:
                    type: string
                    description: Greater than filter
                  gteq:
                    type: string
                    description: Greater than or equal to filter
                  lt:
                    type: string
                    description: Less than filter
                  lteq:
                    type: string
                    description: Less than or equal to filter
              - format: date-time
              - description: 'Filter phase items by created_at time. Uses syntax `filter[created_at][gt]=2020-01-01` Timestamps use iso8601 formatting, such as `YYYY-MM-DD` or `YYYY-MM-DDThh:mmTZD`. If no operator is specified, `eq` will be assumed. For example, `filter[created_at]=2020-01-01` is equivalent to `filter[created_at][eq]=2020-01-01`

                  '
            current:
              type: boolean
              description: 'Boolean true returns phase items in the current phase while boolean false excludes phase items in the current phase.

                '
            due_date:
              allOf:
              - type: object
                properties:
                  eq:
                    type: string
                    description: 'Equal to filter. If no other filter is specified, `eq` will be assumed.

                      '
                  gt:
                    type: string
                    description: Greater than filter
                  gteq:
                    type: string
                    description: Greater than or equal to filter
                  lt:
                    type: string
                    description: Less than filter
                  lteq:
                    type: string
                    description: Less than or equal to filter
              - format: date-time
              - description: 'Filter by the due date of the phase. Uses syntax `filter[due_date][gt]=2020-01-01` Timestamps use iso8601 formatting, such as `YYYY-MM-DD` or `YYYY-MM-DDThh:mmTZD`. If no operator is specified, `eq` will be assumed. For example, `filter[due_date]=2020-01-01` is equivalent to `filter[due_date][eq]=2020-01-01`

                  '
            from_days_prior:
              type: integer
              description: 'Limit the number of past-due items up to a number of days. Note that using this in conjunction with the overdue filter will result in an error.

                '
            overdue:
              type: boolean
              description: 'Boolean true to get overdue phase items only, false to get current and future phase items, or unspecified to get both. Note that using this in conjunction with the from_days_prior filter will result in an error.

                '
            pending:
              type: boolean
              description: 'Boolean true returns tasks that are not yet complete and approvals that are not yet approved. Boolean false return completed tasks and approvals that are approved.

                '
            scheduled_at:
              allOf:
              - type: object
                properties:
                  eq:
                    type: string
                    description: 'Equal to filter. If no other filter is specified, `eq` will be assumed.

                      '
                  gt:
                    type: string
                    description: Greater than filter
                  gteq:
                    type: string
                    description: Greater than or equal to filter
                  lt:
                    type: string
                    description: Less than filter
                  lteq:
                    type: string
                    description: Less than or equal to filter
              - format: date-time
              - description: 'Filter by the content scheduled time. Uses syntax `filter[scheduled_at][gt]=2020-01-01` Timestamps use iso8601 formatting, such as `YYYY-MM-DD` or `YYYY-MM-DDThh:mmTZD`. If no operator is specified, `eq` will be assumed. For example, `filter[scheduled_at]=2020-01-01` is equivalent to `filter[scheduled_at][eq]=2020-01-01`

                  '
            to_me:
              type: boolean
              description: 'Boolean true to get phase items assigned to the current user and boolean false to exclude phase items assigned to the current user. Note that using this filter in conjunction with the to_user_ids filter will result in an error.

                '
            to_user_ids:
              deprecated: true
              description: 'See the `to_user_id` parameter which offers the same functionality (filtering to one or more comma-separated ids _or_ `null`).

                '
              oneOf:
              - type: string
                description: Retrieve unassigned items.
                enum:
                - 'null'
              - type: array
                description: Retrieve assigned items by user IDs.
                items:
                  type: integer
            to_user_id:
              description: A CSV of user IDs, or null to retrieve unassigned items.
              oneOf:
              - type: string
                description: Retrieve unassigned items.
                enum:
                - 'null'
              - type: array
                description: Retrieve assigned items by user IDs.
                items:
                  type: integer
              example: filter[to_user_id]=1,50,22
            type:
              type: string
              description: 'Filtering by task will return phase items of type task, filtering by approval will return phase items of type approval.

                '
              enum:
              - task
              - approval
            updated_at:
              allOf:
              - type: object
                properties:
                  eq:
                    type: string
                    description: 'Equal to filter. If no other filter is specified, `eq` will be assumed.

                      '
                  gt:
                    type: string
                    description: Greater than filter
                  gteq:
                    type: string
                    description: Greater than or equal to filter
                  lt:
                    type: string
                    description: Less than filter
                  lteq:
                    type: string
                    description: Less than or equal to filter
              - format: date-time
              - description: 'Filter by the phase item updated_at time. Uses syntax `filter[updated_at][gt]=2020-01-01`. Timestamps use iso8601 formatting, such as `YYYY-MM-DD` or `YYYY-MM-DDThh:mmTZD`. If no operator is specified, `eq` will be assumed. For example, `filter[updated_at]=2020-01-01` is equivalent to `filter[updated_at][eq]=2020-01-01`

                  '
        style: deepObject
        explode: true
      - name: include
        in: query
        required: false
        description: 'A comma separated value of related resource objects on the phase item to include. These need to be specified when attributes on a relationship are required by the client.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - approvable
            - brand
            - from_user
            - phase
            - proxy_user
            - to_user
        style: form
        explode: false
      - name: sort
        in: query
        required: false
        description: 'A comma separated value specifying how a collection in the response body should be sorted, where each value is an attribute of the phase item. When specifying multiple values, each value in the sequence determines the ordering precedence. Lastly, each phase item in the collection will appear in ascending order, unless any of the enumerated values are prefixed with a minus "-" sign, in which case each phase item will appear in descending order for the specified values.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - created_at
            - due_date
            - full_name
            - request
            - scheduled_at
            - updated_at
      - name: expose
        in: query
        required: false
        description: Expose response data that is only provided by request.
        schema:
          type: object
          properties:
            unscheduled_posts:
              type: boolean
              description: '**[INTERNAL-ONLY] [Unstable]** 🏴‍☠️👻🚷💣 This parameter can be used to expose Unscheduled Posts to the V2 Phase Items GET API. Opal developers are using this parameter as a migration tool. If you need Phase Items for content that is Unscheduled, please see the V3 APIs that offer native support.

                This parameter should be considered [Unstable] and may be removed at any time without notice of deprecation. Using this parameter will also cause the Phase Items V2 GET response to deviate from the documented schema.

                '
      responses:
        '200':
          description: An array of phase items.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: phase item
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - phase_item
                        attributes:
                          type: object
                          required:
                          - created_at
                          - request
                          - status
                          - phase_item_type
                          - updated_at
                          additionalProperties: false
                          properties:
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                            is_starred:
                              type: boolean
                              description: Indicates the phase item is starred/pinned.
                            request:
                              type:
                              - string
                              - 'null'
                              description: A description of the request being made.
                            response:
                              type:
                              - string
                              - 'null'
                              description: A comment to be left by the approver.
                            status:
                              type: string
                              description: The status of the phase item.
                              enum:
                              - complete
                              - incomplete
                              - rejected
                            type:
                              type: string
                              deprecated: true
                              description: Deprecated. See `phase_item_type`.
                              enum:
                              - Moments::Approval
                              - Moments::Task
                            phase_item_type:
                              type: string
                              description: The specific type of phase item.
                              enum:
                              - Moments::Approval
                              - Moments::Task
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            approvable:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - content
                            brand:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - brand
                            from_user:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - user
                            phase:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - phase
                            proxy_user:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - user
                            to_user:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - user
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: brand
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - brand
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Brand object
                            properties:
                              user_is_member:
                                type: boolean
                                description: Boolean that represents whether the requesting user is a member of the brand.
                          attributes:
                            type: object
                            required:
                            - slug
                            - name
                            - uuid
                            - start_of_week
                            - timezone
                            additionalProperties: false
                            properties:
                              uuid:
                                type: string
                                format: uuid
                                description: A unique identifier for the workspace.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              slug:
                                type: string
                                description: The slug for the Brand/Workspace. This is a url-safe name for the Workspace.
                              name:
                                type: string
                                description: The name of the Workspace.
                              start_of_week:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: 'The default start weekday index for the week view Calendar and for Plans. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default.

                                  With regards to the week view Calendar, values greater than 1 will be considered the same as 1.'
                              timezone:
                                type: string
                                description: The IANA time zone identifier for the default time zone used when creating resources in the Brand/Workspace (e.g. America/New_York).
                          relationships:
                            type: object
                            required:
                            - primary_label_set
                            - accounts
                            - logo
                            - dispatch_providers
                            additionalProperties: false
                            properties:
                              primary_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              accounts:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - account
                              logo:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              dispatch_providers:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - dispatch_provider
                      - title: content
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - content
                          attributes:
                            type: object
                            required:
                            - position
                            - status
                            - is_published
                            - was_manually_published
                            - is_ghost
                            - is_private
                            - default_snapshot_url
                            - live_url
                            - takedown_scheduled_at
                            - scheduled_at
                            - name
                            - content
                            - show_code_name
                            - publishing_mode
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                                description: The name of the Content.
                              position:
                                type:
                                - integer
                                - 'null'
                                description: 'A relativistic position within the parent Moment.

                                  You can sort Content by position to lay them

                                  out in the intended order. Note that these positions are not

                                  indices (1, 2, 3, 4...).

                                  '
                              status:
                                type:
                                - string
                                - 'null'
                                description: The workflow status of the Content.
                                enum:
                                - draft
                                - for_approval
                                - needs_revision
                                - approved
                                - null
                              content_type:
                                type:
                                - string
                                - 'null'
                                description: The Content Type name of the Content. This attribute is only `null` when the content is private from the currently authenticated user.
                              content:
                                type:
                                - string
                                - 'null'
                                description: 'The unstructured content string of the Content.

                                  This is used for Content Types that do not rely on

                                  Post Options to store content/assets of Content.

                                  '
                              is_published:
                                type:
                                - boolean
                                - 'null'
                                description: Whether or not the Content has been published.
                              was_manually_published:
                                type:
                                - boolean
                                - 'null'
                                description: Whether or not the Content was manually published.
                              is_ghost:
                                type: boolean
                                description: 'Indicates whether the Content is redacted for the requesting user.

                                  '
                              is_private:
                                type: boolean
                                description: 'Indicates whether the Content is set to private.

                                  '
                              show_code_name:
                                type: boolean
                                description: 'If `is_ghost` is true and `show_code_name` is true then the `name`

                                  property is a "code name" for the piece of Content. The user must request

                                  access to the Content to see the proper name.

                                  '
                              default_snapshot_url:
                                type:
                                - string
                                - 'null'
                                description: A URL that serves up the default snapshot preview of this Content.
                              live_url:
                                type:
                                - string
                                - 'null'
                                description: The live URL to published Content.
                              scheduled_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An ISO8601 date-time. The date and time when the Content is scheduled to get published. If the Content has not been explicitly scheduled then this date is based on that of the Moment the Content lives within.

                                  '
                              start_interval:
                                type:
                                - string
                                - 'null'
                                description: 'An ISO8601 interval, relative to the start of the related Moment''s schedule, representing the explicitly chosen start datetime of the Content. Values are normalized to a seconds-denominated interval (e.g. `PT86400S`). Null when no specific time has been chosen for the Content — in that case `scheduled_at` falls back to the start of the Moment''s schedule.

                                  '
                              takedown_scheduled_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An ISO8601 date-time. The date and time when the Content is scheduled to get taken down.

                                  '
                              post_data:
                                type:
                                - object
                                - 'null'
                                description: 'A hash that can store any metadata associated with the Content.

                                  '
                                additionalProperties: true
                              publishing_mode:
                                type:
                                - string
                                - 'null'
                                description: The way in which the Content will be published.
                              post_state:
                                type:
                                - string
                                - 'null'
                                description: The state of the Content in the workflow process.
                                enum:
                                - published
                                - held
                                - failed
                                - publishing
                                - dispatched
                                - dispatching
                                - approved
                                - pending
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              service_id:
                                type: integer
                          relationships:
                            type: object
                            required:
                            - account
                            - approval_phase_group
                            - asset_references
                            - brand
                            - budget
                            - delivery_record
                            - inherited_labels
                            - label_sets
                            - labels
                            - links
                            - moment
                            - placement
                            - post_components
                            - post_options
                            - post_type
                            - post_type_options
                            - rich_text_document
                            - service
                            - stories
                            - user
                            additionalProperties: false
                            properties:
                              account:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - account
                              approval_phase_group:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - phase-groups
                              asset_references:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference
                              brand:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - brand
                              budget:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - budget
                              delivery_record:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - delivery_record
                              inherited_labels:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - label
                                - description: 'Only inherited labels. See the [Labels Overview](/api/documentation/v2#tag/Labels/Labels-Overview) for information on inheritance.

                                    '
                              label_sets:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label_set
                              labels:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - label
                                - description: 'All labels (inherited or explicitly set). See the [Labels Overview](/api/documentation/v2#tag/Labels/Labels-Overview) for information on inheritance.

                                    '
                              links:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - link
                              moment:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moment
                              placement:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - placement
                              post_components:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_component
                              post_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_option
                              post_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - post_type
                              post_type_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_option
                              rich_text_document:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - rich_text_document
                              service:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - service
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - story
                              user:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user
                          links:
                            type: object
                            additionalProperties: false
                            properties:
                              web_url:
                                type: string
                      - title: phase
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - phase
                          attributes:
                            type: object
                            required:
                            - name
                            - due_date
                            - is_current
                            - is_complete
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                                description: A string representing the name of the phase
                              due_date:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                              is_current:
                                type: boolean
                                description: A boolean that represents whether or not the phase is current within its workflow
                              is_complete:
                                type: boolean
                                description: "A boolean that represents whether or the phase is complete.\n\n Note that completion can either mean that all phase_items within a phase have been completed\n or an approval has been given in an approval phase that only requires a single approval.\n"
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Brand object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - uuid
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              uuid:
                                type: string
                                format: uuid
                          relationships:
                            type: object
                            required:
                            - opal
                            additionalProperties: false
                            properties:
                              avatar_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              brands:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand
                              brand_admin_users:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand_admin_user
                              role:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - role
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                              moments_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moments_setting
                  meta:
                    type: object
                    required:
                    - total
                    - resource_type
                    - page
                    - aggregate
                    properties:
                      total:
                        type: integer
                      resource_type:
                        type: string
                        enum:
                        - phase_item
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
                      aggregate:
                        type: object
                        properties:
                          overdue_total:
                            type: integer
              example:
                data:
                - id: '13'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T14:04:48.016-07:00'
                    request: I'm overdue
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-05-04T10:09:53.007-07:00'
                    status: incomplete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '8'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '3'
                        type: content
                - id: '12'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T14:02:39.481-07:00'
                    request: null
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Approval
                    updated_at: '2021-04-30T14:02:39.481-07:00'
                    status: incomplete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '6'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '2'
                        type: content
                - id: '11'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T14:02:39.143-07:00'
                    request: null
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Approval
                    updated_at: '2021-04-30T14:02:39.143-07:00'
                    status: incomplete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '6'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '3'
                        type: user
                    approvable:
                      data:
                        id: '2'
                        type: content
                - id: '10'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T14:02:03.163-07:00'
                    request: null
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Approval
                    updated_at: '2021-04-30T14:02:10.290-07:00'
                    status: complete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '5'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '2'
                        type: content
                - id: '9'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:59:55.367-07:00'
                    request: I am a future task assigned to Not Garth
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T14:00:07.309-07:00'
                    status: incomplete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '3'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '4'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '8'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:59:43.964-07:00'
                    request: I am a future task assigned to Garth
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T13:59:54.012-07:00'
                    status: incomplete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '3'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '7'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:59:12.572-07:00'
                    request: I am a current task assigned to someone else
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T13:59:22.613-07:00'
                    status: incomplete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '2'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '4'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '6'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:59:02.141-07:00'
                    request: I am a current task, completed by someone else
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T14:09:48.584-07:00'
                    status: complete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '2'
                        type: phase
                    proxy_user:
                      data:
                        id: '29'
                        type: user
                    to_user:
                      data:
                        id: '2'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '5'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:58:49.876-07:00'
                    request: I am a current task that will not be completed
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-05-05T09:56:53.057-07:00'
                    status: incomplete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '2'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '4'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:58:36.353-07:00'
                    request: I am a current task that will be completed
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T14:09:39.588-07:00'
                    status: complete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '2'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '3'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:58:22.446-07:00'
                    request: I will be completed by not Garth
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T13:59:38.134-07:00'
                    status: complete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '1'
                        type: phase
                    proxy_user:
                      data:
                        id: '29'
                        type: user
                    to_user:
                      data:
                        id: '2'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '2'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:58:02.188-07:00'
                    request: I will be completed
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T13:59:33.010-07:00'
                    status: complete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '1'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                - id: '1'
                  type: phase_item
                  attributes:
                    created_at: '2021-04-30T13:57:52.710-07:00'
                    request: I have been completed
                    response: null
                    is_starred: false
                    phase_item_type: Moments::Task
                    updated_at: '2021-04-30T13:59:32.204-07:00'
                    status: complete
                  relationships:
                    brand:
                      data:
                        id: '1'
                        type: brand
                    from_user:
                      data:
                        id: '29'
                        type: user
                    phase:
                      data:
                        id: '1'
                        type: phase
                    proxy_user:
                      data: null
                    to_user:
                      data:
                        id: '29'
                        type: user
                    approvable:
                      data:
                        id: '1'
                        type: content
                included:
                - id: '3'
                  type: content
                  attributes:
                    position: 6755399441055743
                    service_id: 3
                    publishing_mode: none
                    created_at: '2021-04-30T14:04:29.487-07:00'
                    updated_at: '2021-04-30T14:05:52.930-07:00'
                    scheduled_at: '2021-04-30T00:00:00.000-07:00'
                    is_ghost: false
                    show_code_name: false
                    is_private: false
                    default_snapshot_url: http://login.opal.docker/api/v1/snapshots/6/3d19b2f4-9081-40b0-80a1-81b9f89e32e0/mobile_news_feed@2x.png
                    takedown_scheduled_at: '2021-04-30T00:00:00.000-07:00'
                    live_url: null
                    status: draft
                    content_type: supported_facebook_image_ad
                    content: ''
                    name: Overdue Task
                    is_published: false
                    was_manually_published: false
                  relationships:
                    user:
                      data:
                        id: '10'
                        type: user
                    stories:
                      data:
                      - id: '49'
                        type: story
                    service:
                      data:
                        id: '3'
                        type: service
                    moment:
                      data:
                        id: '1'
                        type: moment
                    brand:
                      data:
                        id: '1'
                        type: brand
                    approval_phase_group:
                      data:
                        id: '3'
                        type: phase-groups
                    placement:
                      data: null
                    account:
                      data:
                        id: '1'
                        type: account
                    budget:
                      data: null
                    post_components:
                      data:
                      - id: '1'
                        type: post_component
                    post_type:
                      data:
                        id: '21'
                        type: post_type
                    post_options:
                      data:
                      - id: '4'
                        type: post_option
                    post_type_options:
                      data:
                      - id: '4'
                        type: post_option
                    inherited_labels:
                      data: []
                    labels:
                      data:
                      - id: '1'
                        type: label
                      - id: '5'
                        type: label
                    label_sets:
                      data:
                      - id: '1'
                        type: label_set
                      - id: '2'
                        type: label_set
                    links:
                      data:
                      - id: '7'
                        type: link
                    asset_references:
                      data: []
                    delivery_record:
                      data:
                        id: '3'
                        type: delivery_record
                    rich_text_document:
                      data: null
                - id: '1'
                  type: brand
                  attributes:
                    uuid: dc68d20c-3dd9-48f0-a8c5-8dd7b170ba99
                    slug: labs
                    name: labs
                    start_of_week: 0
                    timezone: America/Los_Angeles
                  relationships:
                    primary_label_set:
                      data:
                        id: '1'
                        type: label_set
                    accounts:
                      data:
                      - id: '1'
                        type: account
                    logo:
                      data:
                        id: '1'
                        type: asset_reference
                    dispatch_providers:
                      data: []
                - id: '8'
                  type: phase
                  attributes:
                    name: Overdue Task Phase
                    due_date: '2021-04-30T00:00:00.000-07:00'
                    is_current: true
                    is_complete: false
                - id: '29'
                  type: user
                  attributes:
                    created_at: '2021-04-30T14:01:16.071-07:00'
                    email: garth@opal.com
                    first_name: Garth
                    last_name: Kunze
                    title: null
                    full_name: Garth Kunze
                    transliterated_full_name: Garth Kunze
                    is_active: true
                    role_name: admin
                    updated_at: '2021-04-30T14:01:16.071-07:00'
                    uuid: 6a6667e4-d43c-4605-b4d1-7e694e2b67de
                  relationships:
                    avatar_asset_reference:
                      data: null
                    role:
                      data:
                        id: '1'
                        type: role
                    brands:
                      data:
                      - id: '1'
                        type: brand
                    opal:
                      data:
                        id: '1'
                        type: opal
                - id: '2'
                  type: content
                  attributes:
                    position: 4503599627370495
                    service_id: 3
                    publishing_mode: none
                    created_at: '2021-04-30T14:01:16.071-07:00'
                    updated_at: '2021-04-30T14:02:39.535-07:00'
                    scheduled_at: '2021-04-30T00:00:00.000-07:00'
                    is_ghost: false
                    is_private: false
                    show_code_name: false
                    default_snapshot_url: http://login.opal.docker/api/v1/snapshots/3/192ae8c5-da62-4f0c-a370-976e37ab74b2/desktop_news_feed@2x.png
                    takedown_scheduled_at: null
                    live_url: null
                    status: for_approval
                    content_type: supported_facebook_carousel
                    content: ''
                    name: Approval Workflow Test
                    is_published: false
                    was_manually_published: false
                  relationships:
                    user:
                      data:
                        id: '3'
                        type: user
                    stories:
                      data:
                      - id: '49'
                        type: story
                    service:
                      data:
                        id: '3'
                        type: service
                    moment:
                      data:
                        id: '1'
                        type: moment
                    brand:
                      data:
                        id: '1'
                        type: brand
                    approval_phase_group:
                      data:
                        id: '2'
                        type: phase-groups
                    placement:
                      data: null
                    account:
                      data:
                        id: '1'
                        type: account
                    budget:
                      data: null
                    post_components:
                      data:
                      - id: '1'
                        type: post_component
                    post_type:
                      data:
                        id: '18'
                        type: post_type
                    post_options:
                      data:
                      - id: '4'
                        type: post_option
                    post_type_options:
                      data:
                      - id: '4'
                        type: post_option
                    inherited_labels:
                      data: []
                    labels:
                      data:
                      - id: '1'
                        type: label
                      - id: '5'
                        type: label
                    label_sets:
                      data:
                      - id: '1'
                        type: label_set
                      - id: '2'
                        type: label_set
                    links:
                      data:
                      - id: '7'
                        type: link
                    asset_references:
                      data: []
                    delivery_record:
                      data:
                        id: '2'
                        type: delivery_record
                    rich_text_document:
                      data: null
                - id: '6'
                  type: phase
                  attributes:
                    name: Current Approval Phase
                    due_date: null
                    is_current: true
                    is_complete: false
                - id: '3'
                  type: user
                  attributes:
                    created_at: '2021-04-30T14:01:16.071-07:00'
                    email: vanetta@opal.com
                    first_name: Vanetta
                    last_name: Bradtke
                    title: null
                    full_name: Vanetta Bradtke
                    transliterated_full_name: Vanetta Bradtke
                    is_active: true
                    role_name: admin
                    updated_at: '2021-04-30T14:01:16.071-07:00'
                    uuid: 6a6667e4-d43c-4605-b4d1-7e694e2b67de
                  relationships:
                    avatar_asset_reference:
                      data: null
                    role:
                      data:
                        id: '1'
                        type: role
                    brands:
                      data:
                      - id: '1'
                        type: brand
                    opal:
                      data:
                        id: '1'
                        type: opal
                - id: '5'
                  type: phase
                  attributes:
                    name: Approval Phase
                    due_date: null
                    is_current: false
                    is_complete: true
                - id: '1'
                  type: content
                  attributes:
                    position: 0
                    service_id: 3
                    publishing_mode: none
                    created_at: '2021-04-30T13:53:29.551-07:00'
                    updated_at: '2021-04-30T14:04:24.082-07:00'
                    scheduled_at: '2021-04-30T00:00:00.000-07:00'
                    is_ghost: false
                    is_private: false
                    show_code_name: false
                    default_snapshot_url: http://login.opal.docker/api/v1/snapshots/4/683d6c27-be22-4c4e-b4ea-b15d522a0c4d/mobile_single@2x.png
                    takedown_scheduled_at: null
[...]
