openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Budgets API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Budgets
paths:
  /budgets/stories/{story_id}:
    get:
      tags:
      - Budgets
      operationId: ReadBudgetV0
      summary: Get a budget associated with a Story
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: 'NOTE: When the Story exists but has no budget,

        status 200 with an empty body will be returned instead of 404.'
      parameters:
      - name: story_id
        in: path
        description: ID of a story
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The requested budget.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: budget
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - budget
                      attributes:
                        type: object
                        required:
                        - value
                        additionalProperties: false
                        properties:
                          value:
                            type: number
                            description: The value to assign to the budget.
                          post_spend:
                            type:
                            - number
                            - 'null'
                          moment_spend:
                            type:
                            - number
                            - 'null'
                          story_allocation:
                            type:
                            - number
                            - 'null'
                          moment_allocation:
                            type:
                            - number
                            - 'null'
                          content_type:
                            type:
                            - string
                            - 'null'
                      relationships:
                        type: object
                        required:
                        - opal
                        - story
                        additionalProperties: false
                        properties:
                          opal:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - opal
                          story:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - story
                          moment:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - moment
                          post:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - content
              example:
                data:
                  id: '1'
                  type: budget
                  attributes:
                    id: 1
                    value: 30000
                    post_spend: null
                    moment_spend: null
                    story_allocation: null
                    moment_allocation: null
                    content_type: budget
                  relationships:
                    opal:
                      data:
                        id: '1'
                        type: opal
                    story:
                      data:
                        id: '3'
                        type: story
                    moment:
                      data: null
                    post:
                      data: null
        '404':
          description: Story not found
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
    post:
      tags:
      - Budgets
      operationId: CreateBudgetV0
      summary: Create a budget for a Story
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: ''
      parameters:
      - name: story_id
        in: path
        description: ID of a story
        required: true
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            x-not-json-api: true
            schema:
              type: object
              required:
              - budget
              properties:
                budget:
                  type: object
                  required:
                  - value
                  properties:
                    value:
                      type: number
      responses:
        '200':
          description: The budget has been created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: budget
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - budget
                      attributes:
                        type: object
                        required:
                        - value
                        additionalProperties: false
                        properties:
                          value:
                            type: number
                            description: The value to assign to the budget.
                          post_spend:
                            type:
                            - number
                            - 'null'
                          moment_spend:
                            type:
                            - number
                            - 'null'
                          story_allocation:
                            type:
                            - number
                            - 'null'
                          moment_allocation:
                            type:
                            - number
                            - 'null'
                          content_type:
                            type:
                            - string
                            - 'null'
                      relationships:
                        type: object
                        required:
                        - opal
                        - story
                        additionalProperties: false
                        properties:
                          opal:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - opal
                          story:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - story
                          moment:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - moment
                          post:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - content
              example:
                data:
                  id: '1'
                  type: budget
                  attributes:
                    id: 1
                    value: 30000
                    post_spend: null
                    moment_spend: null
                    story_allocation: null
                    moment_allocation: null
                    content_type: budget
                  relationships:
                    opal:
                      data:
                        id: '1'
                        type: opal
                    story:
                      data:
                        id: '3'
                        type: story
                    moment:
                      data: null
                    post:
                      data: null
        '404':
          description: Story not found
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
        '422':
          description: The Story already has a budget.
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                required:
                - error
                properties:
                  error:
                    type: string
  /budgets/stories/{budget_id}:
    delete:
      tags:
      - Budgets
      operationId: DeleteBudgetV0
      summary: Delete the budget with the given Id
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: ''
      parameters:
      - name: budget_id
        in: path
        description: ID of a budget
        required: true
        schema:
          type: integer
      responses:
        '204':
          description: The budget was successfully deleted.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
