openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Annotations API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Annotations
paths:
  /annotation/v1/{annotation_id}:
    delete:
      tags:
      - Annotations
      operationId: DeleteAnnotationV1
      summary: Delete an annotation
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: annotation_id
        in: path
        required: true
        description: The is associated with an annotation
        schema:
          type: string
      responses:
        '200':
          description: Annotation successfully marked as inactive
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: annotation
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - annotation
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          messages:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - message
                      attributes:
                        type: object
                        required:
                        - active
                        - created_at
                        - location
                        additionalProperties: false
                        properties:
                          active:
                            type: boolean
                          location:
                            type: string
                          created_at:
                            type: string
                            readOnly: true
                          updated_at:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          snapshot_id:
                            type:
                            - integer
                            - 'null'
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: message
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - message
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              user:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user
                              annotation:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - annotation
                          attributes:
                            type: object
                            required:
                            - message
                            - created_at
                            additionalProperties: false
                            properties:
                              message:
                                type: string
                              created_at:
                                type: string
                                readOnly: true
                              updated_at:
                                type:
                                - string
                                - 'null'
                                readOnly: true
                              active:
                                type:
                                - boolean
                                - 'null'
        '404':
          description: Annotation not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /annotations/v1/{snapshot_id}:
    get:
      tags:
      - Annotations
      operationId: ReadAnnotationsV1
      summary: List of annotations associated with a snapshot
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: snapshot_id
        in: path
        required: true
        description: The snapshot id used to look up annotations
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: A comma separated list of related objects to include
        schema:
          type: array
          items:
            type: string
            enum:
            - messages
        style: form
        explode: false
      responses:
        '200':
          description: An array of annotations
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: annotation
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - annotation
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            user:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - user
                            messages:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - message
                        attributes:
                          type: object
                          required:
                          - active
                          - created_at
                          - location
                          additionalProperties: false
                          properties:
                            active:
                              type: boolean
                            location:
                              type: string
                            created_at:
                              type: string
                              readOnly: true
                            updated_at:
                              type:
                              - string
                              - 'null'
                              readOnly: true
                            snapshot_id:
                              type:
                              - integer
                              - 'null'
                  included:
                    type: array
                    items:
                      title: message
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - message
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            user:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - user
                            annotation:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - annotation
                        attributes:
                          type: object
                          required:
                          - message
                          - created_at
                          additionalProperties: false
                          properties:
                            message:
                              type: string
                            created_at:
                              type: string
                              readOnly: true
                            updated_at:
                              type:
                              - string
                              - 'null'
                              readOnly: true
                            active:
                              type:
                              - boolean
                              - 'null'
        '404':
          description: Snapshot not found. Snapshot ID invalud or user does have permission to view
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    post:
      tags:
      - Annotations
      operationId: CreateAnnotationV1
      summary: Create an annotation associated with a snapshot
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: snapshot_id
        in: path
        required: true
        description: The snapshot id used to look up annotations
        schema:
          type: string
      responses:
        '201':
          description: Annotation successfully created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: annotation
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - annotation
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          messages:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - message
                      attributes:
                        type: object
                        required:
                        - active
                        - created_at
                        - location
                        additionalProperties: false
                        properties:
                          active:
                            type: boolean
                          location:
                            type: string
                          created_at:
                            type: string
                            readOnly: true
                          updated_at:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          snapshot_id:
                            type:
                            - integer
                            - 'null'
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: message
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - message
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              user:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user
                              annotation:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - annotation
                          attributes:
                            type: object
                            required:
                            - message
                            - created_at
                            additionalProperties: false
                            properties:
                              message:
                                type: string
                              created_at:
                                type: string
                                readOnly: true
                              updated_at:
                                type:
                                - string
                                - 'null'
                                readOnly: true
                              active:
                                type:
                                - boolean
                                - 'null'
        '404':
          description: Snapshot not found. Snapshot ID invalid or user does not have permission
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /message/v1/{message_id}:
    delete:
      tags:
      - Annotations
      operationId: DeleteMessageV2
      summary: Delete a message
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: message_id
        in: path
        required: true
        description: The id associated with the message
        schema:
          type: string
      responses:
        '200':
          description: Message successfully marked as inactive
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: message
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - message
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          annotation:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - annotation
                      attributes:
                        type: object
                        required:
                        - message
                        - created_at
                        additionalProperties: false
                        properties:
                          message:
                            type: string
                          created_at:
                            type: string
                            readOnly: true
                          updated_at:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          active:
                            type:
                            - boolean
                            - 'null'
        '404':
          description: Message not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /messages/v1/{annotation_id}:
    post:
      tags:
      - Annotations
      operationId: CreateMessageV2
      summary: Create a message association with an annotation
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: annotation_id
        in: path
        required: true
        description: The annotation id associated with a message
        schema:
          type: string
      responses:
        '201':
          description: Message successfuly created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: message
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - message
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          annotation:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - annotation
                      attributes:
                        type: object
                        required:
                        - message
                        - created_at
                        additionalProperties: false
                        properties:
                          message:
                            type: string
                          created_at:
                            type: string
                            readOnly: true
                          updated_at:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          active:
                            type:
                            - boolean
                            - 'null'
        '404':
          description: Annotation not found. Annotation ID invalid or user does not have permission
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
