openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Rich Texts API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Rich Texts
paths:
  /rich_texts/v1/{entity_type}/{entity_id}/current:
    get:
      tags:
      - Rich Texts
      operationId: ReadRichTextV1
      summary: Get latest rich_text by entity_type and entity_id
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The JSON:API resource type of entity the rich text belongs to
        schema:
          type: string
          enum:
          - content
      - name: entity_id
        in: path
        required: true
        description: The id of the entity the rich text belongs to
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - user
        style: form
        explode: false
      responses:
        '200':
          description: The latest rich text
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: rich_text
                    type: object
                    required:
                    - relationships
                    - id
                    - attributes
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - rich_text
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          author:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          entity:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - content
                      attributes:
                        type: object
                        additionalProperties: false
                        properties:
                          editor_content:
                            type:
                            - object
                            - 'null'
                            properties:
                              entityMap:
                                type: object
                              blocks:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                    text:
                                      type: string
                                    type:
                                      type: string
                                    depth:
                                      type: number
                                    inlineStyleRanges:
                                      type: array
                                    entityRanges:
                                      type: array
                                    data:
                                      type: object
                          created_at:
                            type: string
                            format: date-time
                            readOnly: true
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Brand object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - uuid
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              uuid:
                                type: string
                                format: uuid
                          relationships:
                            type: object
                            required:
                            - opal
                            additionalProperties: false
                            properties:
                              avatar_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              brands:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand
                              brand_admin_users:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand_admin_user
                              role:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - role
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                              moments_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moments_setting
                      - title: content
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - content
                          attributes:
                            type: object
                            required:
                            - position
                            - status
                            - is_published
                            - was_manually_published
                            - is_ghost
                            - is_private
                            - default_snapshot_url
                            - live_url
                            - takedown_scheduled_at
                            - scheduled_at
                            - name
                            - content
                            - show_code_name
                            - publishing_mode
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                                description: The name of the Content.
                              position:
                                type:
                                - integer
                                - 'null'
                                description: 'A relativistic position within the parent Moment.

                                  You can sort Content by position to lay them

                                  out in the intended order. Note that these positions are not

                                  indices (1, 2, 3, 4...).

                                  '
                              status:
                                type:
                                - string
                                - 'null'
                                description: The workflow status of the Content.
                                enum:
                                - draft
                                - for_approval
                                - needs_revision
                                - approved
                                - null
                              content_type:
                                type:
                                - string
                                - 'null'
                                description: The Content Type name of the Content. This attribute is only `null` when the content is private from the currently authenticated user.
                              content:
                                type:
                                - string
                                - 'null'
                                description: 'The unstructured content string of the Content.

                                  This is used for Content Types that do not rely on

                                  Post Options to store content/assets of Content.

                                  '
                              is_published:
                                type:
                                - boolean
                                - 'null'
                                description: Whether or not the Content has been published.
                              was_manually_published:
                                type:
                                - boolean
                                - 'null'
                                description: Whether or not the Content was manually published.
                              is_ghost:
                                type: boolean
                                description: 'Indicates whether the Content is redacted for the requesting user.

                                  '
                              is_private:
                                type: boolean
                                description: 'Indicates whether the Content is set to private.

                                  '
                              show_code_name:
                                type: boolean
                                description: 'If `is_ghost` is true and `show_code_name` is true then the `name`

                                  property is a "code name" for the piece of Content. The user must request

                                  access to the Content to see the proper name.

                                  '
                              default_snapshot_url:
                                type:
                                - string
                                - 'null'
                                description: A URL that serves up the default snapshot preview of this Content.
                              live_url:
                                type:
                                - string
                                - 'null'
                                description: The live URL to published Content.
                              scheduled_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An ISO8601 date-time. The date and time when the Content is scheduled to get published. If the Content has not been explicitly scheduled then this date is based on that of the Moment the Content lives within.

                                  '
                              start_interval:
                                type:
                                - string
                                - 'null'
                                description: 'An ISO8601 interval, relative to the start of the related Moment''s schedule, representing the explicitly chosen start datetime of the Content. Values are normalized to a seconds-denominated interval (e.g. `PT86400S`). Null when no specific time has been chosen for the Content — in that case `scheduled_at` falls back to the start of the Moment''s schedule.

                                  '
                              takedown_scheduled_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An ISO8601 date-time. The date and time when the Content is scheduled to get taken down.

                                  '
                              post_data:
                                type:
                                - object
                                - 'null'
                                description: 'A hash that can store any metadata associated with the Content.

                                  '
                                additionalProperties: true
                              publishing_mode:
                                type:
                                - string
                                - 'null'
                                description: The way in which the Content will be published.
                              post_state:
                                type:
                                - string
                                - 'null'
                                description: The state of the Content in the workflow process.
                                enum:
                                - published
                                - held
                                - failed
                                - publishing
                                - dispatched
                                - dispatching
                                - approved
                                - pending
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              service_id:
                                type: integer
                          relationships:
                            type: object
                            required:
                            - account
                            - approval_phase_group
                            - asset_references
                            - brand
                            - budget
                            - delivery_record
                            - inherited_labels
                            - label_sets
                            - labels
                            - links
                            - moment
                            - placement
                            - post_components
                            - post_options
                            - post_type
                            - post_type_options
                            - rich_text_document
                            - service
                            - stories
                            - user
                            additionalProperties: false
                            properties:
                              account:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - account
                              approval_phase_group:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - phase-groups
                              asset_references:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference
                              brand:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - brand
                              budget:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - budget
                              delivery_record:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - delivery_record
                              inherited_labels:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - label
                                - description: 'Only inherited labels. See the [Labels Overview](/api/documentation/v2#tag/Labels/Labels-Overview) for information on inheritance.

                                    '
                              label_sets:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label_set
                              labels:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - label
                                - description: 'All labels (inherited or explicitly set). See the [Labels Overview](/api/documentation/v2#tag/Labels/Labels-Overview) for information on inheritance.

                                    '
                              links:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - link
                              moment:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moment
                              placement:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - placement
                              post_components:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_component
                              post_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_option
                              post_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - post_type
                              post_type_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_option
                              rich_text_document:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - rich_text_document
                              service:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - service
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - story
                              user:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user
                          links:
                            type: object
                            additionalProperties: false
                            properties:
                              web_url:
                                type: string
        '204':
          description: No current rich text found
        '404':
          description: Requested Object not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Request parameters could not be processed
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /rich_texts/v1/{entity_type}/{entity_id}:
    post:
      tags:
      - Rich Texts
      operationId: CreateRichTextV1
      summary: Create a rich_text object, given creator entity_type and entity_id
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The JSON:API resource type of entity the rich text belongs to
        schema:
          type: string
          enum:
          - content
      - name: entity_id
        in: path
        required: true
        description: The id of the entity the rich text belongs to
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - attributes
                  - type
                  properties:
                    type:
                      type: string
                      enum:
                      - rich_text
                    attributes:
                      type: object
                      properties:
                        editor_content:
                          type:
                          - string
                          - 'null'
                    relationships:
                      type: object
                      properties:
                        parent:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - rich_text
                        author:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - user
                        content:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - content
      responses:
        '201':
          description: RichText successfully created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: rich_text
                    type: object
                    required:
                    - relationships
                    - id
                    - attributes
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - rich_text
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          author:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          entity:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - content
                      attributes:
                        type: object
                        additionalProperties: false
                        properties:
                          editor_content:
                            type:
                            - object
                            - 'null'
                            properties:
                              entityMap:
                                type: object
                              blocks:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    key:
                                      type: string
                                    text:
                                      type: string
                                    type:
                                      type: string
                                    depth:
                                      type: number
                                    inlineStyleRanges:
                                      type: array
                                    entityRanges:
                                      type: array
                                    data:
                                      type: object
                          created_at:
                            type: string
                            format: date-time
                            readOnly: true
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Brand object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - uuid
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              uuid:
                                type: string
                                format: uuid
                          relationships:
                            type: object
                            required:
                            - opal
                            additionalProperties: false
                            properties:
                              avatar_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              brands:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand
                              brand_admin_users:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand_admin_user
                              role:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - role
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                              moments_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moments_setting
                      - title: content
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - content
                          attributes:
                            type: object
                            required:
                            - position
                            - status
                            - is_published
                            - was_manually_published
                            - is_ghost
                            - is_private
                            - default_snapshot_url
                            - live_url
                            - takedown_scheduled_at
                            - scheduled_at
                            - name
                            - content
                            - show_code_name
                            - publishing_mode
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                                description: The name of the Content.
                              position:
                                type:
                                - integer
                                - 'null'
                                description: 'A relativistic position within the parent Moment.

                                  You can sort Content by position to lay them

                                  out in the intended order. Note that these positions are not

                                  indices (1, 2, 3, 4...).

                                  '
                              status:
                                type:
                                - string
                                - 'null'
                                description: The workflow status of the Content.
                                enum:
                                - draft
                                - for_approval
                                - needs_revision
                                - approved
                                - null
                              content_type:
                                type:
                                - string
                                - 'null'
                                description: The Content Type name of the Content. This attribute is only `null` when the content is private from the currently authenticated user.
                              content:
                                type:
                                - string
                                - 'null'
                                description: 'The unstructured content string of the Content.

                                  This is used for Content Types that do not rely on

                                  Post Options to store content/assets of Content.

                                  '
                              is_published:
                                type:
                                - boolean
                                - 'null'
                                description: Whether or not the Content has been published.
                              was_manually_published:
                                type:
                                - boolean
                                - 'null'
                                description: Whether or not the Content was manually published.
                              is_ghost:
                                type: boolean
                                description: 'Indicates whether the Content is redacted for the requesting user.

                                  '
                              is_private:
                                type: boolean
                                description: 'Indicates whether the Content is set to private.

                                  '
                              show_code_name:
                                type: boolean
                                description: 'If `is_ghost` is true and `show_code_name` is true then the `name`

                                  property is a "code name" for the piece of Content. The user must request

                                  access to the Content to see the proper name.

                                  '
                              default_snapshot_url:
                                type:
                                - string
                                - 'null'
                                description: A URL that serves up the default snapshot preview of this Content.
                              live_url:
                                type:
                                - string
                                - 'null'
                                description: The live URL to published Content.
                              scheduled_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An ISO8601 date-time. The date and time when the Content is scheduled to get published. If the Content has not been explicitly scheduled then this date is based on that of the Moment the Content lives within.

                                  '
                              start_interval:
                                type:
                                - string
                                - 'null'
                                description: 'An ISO8601 interval, relative to the start of the related Moment''s schedule, representing the explicitly chosen start datetime of the Content. Values are normalized to a seconds-denominated interval (e.g. `PT86400S`). Null when no specific time has been chosen for the Content — in that case `scheduled_at` falls back to the start of the Moment''s schedule.

                                  '
                              takedown_scheduled_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: 'An ISO8601 date-time. The date and time when the Content is scheduled to get taken down.

                                  '
                              post_data:
                                type:
                                - object
                                - 'null'
                                description: 'A hash that can store any metadata associated with the Content.

                                  '
                                additionalProperties: true
                              publishing_mode:
                                type:
                                - string
                                - 'null'
                                description: The way in which the Content will be published.
                              post_state:
                                type:
                                - string
                                - 'null'
                                description: The state of the Content in the workflow process.
                                enum:
                                - published
                                - held
                                - failed
                                - publishing
                                - dispatched
                                - dispatching
                                - approved
                                - pending
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              service_id:
                                type: integer
                          relationships:
                            type: object
                            required:
                            - account
                            - approval_phase_group
                            - asset_references
                            - brand
                            - budget
                            - delivery_record
                            - inherited_labels
                            - label_sets
                            - labels
                            - links
                            - moment
                            - placement
                            - post_components
                            - post_options
                            - post_type
                            - post_type_options
                            - rich_text_document
                            - service
                            - stories
                            - user
                            additionalProperties: false
                            properties:
                              account:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - account
                              approval_phase_group:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - phase-groups
                              asset_references:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference
                              brand:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - brand
                              budget:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - budget
                              delivery_record:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - delivery_record
                              inherited_labels:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - label
                                - description: 'Only inherited labels. See the [Labels Overview](/api/documentation/v2#tag/Labels/Labels-Overview) for information on inheritance.

                                    '
                              label_sets:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label_set
                              labels:
                                allOf:
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - type
                                        additionalProperties: false
                                        properties:
                                          id:
                                            type: string
                                          type:
                                            type: string
                                            enum:
                                            - label
                                - description: 'All labels (inherited or explicitly set). See the [Labels Overview](/api/documentation/v2#tag/Labels/Labels-Overview) for information on inheritance.

                                    '
                              links:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - link
                              moment:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moment
                              placement:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - placement
                              post_components:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_component
                              post_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_option
                              post_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - post_type
                              post_type_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - post_option
                              rich_text_document:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - rich_text_document
                              service:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - service
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - story
                              user:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user
                          links:
                            type: object
                            additionalProperties: false
                            properties:
                              web_url:
                                type: string
        '404':
          description: Author or Entity not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Rich Text not created due to invalid entity type
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '500':
          description: Rich Text not created due to an unknown issue
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
[...]
