openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Presentation Themes API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Presentation Themes
  description: Workspace brand presentation themes
paths:
  /v3/presentation_themes:
    get:
      tags:
      - Presentation Themes
      operationId: ReadPresentationThemesV3
      summary: '[PROPOSED] Get the presentation themes of one or more workspaces'
      description: Presentation themes carry a workspace brand's presentation styling.
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter
        in: query
        description: Filters for limiting the results.
        required: true
        schema:
          type: object
          required:
          - workspace_id
          properties:
            workspace_id:
              description: 'The IDs of the workspaces whose presentation themes should be returned, as a comma separated list. This filter is required. For example, `filter[workspace_id]=798ac6d9-b3fc-4155-88ee-237f43f3404b,d79e513e-9246-454e-80bf-8268bc39cd6e` returns the themes of both workspaces.

                '
              type: array
              items:
                type: string
                format: uuid
        style: deepObject
        explode: true
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - pptx_template_asset_reference
        style: form
        explode: false
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of presentation themes.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: presentation_theme
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - presentation_theme
                        attributes:
                          type: object
                          required:
                          - created_at
                          - legacy_id
                          - name
                          - styles
                          - updated_at
                          additionalProperties: false
                          properties:
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time indicating when the presentation theme was created.
                              readOnly: true
                            legacy_id:
                              type: string
                              description: The presentation theme's legacy integer identifier, as a string.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time indicating when the presentation theme was last updated.
                              readOnly: true
                            name:
                              type:
                              - string
                              - 'null'
                              description: The presentation theme's display name.
                            styles:
                              type: object
                              additionalProperties: false
                              description: The workspace's brand styling as a flat map of string values.
                              properties:
                                logo:
                                  type:
                                  - string
                                  - 'null'
                                  description: URL of the brand logo image.
                                logo_alignment:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - center
                                  - left
                                  - right
                                header_background_color:
                                  type:
                                  - string
                                  - 'null'
                                  description: Hex color behind the logo header.
                                background_color:
                                  type:
                                  - string
                                  - 'null'
                                  description: Hex slide background color.
                                secondary_background_color:
                                  type:
                                  - string
                                  - 'null'
                                  description: Hex accent background, derived from background_color.
                                  readOnly: true
                                background_image:
                                  type:
                                  - string
                                  - 'null'
                                  description: URL of a slide background image.
                                background_image_opacity:
                                  type:
                                  - string
                                  - 'null'
                                  description: Background image opacity between 0.0 and 1.0.
                                content_card_color:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - light
                                  - dark
                                title_font_family:
                                  type:
                                  - string
                                  - 'null'
                                title_font_color:
                                  type:
                                  - string
                                  - 'null'
                                  description: Hex title font color.
                                title_font_size:
                                  type:
                                  - string
                                  - 'null'
                                  description: Title font size, e.g. "64px".
                                title_font_weight:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - normal
                                  - bold
                                body_font_family:
                                  type:
                                  - string
                                  - 'null'
                                body_font_color:
                                  type:
                                  - string
                                  - 'null'
                                  description: Hex body font color.
                                body_font_size:
                                  type:
                                  - string
                                  - 'null'
                                  description: Body font size, e.g. "24px".
                                body_font_weight:
                                  type:
                                  - string
                                  - 'null'
                                  enum:
                                  - normal
                                  - bold
                        relationships:
                          type: object
                          required:
                          - pptx_template_asset_reference
                          - workspace
                          additionalProperties: false
                          properties:
                            pptx_template_asset_reference:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - asset_reference
                            workspace:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - workspace
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset_reference
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset_reference
                          attributes:
                            type: object
                            required:
                            - asset_type
                            - content_type
                            - created_at
                            - description
                            - escaped_filename
                            - filename
                            - filesize
                            - format
                            - full_url
                            - height
                            - legacy_id
                            - meta_data
                            - original_url
                            - preview_url
                            - public_id
                            - updated_at
                            - width
                            additionalProperties: false
                            properties:
                              asset_type:
                                type:
                                - string
                                - 'null'
                              content_type:
                                type:
                                - string
                                - 'null'
                              created_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                              escaped_filename:
                                type: string
                              filename:
                                type:
                                - string
                                - 'null'
                              filesize:
                                type:
                                - integer
                                - 'null'
                                description: Size of file in bytes.
                              format:
                                type:
                                - string
                                - 'null'
                              full_url:
                                type:
                                - string
                                - 'null'
                              height:
                                type:
                                - integer
                                - 'null'
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              meta_data:
                                type:
                                - object
                                - 'null'
                              original_url:
                                type:
                                - string
                                - 'null'
                              preview_url:
                                type:
                                - string
                                - 'null'
                              public_id:
                                type:
                                - string
                                - 'null'
                                x-not-relationship: true
                              updated_at:
                                type: string
                                description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                                format: date-time
                                readOnly: true
                              width:
                                type:
                                - integer
                                - 'null'
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              cover_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: 383f568a-5156-4501-8fbe-eee1ab189837
                  type: presentation_theme
                  attributes:
                    created_at: '2026-07-01T17:32:28Z'
                    legacy_id: '42'
                    name: My Theme
                    updated_at: '2026-07-15T09:10:11Z'
                    styles:
                      logo: https://ouropal.com/api/v1/asset_proxy/d2c8a2fa-1c38-44f9-ae16-a39202f998d0
                      logo_alignment: left
                      header_background_color: '#0b101b'
                      background_color: '#0b101b'
                      secondary_background_color: '#FF00FF'
                      background_image: null
                      background_image_opacity: '0.5'
                      content_card_color: dark
                      title_font_family: Helvetica
                      title_font_color: '#FF6600'
                      title_font_size: 36px
                      title_font_weight: normal
                      body_font_family: Helvetica
                      body_font_color: '#ffffff'
                      body_font_size: 20px
                      body_font_weight: normal
                  relationships:
                    pptx_template_asset_reference:
                      data:
                        id: dc817ff3-49a8-4fc8-b7f4-9161e175a9a2
                        type: asset_reference
                    workspace:
                      data:
                        id: 0f5b5f5e-8007-4670-8659-7cd426fc0b98
                        type: workspace
                meta:
                  resource_type: presentation_theme
                  total: 1
                  page:
                    limit: 50
                    offset: 0
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
