openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Activities API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Activities
  description: '## Activities Overview

    In Opal, "activities" encompass both things like someone adding an asset to content and also someone sending a chat message.'
paths:
  /activities/v1/{entity_type}/activity_types:
    get:
      tags:
      - Activities
      operationId: ReadActivityTypesV1
      summary: Returns a list of possible activity types for a given object, as specified by…
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The type of object to fetch activities for
        schema:
          type: string
          enum:
          - content
          - moments
      responses:
        '200':
          description: An array of activity types
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: activity type
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - activity_type
                        attributes:
                          type: object
                          required:
                          - verb
                          - object
                          additionalProperties: false
                          properties:
                            verb:
                              type: string
                              description: The action (verb).
                            object:
                              type: string
                              description: The thing being acted upon.
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    properties:
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '2'
                  type: activity_type
                  attributes:
                    object: moment
                    verb: comment
                - id: '3'
                  type: activity_type
                  attributes:
                    object: moment
                    verb: duplicate
                meta:
                  total: 2
                  page:
                    limit: 50
                    offset: 0
  /activities/v1/{entity_type}/{entity_id}:
    get:
      tags:
      - Activities
      operationId: ReadActivitiesV1
      summary: Returns all activities for a given object, as specified by the entity_type…
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The type of object to fetch activities for
        schema:
          type: string
          enum:
          - content
          - moments
      - name: entity_id
        in: path
        required: true
        description: The ID of the entity to fetch activities for. The type is determined by the entity_type parameter
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: A comma separated list of related objects to include
        schema:
          type: array
          items:
            type: string
            enum:
            - user
            - activity_type
            - asset_references
            - reactions
        style: form
        explode: false
      responses:
        '200':
          description: An array of activities
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: activity
                      type: object
                      required:
                      - relationships
                      - id
                      - attributes
                      - type
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - activity
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            user:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - user
                            activity_type:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - activity_type
                            asset_references:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                            reactions:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - reaction
                        attributes:
                          type: object
                          required:
                          - comment
                          - created_at
                          additionalProperties: false
                          properties:
                            comment:
                              type:
                              - string
                              - 'null'
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset_reference
                        type: object
                        required:
                        - id
                        - attributes
                        - type
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - asset_reference
                          attributes:
                            type: object
                            required:
                            - asset_type
                            - asset_uuid
                            - content_type
                            - format
                            - filename
                            - escaped_filename
                            - filesize
                            - full_url
                            - meta_data
                            - original_url
                            - preview_url
                            - public_id
                            - width
                            - height
                            - uuid
                            additionalProperties: false
                            properties:
                              asset_type:
                                type:
                                - string
                                - 'null'
                                description: 'This field is semi-open ended but should be set to `image`, `audio`,

                                  or `video` for those respective types of media and `file` for most

                                  other types of media.

                                  '
                              asset_source:
                                type:
                                - string
                                - 'null'
                                description: 'Asset Sources are pre-existing records indicating the origin of an

                                  asset reference. You can''t set this field to arbitrary values. If you

                                  know of an Asset Source and you''d like to indicate a new asset

                                  reference originated with that source, this field should contain that

                                  source''s name.

                                  '
                              asset_uuid:
                                type:
                                - string
                                - 'null'
                                description: 'The `id` of an `asset` resource this asset reference will surface

                                  within the Asset Library.

                                  '
                              content_type:
                                type:
                                - string
                                - 'null'
                                description: 'This field was used by some legacy systems. It is exposed for

                                  historical reasons. If set, setting it to the same value as

                                  `asset_type` is generally a good idea. It is not a MIME type.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                              format:
                                type:
                                - string
                                - 'null'
                                description: 'Used differently by some legacy systems but any new asset reference

                                  should use the `format` field to store its filetype extension (ex. `png`,

                                  `mp4`, `gif`, `mov`, etc.).

                                  '
                              filename:
                                type:
                                - string
                                - 'null'
                              escaped_filename:
                                type: string
                                readOnly: true
                              filesize:
                                type:
                                - integer
                                - 'null'
                                description: Size of file in bytes.
                              full_url:
                                type:
                                - string
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `url` property of the asset.

                                  '
                              meta_data:
                                type:
                                - object
                                - 'null'
                                description: Can contain arbitrary key-value pairs related to the asset.
                                properties:
                                  duration:
                                    type: string
                                    description: Parsed from video assets.
                                  page_count:
                                    type: string
                                    description: Parsed from PDF assets.
                                  processed_height:
                                    type: string
                                    description: Parsed from video assets.
                                  processed_width:
                                    type: string
                                    description: Parsed from video assets.
                                additionalProperties:
                                  type: string
                              original_url:
                                type:
                                - string
                                - 'null'
                              preview_url:
                                type:
                                - string
                                - 'null'
                                readOnly: true
                              public_id:
                                type:
                                - string
                                - 'null'
                              width:
                                type:
                                - integer
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `width` of the asset.

                                  '
                              height:
                                type:
                                - integer
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `height` of the asset.

                                  '
                              uuid:
                                type: string
                                readOnly: true
                                description: 'Use this ID when referring to the same asset reference from one of

                                  Opal''s v3 APIs.

                                  '
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              brand:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - brand
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - story
                              cover_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              asset_reference_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference_option
                              options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - option
                      - title: activity type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - activity_type
                          attributes:
                            type: object
                            required:
                            - verb
                            - object
                            additionalProperties: false
                            properties:
                              verb:
                                type: string
                                description: The action (verb).
                              object:
                                type: string
                                description: The thing being acted upon.
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Brand object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - uuid
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              uuid:
                                type: string
                                format: uuid
                          relationships:
                            type: object
                            required:
                            - opal
                            additionalProperties: false
                            properties:
                              avatar_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              brands:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand
                              brand_admin_users:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand_admin_user
                              role:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - role
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                              moments_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moments_setting
                      - title: reaction
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - reaction
                          attributes:
                            type: object
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the reaction was created.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              user:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user
                              activity:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - activity
                              reaction_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - reaction_type
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    properties:
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '2'
                  type: activity
                  attributes:
                    comment: this is an activity comment
                    created_at: '2019-01-14T15:27:01.881-08:00'
                  relationships:
                    asset_references:
                      data: []
                    user:
                      data:
                        id: '986288609'
                        type: user
                    activity_type:
                      data:
                        id: '70'
                        type: activity_type
                    reactions:
                      data: []
                - id: '3'
                  type: activity
                  attributes:
                    comment: this is an activity comment
                    created_at: '2019-01-14T15:27:01.958-08:00'
                  relationships:
                    asset_references:
                      data: []
                    user:
                      data:
                        id: '986288610'
                        type: user
                    activity_type:
                      data:
                        id: '71'
                        type: activity_type
                    reactions:
                      data:
                      - id: '1'
                        type: reaction
                      - id: '2'
                        type: reaction
                meta:
                  total: 2
                  page:
                    limit: 50
                    offset: 0
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    post:
      tags:
      - Activities
      operationId: CreateActivityV1
      summary: Create an activity for a given moment or piece of content
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The type of object to fetch activities for
        schema:
          type: string
          enum:
          - content
          - moments
      - name: entity_id
        in: path
        required: true
        description: The ID of the entity to fetch activities for. The type is determined by the entity_type parameter
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - activity
                    attributes:
                      type: object
                      properties:
                        comment:
                          type:
                          - string
                          - 'null'
                          description: Chat message, if set.
            example:
              data:
                type: activity
                attributes:
                  comment: Test comment
      responses:
        '200':
          description: Activity sucessfully created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: activity
                    type: object
                    required:
                    - relationships
                    - id
                    - attributes
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - activity
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          activity_type:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - activity_type
                          asset_references:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - asset_reference
                          reactions:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - reaction
                      attributes:
                        type: object
                        required:
                        - comment
                        - created_at
                        additionalProperties: false
                        properties:
                          comment:
                            type:
                            - string
                            - 'null'
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset_reference
                        type: object
                        required:
                        - id
                        - attributes
                        - type
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - asset_reference
                          attributes:
                            type: object
                            required:
                            - asset_type
                            - asset_uuid
                            - content_type
                            - format
                            - filename
                            - escaped_filename
                            - filesize
                            - full_url
                            - meta_data
                            - original_url
                            - preview_url
                            - public_id
                            - width
                            - height
                            - uuid
                            additionalProperties: false
                            properties:
                              asset_type:
                                type:
                                - string
                                - 'null'
                                description: 'This field is semi-open ended but should be set to `image`, `audio`,

                                  or `video` for those respective types of media and `file` for most

                                  other types of media.

                                  '
                              asset_source:
                                type:
                                - string
                                - 'null'
                                description: 'Asset Sources are pre-existing records indicating the origin of an

                                  asset reference. You can''t set this field to arbitrary values. If you

                                  know of an Asset Source and you''d like to indicate a new asset

                                  reference originated with that source, this field should contain that

                                  source''s name.

                                  '
                              asset_uuid:
                                type:
                                - string
                                - 'null'
                                description: 'The `id` of an `asset` resource this asset reference will surface

                                  within the Asset Library.

                                  '
                              content_type:
                                type:
                                - string
                                - 'null'
                                description: 'This field was used by some legacy systems. It is exposed for

                                  historical reasons. If set, setting it to the same value as

                                  `asset_type` is generally a good idea. It is not a MIME type.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                              format:
                                type:
                                - string
                                - 'null'
                                description: 'Used differently by some legacy systems but any new asset reference

                                  should use the `format` field to store its filetype extension (ex. `png`,

                                  `mp4`, `gif`, `mov`, etc.).

                                  '
                              filename:
                                type:
                                - string
                                - 'null'
                              escaped_filename:
                                type: string
                                readOnly: true
                              filesize:
                                type:
                                - integer
                                - 'null'
                                description: Size of file in bytes.
                              full_url:
                                type:
                                - string
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `url` property of the asset.

                                  '
                              meta_data:
                                type:
                                - object
                                - 'null'
                                description: Can contain arbitrary key-value pairs related to the asset.
                                properties:
                                  duration:
                                    type: string
                                    description: Parsed from video assets.
                                  page_count:
                                    type: string
                                    description: Parsed from PDF assets.
                                  processed_height:
                                    type: string
                                    description: Parsed from video assets.
                                  processed_width:
                                    type: string
                                    description: Parsed from video assets.
                                additionalProperties:
                                  type: string
                              original_url:
                                type:
                                - string
                                - 'null'
                              preview_url:
                                type:
                                - string
                                - 'null'
                                readOnly: true
                              public_id:
                                type:
                                - string
                                - 'null'
                              width:
                                type:
                                - integer
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `width` of the asset.

                                  '
                              height:
                                type:
                                - integer
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `height` of the asset.

                                  '
                              uuid:
                                type: string
                                readOnly: true
                                description: 'Use this ID when referring to the same asset reference from one of

                                  Opal''s v3 APIs.

                                  '
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              brand:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - brand
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - story
                              cover_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              asset_reference_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference_option
                              options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - option
                      - title: activity type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - activity_type
                          attributes:
                            type: object
                            required:
                            - verb
                            - object
                            additionalProperties: false
                            properties:
                              verb:
                                type: string
                                description: The action (verb).
                              object:
                                type: string
                                description: The thing being acted upon.
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Brand object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - uuid
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              uuid:
                                type: string
                                format: uuid
                          relationships:
                            type: object
                            required:
                            - opal
                            additionalProperties: false
                            properties:
                              avatar_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              brands:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand
                              brand_admin_users:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - brand_admin_user
                              role:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - role
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                              moments_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - moments_setting
                      - title: reaction
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - reaction
                          attributes:
                            type: object
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the reaction was created.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              user:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - user
                              activity:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - activity
                              reaction_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - reaction_type
              example:
                data:
                  id: '6'
                  type: activity
                  attributes:
                    comment: Test comment
                    created_at: '2019-01-14T15:27:03.959-08:00'
                  relationships:
                    asset_references:
                      data: []
                    user:
                      data:
                        id: '593363170'
                        type: user
                    activity_type:
                      data:
                        id: '34'
                        type: activity_type
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /activities/v1/{entity_type}/{entity_id}/checkpoint:
    get:
      tags:
      - Activities
      operationId: ReadCheckpointV1
      summary: Returns latest checkpoint for a given entity and user
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The type of object to fetch activities for
        schema:
          type: string
          enum:
          - content
          - moment
      - name: entity_id
        in: path
        required: true
        description: The ID of the entity to fetch activities for. The type is determined by the entity_type parameter
        schema:
          type: string
      responses:
        '200':
          description: The latest checkpoint for the given entity
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: checkpoint
                    type: object
                    required:
                    - relationships
                    - id
                    - attributes
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - checkpoint
                      relationships:
                        type: object
                        required:
                        - user
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                      attributes:
                        type: object
                        required:
                        - checkpoint
                        - section
                        - created_at
                        additionalProperties: false
                        properties:
                          checkpoint:
                            type: integer
                            description: 'Depending on the context, this property is used differently.


                              In the context of an Activity Checkpoint, this property will be set to the ID of the activity on which the checkpoint is being created.

                              Note that this ID *IS* sent as an integer, not a string.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          section:
                            type: string
                            enum:
                            - activity
              example:
                data:
                  id: '5'
                  type: checkpoint
                  attributes:
                    checkpoint: 7
                    created_at: '2019-01-31T15:57:49.032Z'
                    section: activity
                  relationships:
                    user:
                      data:
                        id: '593363170'
                        type: user
        '404':
          description: Entity not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    post:
      tags:
      - Activities
      operationId: CreateCheckpointV1
      summary: Create a checkpoint for a give entity
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The type of object to fetch activities for
        schema:
          type: string
          enum:
          - content
          - moment
      - name: entity_id
        in: path
        required: true
        description: The ID of the entity to fetch activities for. The type is determined by the entity_type parameter
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - checkpoint
                    attributes:
                      type: object
                      required:
                      - section
                      - checkpoint
                      properties:
                        section:
                          type: string
                          enum:
                          - activity
                        checkpoint:
                          type: integer
                          description: 'Depending on the context, this property is used differently.


                            In the context of an Activity Checkpoint, send the ID of the activity on which the checkpoint is being created.

                            '
            example:
              data:
                type: checkpoint
                attributes:
                  section: activity
                  checkpoint: 1234
      responses:
        '200':
          description: A checkpoint was successfully created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: checkpoint
                    type: object
                    required:
                    - relationships
                    - id
                    - attributes
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - checkpoint
                      relationships:
                        type: object
                        required:
                        - user
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                      attributes:
                        type: object
                        required:
                        - checkpoint
                        - section
                        - created_at
                        additionalProperties: false
                        properties:
                          checkpoint:
                            type: integer
                            description: 'Depending on the context, this property is used differently.


                              In the context of an Activity Checkpoint, this property will be set to the ID of the activity on which the checkpoint is being created.

                              Note that this ID *IS* sent as an integer, not a string.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          section:
                            type: string
                            enum:
                            - activity
              example:
                data:
                  id: '13'
                  type: checkpoint
                  attributes:
                    checkpoint: 11
                    created_at: '2019-01-31T15:57:50.544Z'
                    section: activity
                  relationships:
                    user:
                      data:
                        id: '593363170'
                        type: user
        '404':
          description: Entity not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
