openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Custom Field Types API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Custom Field Types
paths:
  /loupe/v3/custom_field_types:
    get:
      tags:
      - Custom Field Types
      operationId: ReadCustomFieldTypesV3
      summary: Get all of the available custom field types
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of Custom Field Types.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: custom_field_type
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - custom_field_type
                        attributes:
                          type: object
                          required:
                          - system_type
                          - display_name
                          - description
                          - schema
                          - schema_version
                          - datatype
                          - created_at
                          - updated_at
                          additionalProperties: false
                          properties:
                            system_type:
                              type: string
                              description: The input type that this custom field represents.
                            display_name:
                              type: string
                              description: The friendly label for this custom field type.
                            description:
                              type:
                              - string
                              - 'null'
                              description: A longer description explaining the use case of this input type.
                            schema:
                              type: object
                              description: "JSON metadata describing among other things the property names, \ndata types, and required fields that are configurable for this given\nCustom Field Type. Here, required fields would indicate properties which\nmust be configured by the admin at the time of Custom Field creation.\n"
                            schema_version:
                              type: integer
                              description: An integer representing the given major version of this Custom Field Type's schema.
                            datatype:
                              type: string
                              description: The underlying primitive datatype (e.g., String, or Date).
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's creation date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's most recent updated date-time.
                              readOnly: true
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: d19806fe-55b3-4682-9d67-07343fea3975
                  type: custom_field_type
                  attributes:
                    system_type: textarea
                    display_name: Text Input
                    datatype: String
                    description: A text input allowing line breaks.
                    schema: "{\n  \"type\": \"object\",\n  \"required\": [],\n  \"properties\": {},\n  \"additionalProperties\": false\n}\n"
                    schema_version: 1
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
