openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Url Uploads API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Url Uploads
paths:
  /assets/v2/url_uploads/{url_upload_id}:
    get:
      tags:
      - Url Uploads
      operationId: GetUrlUploadV2
      summary: Get a URL upload
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: url_upload_id
        in: path
        required: true
        description: The ID of the URL upload
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - asset
        style: form
        explode: false
      responses:
        '200':
          description: A single UrlUpload
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: url_upload
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - url_upload
                      attributes:
                        type: object
                        required:
                        - created_at
                        - error
                        - file_name
                        - source_url
                        - status
                        - updated_at
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          error:
                            type:
                            - string
                            - 'null'
                            description: If applicable, the error that occurred when attempting to create an asset from the source_url.
                            readOnly: true
                          file_name:
                            type: string
                          source_url:
                            type: string
                            description: 'The URL that should be uploaded into Opal. This URL is not stored on

                              the eventual `asset` record, it just serves as the source for the

                              upload.

                              '
                          download_url_override:
                            type:
                            - string
                            - 'null'
                            description: 'An alternative download URL for the file. If set, downloading the

                              asset will result in a redirect to the overridden location instead of

                              downloading the asset data directly. When not present, `url` should

                              be used.

                              '
                          status:
                            type: string
                            enum:
                            - pending
                            - in_progress
                            - complete
                            - failed
                            description: Describes the state of the url_upload. Initially set to "pending".
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          asset:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - asset
              example:
                data:
                  id: 59b40496-5742-4b95-8c24-34b752d1cf8d
                  type: url_upload
                  attributes:
                    source_url: https://www.example.com/a.jpg
                    file_name: example.jpg
                    status: pending
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                    error: null
                  relationships:
                    asset:
                      data:
                        id: ef23718c-8829-41d5-bb34-94865f5d09fe
                        type: asset
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /assets/v2/url_uploads:
    post:
      tags:
      - Url Uploads
      operationId: CreateUrlUploadV2
      summary: Create a url upload
      description: 'This endpoint creates a URL upload. A URL upload represents a request to

        create an asset for a file at the provided `source_url`, with the name

        provided in `file_name`. Creating the corresponding asset is done

        asynchronously. All URL uploads are created with an initial status of

        "pending". While the asset is being created, the status will transition to

        "in_progress". If the creation of the asset is successful, the status will

        transition to "complete", and the asset relationship will be set on the

        original URL upload. If the asset creation fails, the status field will

        transition to "failed", and the error attribute of the URL upload will be

        updated with the relevant error that caused the failure.


        When `pdf_from_opal=true` is specified, the endpoint will generate a PDF

        from an Opal page URL using URLBox. The provided `source_url` will be

        transformed into an authenticated URLBox PDF generation URL with cookie

        authentication. This feature requires a `login_key` cookie to be present

        in the request for authentication. The resulting URL upload will have

        a default filename of "opal-export.pdf" if no `file_name` is provided.'
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - asset
        style: form
        explode: false
      - name: sync
        in: query
        required: false
        description: 'By default, an operation will be created with the `pending` status. It will

          return early and complete asynchronously. When this parameter is `true`,

          all operations will be processed synchronously and completely within one

          request, and the server will not respond until all operations have

          completed.


          This option should be used with care as longer-running requests have the

          potential to time out.

          '
        schema:
          type: boolean
      - name: pdf_from_opal
        in: query
        description: When set to 'true', transforms the provided source_url into an authenticated URLBox PDF generation URL
        required: false
        schema:
          type: string
          enum:
          - 'true'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - url_upload
                    attributes:
                      type: object
                      required:
                      - file_name
                      - source_url
                      properties:
                        file_name:
                          type: string
                        source_url:
                          type: string
                          description: 'The URL that should be uploaded into Opal. This URL is not stored

                            on the eventual `asset` record, it just serves as the source for

                            the upload.

                            '
                        download_url_override:
                          type:
                          - string
                          - 'null'
                          description: 'An alternative download URL for the file. If set, downloading the

                            asset will result in a redirect to the overridden location instead of

                            downloading the asset data directly. When not present, `url` should

                            be used.

                            '
            example:
              data:
                type: url_upload
                attributes:
                  file_name: example.jpg
                  source_url: https://www.example.com/a.jpg
      responses:
        '201':
          description: URL Upload created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: url_upload
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - url_upload
                      attributes:
                        type: object
                        required:
                        - created_at
                        - error
                        - file_name
                        - source_url
                        - status
                        - updated_at
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          error:
                            type:
                            - string
                            - 'null'
                            description: If applicable, the error that occurred when attempting to create an asset from the source_url.
                            readOnly: true
                          file_name:
                            type: string
                          source_url:
                            type: string
                            description: 'The URL that should be uploaded into Opal. This URL is not stored on

                              the eventual `asset` record, it just serves as the source for the

                              upload.

                              '
                          download_url_override:
                            type:
                            - string
                            - 'null'
                            description: 'An alternative download URL for the file. If set, downloading the

                              asset will result in a redirect to the overridden location instead of

                              downloading the asset data directly. When not present, `url` should

                              be used.

                              '
                          status:
                            type: string
                            enum:
                            - pending
                            - in_progress
                            - complete
                            - failed
                            description: Describes the state of the url_upload. Initially set to "pending".
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          asset:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - asset
              example:
                data:
                  id: 59b40496-5742-4b95-8c24-34b752d1cf8d
                  type: url_upload
                  attributes:
                    source_url: https://www.example.com/a.jpg
                    file_name: example.jpg
                    status: pending
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                    error: null
                  relationships:
                    asset:
                      data:
                        id: ef23718c-8829-41d5-bb34-94865f5d09fe
                        type: asset
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    get:
      tags:
      - Url Uploads
      operationId: ReadUrlUploadsV2
      summary: Get a collection of URL uploads
      description: 'Records will be ordered by created_at in ascending order by default.

        If a pagination limit is not specified, a default page limit of 50 will be used.'
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - asset
        style: form
        explode: false
      - name: page
        in: query
        required: false
        description: 'Request a particular page using `offset` and `limit`. When not specified, the `offset` defaults to 0 and the `limit` defaults to 50.

          '
        schema:
          type: object
          properties:
            offset:
              type: integer
              minimum: 0
            limit:
              type: integer
              minimum: 0
              maximum: 800
        style: deepObject
        explode: true
      responses:
        '200':
          description: A list of url uploads
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: url_upload
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - url_upload
                        attributes:
                          type: object
                          required:
                          - created_at
                          - error
                          - file_name
                          - source_url
                          - status
                          - updated_at
                          additionalProperties: false
                          properties:
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                            error:
                              type:
                              - string
                              - 'null'
                              description: If applicable, the error that occurred when attempting to create an asset from the source_url.
                              readOnly: true
                            file_name:
                              type: string
                            source_url:
                              type: string
                              description: 'The URL that should be uploaded into Opal. This URL is not stored on

                                the eventual `asset` record, it just serves as the source for the

                                upload.

                                '
                            download_url_override:
                              type:
                              - string
                              - 'null'
                              description: 'An alternative download URL for the file. If set, downloading the

                                asset will result in a redirect to the overridden location instead of

                                downloading the asset data directly. When not present, `url` should

                                be used.

                                '
                            status:
                              type: string
                              enum:
                              - pending
                              - in_progress
                              - complete
                              - failed
                              description: Describes the state of the url_upload. Initially set to "pending".
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            asset:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - asset
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset
                          attributes:
                            type: object
                            required:
                            - bytes
                            - created_at
                            - download_url_override
                            - duration
                            - file_extension
                            - file_name
                            - height
                            - mime_type
                            - updated_at
                            - url
                            - width
                            additionalProperties: false
                            properties:
                              url:
                                type: string
                              download_url_override:
                                type:
                                - string
                                - 'null'
                                description: 'An alternative download URL for the file. If set, downloading the

                                  asset will result in a redirect to the overridden location instead of

                                  downloading the asset data directly. When not present, `url` should

                                  be used.

                                  '
                              width:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the width in pixels of an image or video.
                              height:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the height in pixels of an image or video.
                              duration:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the play time of a video in seconds.
                              pages:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the number of pages in a PDF document.
                              mime_type:
                                type: string
                                description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) that corresponds to the uploaded file.
                              file_name:
                                type: string
                              file_extension:
                                type: string
                              bytes:
                                type: integer
                                description: The size of the file in bytes.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            required:
                            - opal
                            type: object
                            additionalProperties: false
                            properties:
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: 59b40496-5742-4b95-8c24-34b752d1cf8d
                  type: url_upload
                  attributes:
                    file_name: example.jpg
                    source_url: https://www.example.com/a.jpg
                    status: pending
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                    error: null
                  relationships:
                    asset:
                      data:
                        id: ef23718c-8829-41d5-bb34-94865f5d09fe
                        type: asset
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
