openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Block Duplication API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Block Duplication
paths:
  /loupe/v3/blocks/{block_id}/duplicate:
    post:
      tags:
      - Block Duplication
      operationId: CreateBlockDuplicationV3
      summary: Duplicate an existing block
      description: 'Duplicates a block and its associations. Specifying a `view` relationship will

        to link the duplicated block to a view via a `block_connector`. The absence of a `view` relationship

        will create the block without any `block_connector`s. Supports optional attribute overrides.'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: block_id
        in: path
        required: true
        description: The ID of the Block being duplicated.
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  properties:
                    type:
                      type: string
                      enum:
                      - block_duplication
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        title:
                          type: string
                          description: Override the title of the duplicated block. If not provided, the source block's title with " (Copy)" suffix is used.
                        description:
                          type:
                          - string
                          - 'null'
                          description: Override the description of the duplicated block. If not provided, the source block's description is copied. Set to null to clear the description.
                        duration:
                          type:
                          - string
                          - 'null'
                          description: ISO 8601 duration string (e.g. P10D, P5W, P3M).
                        is_template:
                          type: boolean
                          description: 'Whether the duplicated block should be a template. Templated Blocks are still Block resources,

                            but are managed separately and do not appear on timelines. Templates require the Block to have

                            a Category Type and a `template_name`.


                            Currently, templated Blocks cannot be created from paired Blocks.

                            '
                          default: false
                        template_name:
                          type: string
                          description: Display name for the template. Required when `is_template` is `true`.
                        template_description:
                          type:
                          - string
                          - 'null'
                          description: Optional description of the template's purpose. Only relevant when `is_template` is `true`.
                        is_workspace_wide_template:
                          type: boolean
                          description: Whether the duplicated template should be workspace-wide. Only relevant when `is_template` is `true`.
                          default: false
                    relationships:
                      type: object
                      additionalProperties: false
                      description: 'A `view` relationship scopes the new block to that view, creating a `block_connector`, and

                        omitting `view` creates a plan-less block. The `category` relationship is only valid when a

                        `view` is also provided.

                        '
                      properties:
                        view:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - view
                        category:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - category
      responses:
        '201':
          description: A resource representating the duplication process.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: block_duplication
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - block_duplication
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - status
                        - created_at
                        - title
                        - description
                        - is_template
                        - template_name
                        - template_description
                        - is_workspace_wide_template
                        - updated_at
                        properties:
                          status:
                            type: string
                            enum:
                            - pending
                            - processing
                            - completed
                            - failed
                            description: The current status of the block duplication operation
                            readOnly: true
                          title:
                            type:
                            - string
                            - 'null'
                            description: Custom title applied to the duplicated block
                          description:
                            type:
                            - string
                            - 'null'
                            description: Custom description applied to the duplicated block
                          is_template:
                            type: boolean
                            description: Whether the duplicated block will be a template
                            default: false
                          template_name:
                            type:
                            - string
                            - 'null'
                            description: Display name for the template. Required when `is_template` is `true`.
                          template_description:
                            type:
                            - string
                            - 'null'
                            description: Optional description of the template's purpose. Only relevant when `is_template` is `true`.
                          is_workspace_wide_template:
                            type: boolean
                            description: Whether the duplicated template is workspace-wide. Only relevant when `is_template` is `true`.
                            default: false
                          created_at:
                            type: string
                            format: date-time
                            description: When the duplication was initiated
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: When the duplication was last updated
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - source_block
                        properties:
                          category:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - category
                          view:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view
                          source_block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                          duplicated_block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                  included:
                    type: array
                    description: Related resources that may be included in the response
                    items:
                      oneOf:
                      - title: block
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - block
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated block metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_category_type:
                                type:
                                - object
                                - 'null'
                                description: The Block resource's most immediate ancestor's Category Type. See documentation for Category Type for additional details.
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    description: The Category Type's ID
                                  name:
                                    type: string
                                    description: The Category Type's display name
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    description: Optional additional descriptive text.
                                  deactivated_at:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                    description: A flag indicating whether the category type is deactivated.
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                              custom_fields:
                                type: array
                                description: "This metadata is available when requesting block resources from the\n`loupe/v3/blocks/{block_id}` `GET` endpoint.\n\nYou request that this metadata be included in responses with the `expose` query \nparameter like: `loupe/v3/blocks/{block_id}?expose[block][meta][custom_fields]`.\n\nEffective custom fields include both **directly assigned** and **inherited** fields from \nthe associated category type. Inherited fields may, or may not, have explicit \n`block_custom_field_value`s.\n\nThe result is a list of effective custom fields for the block. Can be empty or\ncontain multiple instances of any custom field type.\n\nOrdering:\n- Inherited custom fields appear first, ordered by the associated\n  Category Type’s saved custom field order.\n- Directly assigned custom fields (via block_custom_field_values)\n  follow, preserving their relative order as returned by the service.\n"
                                items:
                                  type: object
                                  required:
                                  - id
                                  - display_name
                                  - type
                                  - options
                                  - deactivated_options
                                  - association_type
                                  - data
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      description: The ID of the custom field.
                                    display_name:
                                      type: string
                                      description: The display name for this custom field.
                                    type:
                                      type: string
                                      enum:
                                      - textarea
                                      - singleSelect
                                      - multiSelect
                                      - date
                                      - url
                                      - usersSelect
                                      description: The type of custom field.
                                    association_type:
                                      type: string
                                      description: Indicates whether the field is `direct` (explicitly assigned to the block) or `inherited` (comes from the category type).
                                      enum:
                                      - direct
                                      - inherited
                                    options:
                                      type: array
                                      description: Active options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    deactivated_options:
                                      type: array
                                      description: Deactivated options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    data:
                                      description: The value for this custom field. Can be null for fields that have no value set.
                                      oneOf:
                                      - title: Field Value
                                        type: object
                                        required:
                                        - id
                                        - value
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                            description: The ID of the custom field value.
                                          value:
                                            oneOf:
                                            - title: Textarea Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: The text content.
                                            - title: Multi Select Value
                                              type: object
                                              required:
                                              - ids
                                              properties:
                                                ids:
                                                  type: array
                                                  description: List of selected option IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                            - title: Single Select Value
                                              type: object
                                              required:
                                              - id
                                              properties:
                                                id:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: uuid
                                                  description: The selected option ID.
                                            - title: Date Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: date-time
                                                  description: The selected date.
                                            - title: URL Value
                                              type: object
                                              required:
                                              - url
                                              properties:
                                                url:
                                                  type: string
                                                  format: uri
                                                  description: The URL value.
                                                label:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: Optional display label for the URL.
                                            - title: Users Select Value
                                              type: object
                                              additionalProperties: false
                                              properties:
                                                user_ids:
                                                  type: array
                                                  description: List of selected user IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                                group_ids:
                                                  type: array
                                                  description: List of selected user group IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                      - title: 'Null'
                                        type:
                                        - object
                                        - 'null'
                                        enum:
                                        - null
                          attributes:
                            type: object
                            required:
                            - color
                            - description
                            - duration
                            - title
                            - start_at
                            - row_index
                            - y_scale
                            - browsable
                            - is_template
                            - template_name
                            - template_description
                            - is_workspace_wide_template
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: A color applied to this block. Currently only supports hex values in the format of '#FFF' or '#FFFFFF'.
                              description:
                                type:
                                - string
                                - 'null'
                                description: Text describing the block. Maximum length of 256 characters.
                              title:
                                type: string
                                description: A descriptive name for the block.
                              start_at:
                                type:
                                - string
                                - 'null'
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the beginning of the span of time that this block resource represents.
                              end_at:
                                type:
                                - string
                                - 'null'
                                deprecated: true
                                description: 'DEPRECATED: migrate to `duration`.

                                  An ISO 8601-formatted (''YYYY-MM-DD'') date marking the end of the span of time that this block resource respresents. The start_at value must be a date ocurring before the end_at value.'
                              duration:
                                type:
                                - string
                                - 'null'
                                description: 'An ISO 8601 duration string representing the length of time this block spans.

                                  Permitted formats: P{n}D (days), P{n}W (weeks), P{n}M (months).

                                  When a block has a start_at, the duration is always in days. Week and month

                                  units are only used for unscheduled blocks (start_at is null).

                                  Clients compute end_at as start_at + duration.

                                  '
                              row_index:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A 1-based value indicating its row position relative to other rows of blocks within their bounding parent, a Category.

                                  '
                              y_scale:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A value indicating how tall the block will be relative to the default size.

                                  '
                              browsable:
                                type: boolean
                                description: 'Whether this block shows up in the Plans Directory (and in the

                                  future, other directories).


                                  If false, the block is still accessible in the web application via

                                  any parent plans or connections or even by way of direct link. It

                                  just won''t show up in the Plans Directory.

                                  '
                                default: false
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was created.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                                readOnly: true
                              is_template:
                                type: boolean
                                readOnly: true
                                description: 'Whether this block is a template that can be used to create new blocks.

                                  This field is read-only and cannot be set directly. Templates are created

                                  by duplicating an existing block with `is_template=true` via the block

                                  duplication endpoint.


                                  To remove a block from being a template, use the `delete` endpoint for Blocks.

                                  '
                                default: false
                              is_workspace_wide_template:
                                type: boolean
                                description: 'Whether this template is available workspace-wide. When `true`, the template can be used across all plans in the workspace. When `false`, the template is only available within its origin plan.

                                  This field can only be set when `is_template` is `true`.'
                                default: false
                              template_name:
                                type:
                                - string
                                - 'null'
                                description: Display name for the template. Required when `is_template` is `true`.
                              template_description:
                                type:
                                - string
                                - 'null'
                                description: Optional description of the template's purpose.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - creator
                            - owner
                            - rich_text_document
                            - workspace
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              boards:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board
                              block_connectors:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_connector
                              category:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category
                              category_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              rich_text_document:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - rich_text_document
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              view:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              child_view:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              custom_field_values:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_custom_field_value
                              inherited_custom_field_values:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_custom_field_value
                              paired_moment:
                                allOf:
                                - description: 'Only blocks of a type that supports moment pairing are allowed to

                                    have paired moments. Furthermore, this relationship is only

                                    writable when first creating a block and cannot be changed

                                    thereafter. If a block of a type that supports moment pairing is

                                    created without specifying a paired_moment, a new paired_moment

                                    is created for that block.


                                    **NOTE** that this relationship is currently [PROPOSED], not implemented.

                                    '
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type:
                                      - object
                                      - 'null'
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment
              example:
                data:
                  id: f47ac10b-58cc-4372-a567-0e02b2c3d479
                  type: block_duplication
                  attributes:
                    status: pending
                    title: null
                    description: null
                    is_template: false
                    template_name: null
                    is_workspace_wide_template: false
                    template_description: null
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    source_block:
                      data:
                        id: c3f80757-c0ea-422c-aa51-3c9ef8e11a76
                        type: block
                    duplicated_block:
                      data:
                        id: a06d0e43-ce93-404b-b8cb-eb38b172f0c1
                        type: block
                    category:
                      data: null
                    view:
                      data: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/block_duplications/{block_duplication_id}:
    get:
      tags:
      - Block Duplication
      operationId: GetBlockDuplicationV3
      summary: Get a block duplication by ID
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: block_duplication_id
        in: path
        required: true
        description: The ID of the Block Duplication.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The block duplication resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: block_duplication
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - block_duplication
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - status
                        - created_at
                        - title
                        - description
                        - is_template
                        - template_name
                        - template_description
                        - is_workspace_wide_template
                        - updated_at
                        properties:
                          status:
                            type: string
                            enum:
                            - pending
                            - processing
                            - completed
                            - failed
                            description: The current status of the block duplication operation
                            readOnly: true
                          title:
                            type:
                            - string
                            - 'null'
                            description: Custom title applied to the duplicated block
                          description:
                            type:
                            - string
                            - 'null'
                            description: Custom description applied to the duplicated block
                          is_template:
                            type: boolean
                            description: Whether the duplicated block will be a template
                            default: false
                          template_name:
                            type:
                            - string
                            - 'null'
                            description: Display name for the template. Required when `is_template` is `true`.
                          template_description:
                            type:
                            - string
                            - 'null'
                            description: Optional description of the template's purpose. Only relevant when `is_template` is `true`.
                          is_workspace_wide_template:
                            type: boolean
                            description: Whether the duplicated template is workspace-wide. Only relevant when `is_template` is `true`.
                            default: false
                          created_at:
                            type: string
                            format: date-time
                            description: When the duplication was initiated
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: When the duplication was last updated
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - source_block
                        properties:
                          category:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - category
                          view:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view
                          source_block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                          duplicated_block:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - block
                  included:
                    type: array
                    description: Related resources that may be included in the response
                    items:
                      oneOf:
                      - title: block
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - block
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated block metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_category_type:
                                type:
                                - object
                                - 'null'
                                description: The Block resource's most immediate ancestor's Category Type. See documentation for Category Type for additional details.
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    description: The Category Type's ID
                                  name:
                                    type: string
                                    description: The Category Type's display name
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    description: Optional additional descriptive text.
                                  deactivated_at:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                    description: A flag indicating whether the category type is deactivated.
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                              custom_fields:
                                type: array
                                description: "This metadata is available when requesting block resources from the\n`loupe/v3/blocks/{block_id}` `GET` endpoint.\n\nYou request that this metadata be included in responses with the `expose` query \nparameter like: `loupe/v3/blocks/{block_id}?expose[block][meta][custom_fields]`.\n\nEffective custom fields include both **directly assigned** and **inherited** fields from \nthe associated category type. Inherited fields may, or may not, have explicit \n`block_custom_field_value`s.\n\nThe result is a list of effective custom fields for the block. Can be empty or\ncontain multiple instances of any custom field type.\n\nOrdering:\n- Inherited custom fields appear first, ordered by the associated\n  Category Type’s saved custom field order.\n- Directly assigned custom fields (via block_custom_field_values)\n  follow, preserving their relative order as returned by the service.\n"
                                items:
                                  type: object
                                  required:
                                  - id
                                  - display_name
                                  - type
                                  - options
                                  - deactivated_options
                                  - association_type
                                  - data
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      description: The ID of the custom field.
                                    display_name:
                                      type: string
                                      description: The display name for this custom field.
                                    type:
                                      type: string
                                      enum:
                                      - textarea
                                      - singleSelect
                                      - multiSelect
                                      - date
                                      - url
                                      - usersSelect
                                      description: The type of custom field.
                                    association_type:
                                      type: string
                                      description: Indicates whether the field is `direct` (explicitly assigned to the block) or `inherited` (comes from the category type).
                                      enum:
                                      - direct
                                      - inherited
                                    options:
                                      type: array
                                      description: Active options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    deactivated_options:
                                      type: array
                                      description: Deactivated options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    data:
                                      description: The value for this custom field. Can be null for fields that have no value set.
                                      oneOf:
                                      - title: Field Value
                                        type: object
                                        required:
                                        - id
                                        - value
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                            description: The ID of the custom field value.
                                          value:
                                            oneOf:
                                            - title: Textarea Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: The text content.
                                            - title: Multi Select Value
                                              type: object
                                              required:
                                              - ids
                                              properties:
                                                ids:
                                                  type: array
                                                  description: List of selected option IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                            - title: Single Select Value
                                              type: object
                                              required:
                                              - id
                                              properties:
                                                id:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: uuid
                                                  description: The selected option ID.
                                            - title: Date Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: date-time
                                                  description: The selected date.
                                            - title: URL Value
                                              type: object
                                              required:
                                              - url
                                              properties:
                                                url:
                                                  type: string
                                                  format: uri
                                                  description: The URL value.
                                                label:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: Optional display label for the URL.
                                            - title: Users Select Value
                                              type: object
                                              additionalProperties: false
                                              properties:
                                                user_ids:
                                                  type: array
                                                  description: List of selected user IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                                group_ids:
                                                  type: array
                                                  description: List of selected user group IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                      - title: 'Null'
                                        type:
                                        - object
                                        - 'null'
                                        enum:
                                        - null
                          attributes:
                            type: object
                            required:
                            - color
                            - description
                            - duration
                            - title
                            - start_at
                            - row_index
                            - y_scale
                            - browsable
                            - is_template
                            - template_name
                            - template_description
                            - is_workspace_wide_template
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: A color applied to this block. Currently only supports hex values in the format of '#FFF' or '#FFFFFF'.
                              description:
                                type:
                                - string
                                - 'null'
                                description: Text describing the block. Maximum length of 256 characters.
                              title:
                                type: string
                                description: A descriptive name for the block.
                              start_at:
                                type:
                                - string
                                - 'null'
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the beginning of the span of time that this block resource represents.
                              end_at:
                                type:
                                - string
                                - 'null'
                                deprecated: true
                                description: 'DEPRECATED: migrate to `duration`.

                                  An ISO 8601-formatted (''YYYY-MM-DD'') date marking the end of the span of time that this block resource respresents. The start_at value must be a date ocurring before the end_at value.'
                              duration:
                                type:
                                - string
                                - 'null'
                                description: 'An ISO 8601 duration string representing the length of time this block spans.

                                  Permitted formats: P{n}D (days), P{n}W (weeks), P{n}M (months).

                                  When a block has a start_at, the duration is always in days. Week and month

                                  units are only used for unscheduled blocks (start_at is null).

                                  Clients compute end_at as start_at + duration.

                                  '
                              row_index:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A 1-based value indicating its row position relative to other rows of blocks within their bounding parent, a Category.

                                  '
                              y_scale:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A value indicating how tall the block will be relative to the default size.

                                  '
                              browsable:
                                type: boolean
                                description: 'Whether this block shows up in the Plans Directory (and in the

                                  future, other directories).


                                  If false, the block is still accessible in the web application via

                                  any parent plans or connections or even by way of direct link. It

                                  just won''t show up in the Plans Directory.

                                  '
                                default: false
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was created.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                                readOnly: true
                              is_template:
                                type: boolean
                                readOnly: true
                                description: 'Whether this block is a template that can be used to create new blocks.

                                  This field is read-only and cannot be set directly. Templates are created

                                  by duplicating an existing block with `is_template=true` via the block

                                  duplication endpoint.


                                  To remove a block from being a template, use the `delete` endpoint for Blocks.

                                  '
                                default: false
                              is_workspace_wide_template:
                                type: boolean
                                description: 'Whether this template is available workspace-wide. When `true`, the template can be used across all plans in the workspace. When `false`, the template is only available within its origin plan.

                                  This field can only be set when `is_template` is `true`.'
                                default: false
                              template_name:
                                type:
                                - string
                                - 'null'
                                description: Display name for the template. Required when `is_template` is `true`.
                              template_description:
                                type:
                                - string
                                - 'null'
                                description: Optional description of the template's purpose.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - creator
                            - owner
                            - rich_text_document
                            - workspace
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              boards:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board
                              block_connectors:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_connector
                              category:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category
                              category_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              rich_text_document:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - rich_text_document
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              view:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              child_view:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              custom_field_values:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
[...]
