openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Checkpoints API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Checkpoints
paths:
  /activities/v1/{entity_type}/{entity_id}/checkpoint:
    get:
      tags:
      - Checkpoints
      operationId: ReadCheckpointV1
      summary: Returns latest checkpoint for a given entity and user
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The type of object to fetch activities for
        schema:
          type: string
          enum:
          - content
          - moment
      - name: entity_id
        in: path
        required: true
        description: The ID of the entity to fetch activities for. The type is determined by the entity_type parameter
        schema:
          type: string
      responses:
        '200':
          description: The latest checkpoint for the given entity
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: checkpoint
                    type: object
                    required:
                    - relationships
                    - id
                    - attributes
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - checkpoint
                      relationships:
                        type: object
                        required:
                        - user
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                      attributes:
                        type: object
                        required:
                        - checkpoint
                        - section
                        - created_at
                        additionalProperties: false
                        properties:
                          checkpoint:
                            type: integer
                            description: 'Depending on the context, this property is used differently.


                              In the context of an Activity Checkpoint, this property will be set to the ID of the activity on which the checkpoint is being created.

                              Note that this ID *IS* sent as an integer, not a string.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          section:
                            type: string
                            enum:
                            - activity
              example:
                data:
                  id: '5'
                  type: checkpoint
                  attributes:
                    checkpoint: 7
                    created_at: '2019-01-31T15:57:49.032Z'
                    section: activity
                  relationships:
                    user:
                      data:
                        id: '593363170'
                        type: user
        '404':
          description: Entity not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    post:
      tags:
      - Checkpoints
      operationId: CreateCheckpointV1
      summary: Create a checkpoint for a give entity
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: entity_type
        in: path
        required: true
        description: The type of object to fetch activities for
        schema:
          type: string
          enum:
          - content
          - moment
      - name: entity_id
        in: path
        required: true
        description: The ID of the entity to fetch activities for. The type is determined by the entity_type parameter
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - checkpoint
                    attributes:
                      type: object
                      required:
                      - section
                      - checkpoint
                      properties:
                        section:
                          type: string
                          enum:
                          - activity
                        checkpoint:
                          type: integer
                          description: 'Depending on the context, this property is used differently.


                            In the context of an Activity Checkpoint, send the ID of the activity on which the checkpoint is being created.

                            '
            example:
              data:
                type: checkpoint
                attributes:
                  section: activity
                  checkpoint: 1234
      responses:
        '200':
          description: A checkpoint was successfully created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: checkpoint
                    type: object
                    required:
                    - relationships
                    - id
                    - attributes
                    - type
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - checkpoint
                      relationships:
                        type: object
                        required:
                        - user
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                      attributes:
                        type: object
                        required:
                        - checkpoint
                        - section
                        - created_at
                        additionalProperties: false
                        properties:
                          checkpoint:
                            type: integer
                            description: 'Depending on the context, this property is used differently.


                              In the context of an Activity Checkpoint, this property will be set to the ID of the activity on which the checkpoint is being created.

                              Note that this ID *IS* sent as an integer, not a string.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          section:
                            type: string
                            enum:
                            - activity
              example:
                data:
                  id: '13'
                  type: checkpoint
                  attributes:
                    checkpoint: 11
                    created_at: '2019-01-31T15:57:50.544Z'
                    section: activity
                  relationships:
                    user:
                      data:
                        id: '593363170'
                        type: user
        '404':
          description: Entity not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
