openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Charts API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Charts
paths:
  /loupe/v3/categories/{category_id}/charts:
    post:
      tags:
      - Charts
      operationId: CreateChartWithCategoryV3
      summary: Create a new Chart under a Category
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: category_id
        in: path
        required: true
        description: The ID of the Category to relate the Chart to.
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - chart
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          maxLength: 256
                          description: A descriptive name for the chart.
                        data:
                          type:
                          - object
                          - 'null'
                          description: The data to be represented in the chart.
                    relationships:
                      type: object
                      required:
                      - workspace
                      properties:
                        workspace:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - workspace
      responses:
        '201':
          description: A newly created chart resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: chart
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - chart
                      attributes:
                        type: object
                        required:
                        - data
                        - title
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          data:
                            type:
                            - object
                            - 'null'
                            description: The data to be represented in the chart.
                          title:
                            type:
                            - string
                            - 'null'
                            description: A descriptive name for the chart.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was created.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - workspace
                        properties:
                          workspace:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workspace
              example:
                data:
                  id: e3eb630a-4e04-4f1b-b0b0-3f7695766913
                  type: chart
                  attributes:
                    title: My Data
                    data:
                      headers:
                      - Date
                      - Series 1
                      - Series 2
                      data:
                      - Date: '2024-07-01T00:00:00.000Z'
                        Series 1: 100
                        Series 2: 300
                      - Date: '2024-08-01T00:00:00.000Z'
                        Series 1: 250
                        Series 2: 175
                    created_at: '2024-08-07T00:00:00.000-07:00'
                    updated_at: '2024-08-07T00:00:00.000-07:00'
                  relationships:
                    workspace:
                      data:
                        id: a897cb4c-12d3-446f-9621-ff388650d43a
                        type: workspace
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/charts:
    post:
      tags:
      - Charts
      operationId: CreateChartV3
      summary: Create a new Chart
      security:
      - oauth2:
        - offline_access
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - chart
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          maxLength: 256
                          description: A descriptive name for the chart.
                        data:
                          type:
                          - object
                          - 'null'
                          description: The data to be represented in the chart.
                    relationships:
                      type: object
                      required:
                      - workspace
                      properties:
                        workspace:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - workspace
      responses:
        '201':
          description: A newly created chart resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: chart
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - chart
                      attributes:
                        type: object
                        required:
                        - data
                        - title
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          data:
                            type:
                            - object
                            - 'null'
                            description: The data to be represented in the chart.
                          title:
                            type:
                            - string
                            - 'null'
                            description: A descriptive name for the chart.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was created.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - workspace
                        properties:
                          workspace:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workspace
              example:
                data:
                  id: e3eb630a-4e04-4f1b-b0b0-3f7695766913
                  type: chart
                  attributes:
                    title: My Data
                    data:
                      headers:
                      - Date
                      - Series 1
                      - Series 2
                      data:
                      - Date: '2024-07-01T00:00:00.000Z'
                        Series 1: 100
                        Series 2: 300
                      - Date: '2024-08-01T00:00:00.000Z'
                        Series 1: 250
                        Series 2: 175
                    created_at: '2024-08-07T00:00:00.000-07:00'
                    updated_at: '2024-08-07T00:00:00.000-07:00'
                  relationships:
                    workspace:
                      data:
                        id: a897cb4c-12d3-446f-9621-ff388650d43a
                        type: workspace
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/charts/{chart_id}:
    delete:
      tags:
      - Charts
      operationId: DeleteChartV3
      summary: Delete a Chart by the given ID
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: chart_id
        in: path
        required: true
        description: The ID of the Chart.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The Chart was successfully deleted.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    patch:
      tags:
      - Charts
      operationId: UpdateChartV3
      summary: Update an existing Chart
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: chart_id
        in: path
        required: true
        description: The ID of the Chart.
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - chart
                    attributes:
                      type: object
                      properties:
                        title:
                          type:
                          - string
                          - 'null'
                          maxLength: 256
                          description: A descriptive name for the chart.
                        data:
                          type:
                          - object
                          - 'null'
                          description: The data to be represented in the chart.
      responses:
        '200':
          description: An updated chart resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: chart
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - chart
                      attributes:
                        type: object
                        required:
                        - data
                        - title
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          data:
                            type:
                            - object
                            - 'null'
                            description: The data to be represented in the chart.
                          title:
                            type:
                            - string
                            - 'null'
                            description: A descriptive name for the chart.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was created.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - workspace
                        properties:
                          workspace:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workspace
              example:
                data:
                  id: e3eb630a-4e04-4f1b-b0b0-3f7695766913
                  type: chart
                  attributes:
                    title: My Data
                    data:
                      headers:
                      - Date
                      - Series 1
                      - Series 2
                      data:
                      - Date: '2024-07-01T00:00:00.000Z'
                        Series 1: 100
                        Series 2: 300
                      - Date: '2024-08-01T00:00:00.000Z'
                        Series 1: 250
                        Series 2: 175
                    created_at: '2024-08-07T00:00:00.000-07:00'
                    updated_at: '2024-08-07T00:00:00.000-07:00'
                  relationships:
                    workspace:
                      data:
                        id: a897cb4c-12d3-446f-9621-ff388650d43a
                        type: workspace
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
