openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Filter Sets API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Filter Sets
paths:
  /loupe/v3/filter_sets:
    post:
      tags:
      - Filter Sets
      operationId: CreateFilterSetV3
      summary: Create a new filter set
      security:
      - oauth2:
        - offline_access
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - filter_set
                    attributes:
                      type: object
                      required:
                      - filter
                      - resource_type
                      additionalProperties: false
                      properties:
                        filter:
                          type: object
                          additionalProperties: false
                          properties:
                            plan_ids:
                              description: A list of plan ids to pull directly associated blocks from.
                              type: array
                              items:
                                type: string
                                format: uuid
                            grandparent_plan_ids:
                              description: 'A list of plan ids to aggregate sub-plan blocks from. e.g. a plan in this list will not return its directly associated blocks, but instead all of the blocks found on the sub-plans of its directly associated blocks.

                                '
                              type: array
                              items:
                                type: string
                                format: uuid
                            custom_fields:
                              description: 'An object keyed by custom field ids.

                                For single- and multiSelect fields, value of each property should be an array of custom field option ids of that field to filter by.

                                For usersSelect (People) fields, an object with `user_ids` and `group_ids` arrays to filter by.

                                No other custom field types are currently supported.

                                Each specified custom field is applied as an exclusive filter - a block needs to match the specified options for **every** custom field in order to be returned in the collection.

                                For each custom field, the set of option ids for it are applied inclusively - if a block has **any** of the options set as a `block_custom_field_value`, then the block will be considered valid.

                                '
                              type: object
                              additionalProperties:
                                oneOf:
                                - type: array
                                  items:
                                    type: string
                                    format: uuid
                                - type: object
                                  additionalProperties: false
                                  required:
                                  - user_ids
                                  - group_ids
                                  properties:
                                    user_ids:
                                      type: array
                                      items:
                                        type: string
                                        format: uuid
                                    group_ids:
                                      type: array
                                      items:
                                        type: string
                                        format: uuid
                            type_ids:
                              description: A list of type ids to filter resources by.
                              type:
                              - array
                              - 'null'
                              items:
                                type: string
                                format: uuid
                        resource_type:
                          type: string
                          enum:
                          - block
                    relationships:
                      type: object
                      required:
                      - workspace
                      properties:
                        workspace:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - workspace
      responses:
        '201':
          description: A newly created filter set resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: filter_set
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - filter_set
                      attributes:
                        type: object
                        required:
                        - resource_type
                        - filter
                        - created_at
                        - updated_at
                        - deleted_at
                        additionalProperties: false
                        properties:
                          resource_type:
                            type: string
                            enum:
                            - block
                          filter:
                            type: object
                            additionalProperties: false
                            properties:
                              plan_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                              grandparent_plan_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                              custom_fields:
                                type: object
                                additionalProperties:
                                  oneOf:
                                  - type: array
                                    items:
                                      type: string
                                      format: uuid
                                  - type: object
                                    additionalProperties: false
                                    required:
                                    - user_ids
                                    - group_ids
                                    properties:
                                      user_ids:
                                        type: array
                                        items:
                                          type: string
                                          format: uuid
                                      group_ids:
                                        type: array
                                        items:
                                          type: string
                                          format: uuid
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                          deleted_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: An ISO8601 date-time representing the entity's deletion date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - creator
                        - workspace
                        additionalProperties: false
                        properties:
                          creator:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          workspace:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workspace
              example:
                data:
                  id: 1f3aee27-ae1c-4db8-89c2-8662e99a04eb
                  type: filter_set
                  attributes:
                    filter:
                      plan_ids:
                      - 09634ff7-92df-4f3a-bad0-8e8f88847a59
                      - 60ac0c4e-d816-4897-a3c3-daeb74f7f8cf
                      grandparent_plan_ids:
                      - 2dfe32e3-a8f8-4d40-9d1b-612b09e77be2
                      custom_fields:
                        1ecfc763-a885-4f78-b6ae-82877a0b5c25:
                        - be28cf52-907d-4c01-b4af-d014c24ac05f
                        - aca56aa7-c9b5-41a4-afec-4e73222598bb
                    resource_type: block
                    created_at: '2025-05-15T15:29:15.273-07:00'
                    updated_at: '2025-05-15T15:29:15.273-07:00'
                    deleted_at: null
                  relationships:
                    creator:
                      data:
                        id: 07218c96-7f02-4355-9015-5beeb85981dc
                        type: user
                    workspace:
                      data:
                        id: 1d751f8a-9c84-415c-a25f-30ab865a97fa
                        type: workspace
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/filter_sets/{filter_set_id}:
    patch:
      tags:
      - Filter Sets
      operationId: UpdateFilterSetV3
      summary: Update an existing filter set
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter_set_id
        in: path
        required: true
        description: The ID of the filter set.
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - filter_set
                    attributes:
                      type: object
                      additionalProperties: false
                      required:
                      - filter
                      properties:
                        filter:
                          type: object
                          additionalProperties: false
                          properties:
                            plan_ids:
                              type: array
                              items:
                                type: string
                                format: uuid
                            grandparent_plan_ids:
                              type: array
                              items:
                                type: string
                                format: uuid
                            custom_fields:
                              type: object
                              additionalProperties:
                                oneOf:
                                - type: array
                                  items:
                                    type: string
                                    format: uuid
                                - type: object
                                  additionalProperties: false
                                  required:
                                  - user_ids
                                  - group_ids
                                  properties:
                                    user_ids:
                                      type: array
                                      items:
                                        type: string
                                        format: uuid
                                    group_ids:
                                      type: array
                                      items:
                                        type: string
                                        format: uuid
      responses:
        '200':
          description: An updated filter set resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: filter_set
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - filter_set
                      attributes:
                        type: object
                        required:
                        - resource_type
                        - filter
                        - created_at
                        - updated_at
                        - deleted_at
                        additionalProperties: false
                        properties:
                          resource_type:
                            type: string
                            enum:
                            - block
                          filter:
                            type: object
                            additionalProperties: false
                            properties:
                              plan_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                              grandparent_plan_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                              custom_fields:
                                type: object
                                additionalProperties:
                                  oneOf:
                                  - type: array
                                    items:
                                      type: string
                                      format: uuid
                                  - type: object
                                    additionalProperties: false
                                    required:
                                    - user_ids
                                    - group_ids
                                    properties:
                                      user_ids:
                                        type: array
                                        items:
                                          type: string
                                          format: uuid
                                      group_ids:
                                        type: array
                                        items:
                                          type: string
                                          format: uuid
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                          deleted_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: An ISO8601 date-time representing the entity's deletion date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - creator
                        - workspace
                        additionalProperties: false
                        properties:
                          creator:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          workspace:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workspace
              example:
                data:
                  id: 1f3aee27-ae1c-4db8-89c2-8662e99a04eb
                  type: filter_set
                  attributes:
                    filter:
                      plan_ids:
                      - 09634ff7-92df-4f3a-bad0-8e8f88847a59
                      - 60ac0c4e-d816-4897-a3c3-daeb74f7f8cf
                      grandparent_plan_ids:
                      - 2dfe32e3-a8f8-4d40-9d1b-612b09e77be2
                      custom_fields:
                        1ecfc763-a885-4f78-b6ae-82877a0b5c25:
                        - be28cf52-907d-4c01-b4af-d014c24ac05f
                        - aca56aa7-c9b5-41a4-afec-4e73222598bb
                    resource_type: block
                    created_at: '2025-05-15T15:29:15.273-07:00'
                    updated_at: '2025-05-15T15:29:15.273-07:00'
                    deleted_at: null
                  relationships:
                    creator:
                      data:
                        id: 07218c96-7f02-4355-9015-5beeb85981dc
                        type: user
                    workspace:
                      data:
                        id: 1d751f8a-9c84-415c-a25f-30ab865a97fa
                        type: workspace
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    delete:
      tags:
      - Filter Sets
      operationId: DeleteFilterSetV3
      summary: Delete a filter set
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter_set_id
        in: path
        required: true
        description: The ID of the filter set.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The filter set was successfully deleted.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
