openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Brands API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Brands
paths:
  /brands/v2/brands:
    get:
      tags:
      - Brands
      operationId: ReadBrandsV2
      summary: List all visible brands in the requesting users Opal
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated list of related objects to include
        schema:
          type: array
          items:
            type: string
            enum:
            - logo
            - primary_label_set
        style: form
        explode: false
      - name: expose
        in: query
        required: false
        description: Expose response data that is only provided by request.
        schema:
          type: object
          properties:
            brand:
              type: object
              properties:
                meta:
                  type: object
                  description: 'Expose the requesting user''s membership metadata on each brand resource.


                    Use this parameter as: `?expose[brand][meta]`

                    '
      - name: fields
        in: query
        description: An object keyed by resource type, i.e. \"story\" or a story relationship, where each value is a CSV of attributes to include in the response.
        required: false
        schema:
          type: object
          properties:
            name:
              type: string
            slug:
              type: string
        style: deepObject
        explode: true
      - name: filter
        in: query
        description: 'Filters for limiting the results. Default scoped to the requesting user''s Opal.

          All timestamp filters (`created_at`, `updated_at`) use the syntax `filter[field_name][gt]=2020-01-01T00:00:00-07:00`.

          Timestamps use iso8601 formatting, such as `YYYY-MM-DD` or `YYYY-MM-DDThh:mmTZD`. Timestamps of the form `YYYY-MM-DD` will be converted to `YYY-MM-DDT00:00:00` in the `America/Los_Angeles` timezone. For example, `filter[created_at]=2020-01-01` is equivalent to `filter[created_at][gteq]=2020-01-01`.

          `eq` will convert a date to a 24 hour range. Thus `filter[created_at][eq]=2020-01-01` is equivalent to `filter[created_at][gteq]=2020-01-01T00:00:00-08:00&filter[created_at][lteq]=2020-01-02T00:00:00-08:00`.

          '
        required: false
        schema:
          type: object
          properties:
            created_at:
              allOf:
              - type: object
                properties:
                  eq:
                    type: string
                    description: 'Equal to filter. If no other filter is specified, `eq` will be assumed.

                      '
                  gt:
                    type: string
                    description: Greater than filter
                  gteq:
                    type: string
                    description: Greater than or equal to filter
                  lt:
                    type: string
                    description: Less than filter
                  lteq:
                    type: string
                    description: Less than or equal to filter
              - format: date-time
              - description: 'Filter brands by created_at time. Uses syntax `filter[created_at][gt]=2020-01-01T00:00:00-07:00`

                  '
            is_private:
              type: boolean
              description: 'Boolean true returns private brands, while boolean false returns public brands. Omission will return all brands.

                '
            updated_at:
              allOf:
              - type: object
                properties:
                  eq:
                    type: string
                    description: 'Equal to filter. If no other filter is specified, `eq` will be assumed.

                      '
                  gt:
                    type: string
                    description: Greater than filter
                  gteq:
                    type: string
                    description: Greater than or equal to filter
                  lt:
                    type: string
                    description: Less than filter
                  lteq:
                    type: string
                    description: Less than or equal to filter
              - format: date-time
              - description: 'Filter by the brand updated_at time. Uses syntax `filter[updated_at][gt]=2020-01-01T00:00:00-07:00`.

                  '
        style: deepObject
        explode: true
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: Returns a list of all brands visible to the user.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: brand
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - brand
                        meta:
                          type:
                          - object
                          - 'null'
                          description: Metadata around the Brand object
                          properties:
                            user_is_member:
                              type: boolean
                              description: Boolean that represents whether the requesting user is a member of the brand.
                        attributes:
                          type: object
                          required:
                          - slug
                          - name
                          - uuid
                          - start_of_week
                          - timezone
                          additionalProperties: false
                          properties:
                            uuid:
                              type: string
                              format: uuid
                              description: A unique identifier for the workspace.
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time indicating when the user was last updated.
                              readOnly: true
                            slug:
                              type: string
                              description: The slug for the Brand/Workspace. This is a url-safe name for the Workspace.
                            name:
                              type: string
                              description: The name of the Workspace.
                            start_of_week:
                              type: number
                              enum:
                              - 0
                              - 1
                              - 2
                              - 3
                              - 4
                              - 5
                              - 6
                              description: 'The default start weekday index for the week view Calendar and for Plans. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default.

                                With regards to the week view Calendar, values greater than 1 will be considered the same as 1.'
                            timezone:
                              type: string
                              description: The IANA time zone identifier for the default time zone used when creating resources in the Brand/Workspace (e.g. America/New_York).
                        relationships:
                          type: object
                          required:
                          - primary_label_set
                          - accounts
                          - logo
                          - dispatch_providers
                          additionalProperties: false
                          properties:
                            primary_label_set:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - label_set
                            accounts:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - account
                            logo:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - asset_reference
                            dispatch_providers:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - dispatch_provider
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: label_set
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - label_set
                          attributes:
                            type: object
                            required:
                            - name
                            - label_sort_method
                            - is_active
                            - is_shared
                            - uuid
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                              uuid:
                                type: string
                                format: uuid
                                description: A unique identifier for the label set.
                              is_active:
                                type: boolean
                                description: 'Determines whether the label set will be available to use in the Opal platform. Note that inactive label sets are only even exposed via API when specifically filtered for.

                                  '
                              is_shared:
                                type: boolean
                                description: 'True when the label set is shared across workspaces.

                                  '
                              label_sort_method:
                                type: string
                                default: oldest_first
                                enum:
                                - alphabetical
                                - newest_first
                                - oldest_first
                                - manual
                          relationships:
                            type: object
                            required:
                            - labels
                            - paired_custom_field
                            - parent_label
                            additionalProperties: false
                            properties:
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              paired_custom_field:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                              parent_label:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label
                      - title: asset_reference
                        type: object
                        required:
                        - id
                        - attributes
                        - type
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - asset_reference
                          attributes:
                            type: object
                            required:
                            - asset_type
                            - asset_uuid
                            - content_type
                            - format
                            - filename
                            - escaped_filename
                            - filesize
                            - full_url
                            - meta_data
                            - original_url
                            - preview_url
                            - public_id
                            - width
                            - height
                            - uuid
                            additionalProperties: false
                            properties:
                              asset_type:
                                type:
                                - string
                                - 'null'
                                description: 'This field is semi-open ended but should be set to `image`, `audio`,

                                  or `video` for those respective types of media and `file` for most

                                  other types of media.

                                  '
                              asset_source:
                                type:
                                - string
                                - 'null'
                                description: 'Asset Sources are pre-existing records indicating the origin of an

                                  asset reference. You can''t set this field to arbitrary values. If you

                                  know of an Asset Source and you''d like to indicate a new asset

                                  reference originated with that source, this field should contain that

                                  source''s name.

                                  '
                              asset_uuid:
                                type:
                                - string
                                - 'null'
                                description: 'The `id` of an `asset` resource this asset reference will surface

                                  within the Asset Library.

                                  '
                              content_type:
                                type:
                                - string
                                - 'null'
                                description: 'This field was used by some legacy systems. It is exposed for

                                  historical reasons. If set, setting it to the same value as

                                  `asset_type` is generally a good idea. It is not a MIME type.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                              format:
                                type:
                                - string
                                - 'null'
                                description: 'Used differently by some legacy systems but any new asset reference

                                  should use the `format` field to store its filetype extension (ex. `png`,

                                  `mp4`, `gif`, `mov`, etc.).

                                  '
                              filename:
                                type:
                                - string
                                - 'null'
                              escaped_filename:
                                type: string
                                readOnly: true
                              filesize:
                                type:
                                - integer
                                - 'null'
                                description: Size of file in bytes.
                              full_url:
                                type:
                                - string
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `url` property of the asset.

                                  '
                              meta_data:
                                type:
                                - object
                                - 'null'
                                description: Can contain arbitrary key-value pairs related to the asset.
                                properties:
                                  duration:
                                    type: string
                                    description: Parsed from video assets.
                                  page_count:
                                    type: string
                                    description: Parsed from PDF assets.
                                  processed_height:
                                    type: string
                                    description: Parsed from video assets.
                                  processed_width:
                                    type: string
                                    description: Parsed from video assets.
                                additionalProperties:
                                  type: string
                              original_url:
                                type:
                                - string
                                - 'null'
                              preview_url:
                                type:
                                - string
                                - 'null'
                                readOnly: true
                              public_id:
                                type:
                                - string
                                - 'null'
                              width:
                                type:
                                - integer
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `width` of the asset.

                                  '
                              height:
                                type:
                                - integer
                                - 'null'
                                description: 'When associating an asset with an asset reference, this field

                                  should be set to the `height` of the asset.

                                  '
                              uuid:
                                type: string
                                readOnly: true
                                description: 'Use this ID when referring to the same asset reference from one of

                                  Opal''s v3 APIs.

                                  '
                          relationships:
                            type: object
                            additionalProperties: false
                            properties:
                              brand:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - brand
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - story
                              cover_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              asset_reference_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference_option
                              options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - option
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '1'
                  type: brand
                  attributes:
                    uuid: dc68d20c-3dd9-48f0-a8c5-8dd7b170ba99
                    created_at: '2020-06-03T13:20:15.757-07:00'
                    slug: labs
                    name: Labs
                    start_of_week: 0
                    timezone: America/Los_Angeles
                    updated_at: '2020-06-03T13:20:20.853-07:00'
                  relationships:
                    primary_label_set:
                      data:
                        id: '1'
                        type: label_set
                    logo:
                      data: null
                    accounts:
                      data:
                      - id: '3'
                        type: account
                      - id: '2'
                        type: account
                      - id: '1'
                        type: account
                    dispatch_providers:
                      data: []
                  meta:
                    user_is_member: true
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
