openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Stamps API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Stamps
  description: '## Stamps Overview


    In Opal, a Stamp acts as a pre-configured template for creating `moment`s or `content`.'
paths:
  /stamps/v2:
    get:
      tags:
      - Stamps
      operationId: ReadStampsV2
      summary: Show all stamps
      description: Gets list of stamps for a workspace viewable by the authenticated user.
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: brand_id
        in: query
        required: true
        description: 'The ID of the workspace/brand. Note that `brand` and `workspace` are synomyms,

          but this endpoint only supports `brand_id`

          '
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: 'Request a particular page using `offset` and `limit`. When not specified, the `offset` defaults to 0 and the `limit` defaults to 150.

          '
        schema:
          oneOf:
          - type: object
            title: offset & limit
            properties:
              offset:
                type: integer
                minimum: 0
              limit:
                type: integer
                minimum: 0
                maximum: 800
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of stamps.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: stamp
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - stamp
                        attributes:
                          type: object
                          required:
                          - stamp_type
                          - uuid
                          - is_limited
                          - name
                          - created_at
                          - permission_mode
                          additionalProperties: false
                          properties:
                            stamp_type:
                              type: string
                              description: 'The type of stamp. Currently, the only valid values are `moment` and `post`.

                                '
                              enum:
                              - moment
                              - post
                            uuid:
                              type: string
                              format: uuid
                              description: A unique identifier for the stamp. In V3 APIs, this is the stamp's primary identifier.
                            is_limited:
                              type: boolean
                              description: 'For a `moment`, this indicates whether the `moment` is to be limited to the story the `moment` belongs to.

                                For a `post`, this indicates whether the `post` is to be limited to the `account`/`service` the `post` is using.

                                '
                            name:
                              type: string
                              description: 'The name of the `moment` if a `moment_id` is present; otherwise,

                                the name of the `post` when a `post_id` is present.

                                '
                            created_at:
                              type: string
                              description: The ISO8601 date-time of when the stamp was created.
                              readOnly: true
                            permission_mode:
                              type: string
                              description: 'Controls how the stamp''s permissions are applied when used.

                                `none`: permissions not included. `additive`: merged with existing.

                                `replace`: overwrites existing.

                                '
                              enum:
                              - none
                              - additive
                              - replace
                        relationships:
                          type: object
                          required:
                          - user
                          additionalProperties: false
                          properties:
                            moment:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - moment
                            post:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - content
                            user:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - user
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '1'
                  type: stamp
                  attributes:
                    stamp_type: moment
                    uuid: 13d7aba1-12af-4a97-bd13-f28ec3c88a9e
                    is_limited: false
                    name: Moment Stamp Foo
                    created_at: '2020-06-03T13:20:20.960-07:00'
                    permission_mode: none
                  relationships:
                    moment:
                      data:
                        id: '1'
                        type: moment
                    post:
                      data: null
                    user:
                      data:
                        id: '30'
                        type: user
                meta:
                  total: 1
                  resource_type: stamp
                  page:
                    offset: 0
                    limit: 100
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
