openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal User Domain Views API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: User Domain Views
paths:
  /user_domain_views/v2/user_domain_views:
    post:
      tags:
      - User Domain Views
      operationId: CreateUserDomainViewV2
      summary: Create a User Domain View
      description: Creates a `user_domain_view` for the current user on the given domain and provided `last_viewed_at` timestamp. If a `user_domain_view` already exists for the user/domain combination, updates the `last_viewed_at` field on the existing record.
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - user_domain_view
                    attributes:
                      type: object
                      required:
                      - domain
                      - last_viewed_at
                      properties:
                        domain:
                          type: string
                          enum:
                          - Moments.PersonalPanel.Approval.Completed
                          - Moments.PersonalPanel.Approval.Overdue
                          - Moments.PersonalPanel.Approval.Pending
                          - Moments.PersonalPanel.Approval.Upcoming
                          - Moments.PersonalPanel.Task.Completed
                          - Moments.PersonalPanel.Task.Overdue
                          - Moments.PersonalPanel.Task.Pending
                          - Moments.PersonalPanel.Task.Upcoming
                        last_viewed_at:
                          type: string
                          format: date-time
                          description: An ISO8601 date-time
            examples:
              approval:
                value:
                  data:
                    type: user_domain_view
                    attributes:
                      domain: Moments.PersonalPanel.Approval.Completed
                      last_viewed_at: '2021-06-22T15:25:45.000Z'
      responses:
        '200':
          description: A UserDomainView record
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: user_domain_view
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - user_domain_view
                      attributes:
                        type: object
                        required:
                        - domain
                        - last_viewed_at
                        additionalProperties: false
                        properties:
                          domain:
                            type: string
                            readOnly: true
                          last_viewed_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time indicating when the domain was last seen by the user.
                            readOnly: false
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
              example:
                data:
                  id: '1'
                  type: user_domain_view
                  attributes:
                    domain: Moments.PersonalPanel.Approval.Completed
                    last_viewed_at: '2021-06-22T15:25:45.000Z'
                  relationships:
                    user:
                      data:
                        id: '29'
                        type: user
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
