openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Brand Settings API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Brand Settings
paths:
  /brand_settings/v2:
    get:
      tags:
      - Brand Settings
      operationId: ReadBrandSettingsV2
      summary: Returns the namespaced brand settings for this user in this view
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: 'NOTE: Currently, only filter settings for the content timelines and stories views are supported.'
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated list of related objects to include
        schema:
          type: array
          items:
            type: string
            enum:
            - brand
        style: form
        explode: false
      - name: filter_namespace
        in: query
        description: 'Namespace of view that is being filtered.


          Must be specified in query parameters unless a settings object

          is being patched and the `filter_namespace` is present in the

          attributes of the settings object.

          '
        required: true
        schema:
          type: string
      responses:
        '200':
          description: An array of settings
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: brand setting
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - brand_setting
                        attributes:
                          type: object
                          additionalProperties: false
                          properties:
                            filters_v2_content_timelines:
                              type: object
                              properties:
                                label_ids:
                                  type: array
                                  items:
                                    type: string
                                story_ids:
                                  type: array
                                  items:
                                    type: string
                                account_ids:
                                  type: array
                                  items:
                                    type: string
                                service_ids:
                                  type: array
                                  items:
                                    type: string
                            filters_v2_stories_view:
                              type: object
                              properties:
                                label_ids:
                                  type: array
                                  items:
                                    type: string
                                story_ids:
                                  type: array
                                  items:
                                    type: string
                                account_ids:
                                  type: array
                                  items:
                                    type: string
                                service_ids:
                                  type: array
                                  items:
                                    type: string
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            filters_stories:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                            filters_services:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - service
                            filters_accounts:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - account
                            filters_labels:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label
                            filters_label_sets:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                            brand:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - brand
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: brand
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - brand
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Brand object
                            properties:
                              user_is_member:
                                type: boolean
                                description: Boolean that represents whether the requesting user is a member of the brand.
                          attributes:
                            type: object
                            required:
                            - slug
                            - name
                            - uuid
                            - start_of_week
                            - timezone
                            additionalProperties: false
                            properties:
                              uuid:
                                type: string
                                format: uuid
                                description: A unique identifier for the workspace.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              slug:
                                type: string
                                description: The slug for the Brand/Workspace. This is a url-safe name for the Workspace.
                              name:
                                type: string
                                description: The name of the Workspace.
                              start_of_week:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: 'The default start weekday index for the week view Calendar and for Plans. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default.

                                  With regards to the week view Calendar, values greater than 1 will be considered the same as 1.'
                              timezone:
                                type: string
                                description: The IANA time zone identifier for the default time zone used when creating resources in the Brand/Workspace (e.g. America/New_York).
                          relationships:
                            type: object
                            required:
                            - primary_label_set
                            - accounts
                            - logo
                            - dispatch_providers
                            additionalProperties: false
                            properties:
                              primary_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              accounts:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - account
                              logo:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              dispatch_providers:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - dispatch_provider
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    properties:
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '2'
                  type: brand_setting
                  attributes:
                    id: 2
                    filters_v2_content_timelines:
                      label_ids:
                      - '593363172'
                      story_ids:
                      - '2'
                      account_ids:
                      - '6'
                      service_ids:
                      - '8'
                  relationships:
                    filters_stories:
                      data:
                      - id: '2'
                        type: story
                    filters_services:
                      data:
                      - id: '8'
                        type: service
                    filters_accounts:
                      data:
                      - id: '6'
                        type: account
                    filters_labels:
                      data:
                      - id: '593363172'
                        type: label
                    filters_label_sets:
                      data:
                      - id: '593363172'
                        type: label_set
                    brand:
                      data:
                        id: '781542869'
                        type: brand
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /brand_settings/v2/{brand_setting_id}:
    patch:
      tags:
      - Brand Settings
      operationId: UpdateBrandSettingV2
      summary: Update a workspace/brand's settings
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: 'NOTE: Currently, only filter settings for the content timelines and stories views are supported.'
      parameters:
      - name: brand_setting_id
        in: path
        description: ID of a brand setting
        required: true
        schema:
          type: integer
      - name: filter_namespace
        in: query
        description: 'Namespace of view that is being filtered.


          Must be specified in query parameters unless a settings object

          is being patched and the `filter_namespace` is present in the

          attributes of the settings object.

          '
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - brand_setting
                    attributes:
                      type: object
                      required:
                      - filters_v2
                      properties:
                        filters_v2:
                          type: object
                          description: Send properties for any of the available filters.
                          properties:
                            label_ids:
                              type: array
                              items:
                                type: string
                            story_ids:
                              type: array
                              items:
                                type: string
                            account_ids:
                              type: array
                              items:
                                type: string
                            service_ids:
                              type: array
                              items:
                                type: string
      responses:
        '202':
          description: The settings have been updated
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: brand setting
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - brand_setting
                      attributes:
                        type: object
                        additionalProperties: false
                        properties:
                          filters_v2_content_timelines:
                            type: object
                            properties:
                              label_ids:
                                type: array
                                items:
                                  type: string
                              story_ids:
                                type: array
                                items:
                                  type: string
                              account_ids:
                                type: array
                                items:
                                  type: string
                              service_ids:
                                type: array
                                items:
                                  type: string
                          filters_v2_stories_view:
                            type: object
                            properties:
                              label_ids:
                                type: array
                                items:
                                  type: string
                              story_ids:
                                type: array
                                items:
                                  type: string
                              account_ids:
                                type: array
                                items:
                                  type: string
                              service_ids:
                                type: array
                                items:
                                  type: string
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          filters_stories:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - story
                          filters_services:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - service
                          filters_accounts:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - account
                          filters_labels:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - label
                          filters_label_sets:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - label_set
                          brand:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - brand
              example:
                data:
                  id: '1'
                  type: brand_setting
                  attributes:
                    id: 1
                    filters_v2_content_timelines:
                      label_ids:
                      - '593363171'
                      story_ids:
                      - '1'
                      account_ids:
                      - '5'
                      service_ids:
                      - '6'
                  relationships:
                    filters_stories:
                      data:
                      - id: '1'
                        type: story
                    filters_services:
                      data:
                      - id: '6'
                        type: service
                    filters_accounts:
                      data:
                      - id: '5'
                        type: account
                    filters_labels:
                      data:
                      - id: '593363171'
                        type: label
                    filters_label_sets:
                      data:
                      - id: '593363171'
                        type: label_set
                    brand:
                      data:
                        id: '781542866'
                        type: brand
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
