openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) View Standard Columns API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: View Standard Columns
paths:
  /loupe/v3/view_standard_columns:
    get:
      tags:
      - View Standard Columns
      operationId: ReadViewStandardColumnsV3
      summary: List all standard columns available for plan table views
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of standard column resources, ordered by default position.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: view_standard_column
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - view_standard_column
                        attributes:
                          type: object
                          required:
                          - system_name
                          - display_name
                          - default_position
                          - created_at
                          - updated_at
                          additionalProperties: false
                          properties:
                            system_name:
                              type: string
                              description: Internal identifier for the column (e.g. 'name', 'start_date').
                            display_name:
                              type: string
                              description: Human-readable column label shown in the UI.
                            default_position:
                              type: integer
                              description: Default sort order position for this column.
                            created_at:
                              type: string
                              format: date-time
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              readOnly: true
                        relationships:
                          type: object
                          additionalProperties: false
                          properties: {}
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: 93ab7597-756e-4e6f-aec3-dec906d5fe03
                  type: view_standard_column
                  attributes:
                    system_name: image
                    display_name: Image
                    default_position: 0
                    created_at: '2026-05-29T22:03:42Z'
                    updated_at: '2026-05-29T22:03:42Z'
                  relationships: {}
                - id: 867fb324-b322-4013-8ecf-ed2bee7856ed
                  type: view_standard_column
                  attributes:
                    system_name: name
                    display_name: Name
                    default_position: 1
                    created_at: '2026-05-29T22:03:42Z'
                    updated_at: '2026-05-29T22:03:42Z'
                  relationships: {}
                - id: c9c28db6-8016-49e2-954b-e973482b70de
                  type: view_standard_column
                  attributes:
                    system_name: description
                    display_name: Description
                    default_position: 2
                    created_at: '2026-05-29T22:03:42Z'
                    updated_at: '2026-05-29T22:03:42Z'
                  relationships: {}
                - id: 568a9cf3-683b-47a3-bc7a-a7ef7d16e49d
                  type: view_standard_column
                  attributes:
                    system_name: start_date
                    display_name: Start Date
                    default_position: 3
                    created_at: '2026-05-29T22:03:42Z'
                    updated_at: '2026-05-29T22:03:42Z'
                  relationships: {}
                - id: 3ef2aa09-8651-47a3-ae33-059274f7ab2c
                  type: view_standard_column
                  attributes:
                    system_name: end_date
                    display_name: End Date
                    default_position: 4
                    created_at: '2026-05-29T22:03:42Z'
                    updated_at: '2026-05-29T22:03:42Z'
                  relationships: {}
                - id: a0a377e0-53ba-4793-972b-9f91a0b4f8b3
                  type: view_standard_column
                  attributes:
                    system_name: swimlane
                    display_name: Swimlane
                    default_position: 5
                    created_at: '2026-05-29T22:03:42Z'
                    updated_at: '2026-05-29T22:03:42Z'
                  relationships: {}
                - id: 42540e2f-dce6-428e-8cd9-567608abcd96
                  type: view_standard_column
                  attributes:
                    system_name: category_type
                    display_name: Type
                    default_position: 6
                    created_at: '2026-05-29T22:03:42Z'
                    updated_at: '2026-05-29T22:03:42Z'
                  relationships: {}
                meta:
                  resource_type: view_standard_column
                  total: 7
                  page:
                    limit: 150
                    offset: 0
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
