openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Stories V1 API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Stories V1
paths:
  /api/v1/stories:
    post:
      tags:
      - Stories V1
      operationId: CreateStoryV1
      summary: Create a Story
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: Create a new Moments::Story
      requestBody:
        content:
          application/json:
            x-not-json-api: true
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                      required:
                      - description
                      - name
                      - scheduled_start_at
                      - scheduled_end_at
                      properties:
                        description:
                          type:
                          - string
                          - 'null'
                          description: A description of the Story.
                        name:
                          type: string
                          description: The name of the Story.
                        scheduled_start_at:
                          type: string
                          format: date-time
                          description: 'An ISO8601 date-time. The date and time when the Story begins.

                            '
                        scheduled_end_at:
                          type: string
                          format: date-time
                          description: 'An ISO8601 date-time. The date and time when the Story ends.

                            '
                    relationships:
                      type: object
                      required:
                      - workspace
                      properties:
                        workspace:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - brand
      responses:
        '201':
          description: The story has been created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: story
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - story
                      attributes:
                        type: object
                        required:
                        - color
                        - description
                        - name
                        - scheduled_end_at
                        - scheduled_start_at
                        properties:
                          id:
                            type: integer
                          scheduled_start_at:
                            type: string
                            description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          scheduled_end_at:
                            type: string
                            description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          name:
                            type: string
                          color:
                            type:
                            - string
                            - 'null'
                            description: A hex color value with the '#' prefix.
                          description:
                            type:
                            - string
                            - 'null'
                      relationships:
                        type: object
                        properties:
                          workspace:
                            type: object
                            required:
                            - data
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - workspaces
              example:
                data:
                  type: story
                  id: '1'
                  attributes:
                    color: '#e467d7'
                    description: 'The targeted marketing campaign for women''s flip flops for Spring 2020

                      '
                    name: Spring campaign
                    scheduled_start_at: '2020-03-01T08:00:00.000Z'
                    scheduled_end_at: '2020-06-01T08:00:00.000Z'
                  relationships:
                    workspace:
                      data:
                        type: workspaces
                        id: '1'
                  included:
                    type: workspaces
                    id: 1,
                    attributes:
                      name: My Workspace
                      slug: my_workspace
                      is_private: false
                      created_at: '2020-01-01T21:01:56.000Z'
                    relationships:
                      asset:
                        data: null
        '400':
          description: Bad request
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
              example:
                errors:
                - data[attributes][scheduled_start_at] is missing
    put:
      tags:
      - Stories V1
      operationId: UpdateStoryV1
      summary: Update a Story
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      description: Update attributes in an existing Moments::Story
      requestBody:
        content:
          application/json:
            x-not-json-api: true
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                    attributes:
                      type: object
                      required:
                      - description
                      - id
                      - name
                      - scheduled_start_at
                      - scheduled_end_at
                      properties:
                        description:
                          type:
                          - string
                          - 'null'
                          description: A description of the Story.
                        id:
                          type:
                          - string
                          - 'null'
                          description: The id of the story to be updated.
                        name:
                          type: string
                          description: The name of the Story.
                        scheduled_start_at:
                          type: string
                          format: date-time
                          description: 'An ISO8601 date-time. The date and time when the Story begins.

                            '
                        scheduled_end_at:
                          type: string
                          format: date-time
                          description: 'An ISO8601 date-time. The date and time when the Story ends.

                            '
                    relationships:
                      type: object
                      required:
                      - workspace
                      properties:
                        workspace:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - brand
      responses:
        '200':
          description: The story has been updated
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: story
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - story
                      attributes:
                        type: object
                        required:
                        - color
                        - description
                        - name
                        - scheduled_end_at
                        - scheduled_start_at
                        properties:
                          id:
                            type: integer
                          scheduled_start_at:
                            type: string
                            description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          scheduled_end_at:
                            type: string
                            description: An ISO8601 date-time. Formatted as an 'Internet Date/Time' (RFC 3339).
                          name:
                            type: string
                          color:
                            type:
                            - string
                            - 'null'
                            description: A hex color value with the '#' prefix.
                          description:
                            type:
                            - string
                            - 'null'
                      relationships:
                        type: object
                        properties:
                          workspace:
                            type: object
                            required:
                            - data
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - workspaces
              example:
                data:
                  type: story
                  id: '1'
                  attributes:
                    color: '#e467d7'
                    description: 'The targeted marketing campaign for women''s flip flops for Spring 2020

                      '
                    name: Spring campaign
                    scheduled_start_at: '2020-03-01T08:00:00.000Z'
                    scheduled_end_at: '2020-06-01T08:00:00.000Z'
                  relationships:
                    workspace:
                      data:
                        type: workspaces
                        id: '1'
                  included:
                    type: workspaces
                    id: 1,
                    attributes:
                      name: My Workspace
                      slug: my_workspace
                      is_private: false
                      created_at: '2020-01-01T21:01:56.000Z'
                    relationships:
                      asset:
                        data: null
        '400':
          description: Bad request
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
              example:
                errors:
                - data[attributes][scheduled_start_at] is missing
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
