openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Board Columns API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Board Columns
paths:
  /boards/v3/{board_id}/board_columns:
    get:
      tags:
      - Board Columns
      operationId: ReadBoardColumnsV3
      summary: Get Board Columns available to the authenticated user and Board
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: board_id
        in: path
        required: true
        description: The ID of the Board.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - board
            - board_standard_column
            - custom_field
            - custom_field_type
        style: form
        explode: false
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of Board Columns.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: board_column
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - board_column
                        attributes:
                          type: object
                          required:
                          - position
                          - is_enabled
                          additionalProperties: false
                          properties:
                            position:
                              type: integer
                              description: "An integer indicating the zero-based ordinal position of this \nboard column relative to other board columns.\n"
                            is_enabled:
                              type: boolean
                              description: 'A value indicating whether this column is to be displayed in the UI

                                when viewing the given board.

                                '
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's creation date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's most recent updated date-time.
                              readOnly: true
                        relationships:
                          type: object
                          required:
                          - board
                          additionalProperties: false
                          properties:
                            board:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - board
                            board_standard_column:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - board_standard_column
                            custom_field:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field
                            custom_field_type:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field_type
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: board
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board
                          attributes:
                            type: object
                            required:
                            - created_at
                            - description
                            - is_public
                            - is_archived
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                                description: A description of the board.
                              is_public:
                                type: boolean
                                description: 'Indicates whether or not a board and all of its contents are visible

                                  to users in the workspace. Unless otherwise specified, this value is

                                  `false` by default. Boards are always visible to the user that created

                                  them.

                                  '
                              is_archived:
                                type: boolean
                                description: 'Indicates whether or not a board has been archived. If set to

                                  `true`, the UI will only display the board in the ‘Archived

                                  Boards’ view. If set to `false` (the default), the board may be

                                  displayed in other views, depending on the user’s filter

                                  settings.

                                  '
                              title:
                                type: string
                                description: The name of the board.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - created_by_user
                            - workspace
                            properties:
                              asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              board_collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_collaborator
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              object_collections:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object_collection
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_columns:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_column
                              board_user_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - board_user_setting
                              default_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                      - title: board_standard_column
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board_standard_column
                          attributes:
                            type: object
                            required:
                            - display_name
                            - system_name
                            - default_position
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              system_name:
                                type: string
                                description: 'The unique name for the board column.

                                  '
                              default_position:
                                type: number
                                description: The initial/default position of this board column relative to other board columns.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: custom_field_type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_type
                          attributes:
                            type: object
                            required:
                            - system_type
                            - display_name
                            - description
                            - schema
                            - schema_version
                            - datatype
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_type:
                                type: string
                                description: The input type that this custom field represents.
                              display_name:
                                type: string
                                description: The friendly label for this custom field type.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A longer description explaining the use case of this input type.
                              schema:
                                type: object
                                description: "JSON metadata describing among other things the property names, \ndata types, and required fields that are configurable for this given\nCustom Field Type. Here, required fields would indicate properties which\nmust be configured by the admin at the time of Custom Field creation.\n"
                              schema_version:
                                type: integer
                                description: An integer representing the given major version of this Custom Field Type's schema.
                              datatype:
                                type: string
                                description: The underlying primitive datatype (e.g., String, or Date).
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: b5a82f68-1b17-4e9b-bc26-038c27fb8fc1
                  type: board_column
                  attributes:
                    position: 0
                    is_enabled: true
                    created_at: '2023-09-11T15:27:01.881-08:00'
                    updated_at: '2023-09-11T15:27:01.881-08:00'
                  relationships:
                    board:
                      data:
                        id: c3f80757-c0ea-422c-aa51-3c9ef8e11a76
                        type: board
                    custom_field:
                      data: null
                    board_standard_column:
                      data:
                        id: 97cc48ae-9bd7-4537-8735-b1189340c1d6
                        type: board_standard_column
                    custom_field_type:
                      data: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /boards/v3/{board_id}/board_columns/{board_column_id}:
    patch:
      tags:
      - Board Columns
      operationId: UpdateBoardColumnV3
      summary: Update an existing Board Column
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: board_id
        in: path
        required: true
        description: The ID of the Board.
        schema:
          type: string
          format: uuid
      - name: board_column_id
        in: path
        required: true
        description: The ID of the Board Column.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - board
            - board_standard_column
            - custom_field
            - custom_field_type
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - board_column
                    attributes:
                      type: object
                      properties:
                        position:
                          type: integer
                          description: "An integer indicating the zero-based ordinal position of this \nboard column relative to other board columns.\n"
                        is_enabled:
                          type: boolean
                          description: 'A value indicating whether this column is to be displayed in the UI

                            when viewing the given board.

                            '
                    relationships:
                      type: object
                      properties:
                        board:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - board
                        board_standard_column:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - board_standard_column
                        custom_field:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type:
                              - object
                              - 'null'
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - custom_field
      responses:
        '200':
          description: An updated board column resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: board_column
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - board_column
                      attributes:
                        type: object
                        required:
                        - position
                        - is_enabled
                        additionalProperties: false
                        properties:
                          position:
                            type: integer
                            description: "An integer indicating the zero-based ordinal position of this \nboard column relative to other board columns.\n"
                          is_enabled:
                            type: boolean
                            description: 'A value indicating whether this column is to be displayed in the UI

                              when viewing the given board.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - board
                        additionalProperties: false
                        properties:
                          board:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - board
                          board_standard_column:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - board_standard_column
                          custom_field:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field
                          custom_field_type:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field_type
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: board
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board
                          attributes:
                            type: object
                            required:
                            - created_at
                            - description
                            - is_public
                            - is_archived
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                                description: A description of the board.
                              is_public:
                                type: boolean
                                description: 'Indicates whether or not a board and all of its contents are visible

                                  to users in the workspace. Unless otherwise specified, this value is

                                  `false` by default. Boards are always visible to the user that created

                                  them.

                                  '
                              is_archived:
                                type: boolean
                                description: 'Indicates whether or not a board has been archived. If set to

                                  `true`, the UI will only display the board in the ‘Archived

                                  Boards’ view. If set to `false` (the default), the board may be

                                  displayed in other views, depending on the user’s filter

                                  settings.

                                  '
                              title:
                                type: string
                                description: The name of the board.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - created_by_user
                            - workspace
                            properties:
                              asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              board_collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_collaborator
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              object_collections:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object_collection
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_columns:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_column
                              board_user_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - board_user_setting
                              default_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                      - title: board_standard_column
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board_standard_column
                          attributes:
                            type: object
                            required:
                            - display_name
                            - system_name
                            - default_position
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              system_name:
                                type: string
                                description: 'The unique name for the board column.

                                  '
                              default_position:
                                type: number
                                description: The initial/default position of this board column relative to other board columns.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: custom_field_type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_type
                          attributes:
                            type: object
                            required:
                            - system_type
                            - display_name
                            - description
                            - schema
                            - schema_version
                            - datatype
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_type:
                                type: string
                                description: The input type that this custom field represents.
                              display_name:
                                type: string
                                description: The friendly label for this custom field type.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A longer description explaining the use case of this input type.
                              schema:
                                type: object
                                description: "JSON metadata describing among other things the property names, \ndata types, and required fields that are configurable for this given\nCustom Field Type. Here, required fields would indicate properties which\nmust be configured by the admin at the time of Custom Field creation.\n"
                              schema_version:
                                type: integer
                                description: An integer representing the given major version of this Custom Field Type's schema.
                              datatype:
                                type: string
                                description: The underlying primitive datatype (e.g., String, or Date).
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
[...]
