openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Workflow Responses API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Workflow Responses
paths:
  /v3/workflow_responses:
    post:
      tags:
      - Workflow Responses
      operationId: CreateWorkflowResponseV3
      summary: Create a Workflow Response for a Workflow Assignment
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: 'A comma separated value of related resource objects on the response to include.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - assignment
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - workflow_response
                    attributes:
                      type: object
                      required:
                      - details
                      properties:
                        details:
                          type:
                          - object
                          - 'null'
                          oneOf:
                          - type:
                            - object
                            - 'null'
                            title: Approval Workflow Response Details
                            additionalProperties: false
                            required:
                            - approved
                            properties:
                              approved:
                                type: string
                                enum:
                                - approved
                                - declined
                              reasoning:
                                type:
                                - string
                                - 'null'
                          - type: object
                            title: Task/Circuit Breaker Workflow Response Details
                            additionalProperties: false
                            required:
                            - complete
                            properties:
                              complete:
                                type: boolean
                          - type: object
                            title: Rewind Workflow Response Details
                            additionalProperties: false
                            required:
                            - rewind
                            properties:
                              rewind:
                                type: boolean
                    relationships:
                      type: object
                      required:
                      - assignment
                      properties:
                        assignment:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - workflow_assignment
            example:
              data:
                id: 4ac02fc7-705c-467e-933e-8bf16fc3ebf1
                type: workflow_response
                attributes:
                  details:
                    approved: declined
                    reasoning: not quite there yet
                relationships:
                  assignment:
                    data:
                      id: d7a0168b-edc6-4737-85b6-8b551d1faf99
                      type: workflow_assignment
      responses:
        '201':
          description: Response created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: workflow_response
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - workflow_response
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - created_at
                        - details
                        - updated_at
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          details:
                            type:
                            - object
                            - 'null'
                            oneOf:
                            - type:
                              - object
                              - 'null'
                              title: Approval Workflow Response Details
                              additionalProperties: false
                              required:
                              - approved
                              properties:
                                approved:
                                  type: string
                                  enum:
                                  - approved
                                  - declined
                                reasoning:
                                  type:
                                  - string
                                  - 'null'
                            - type: object
                              title: Task/Circuit Breaker Workflow Response Details
                              additionalProperties: false
                              required:
                              - complete
                              properties:
                                complete:
                                  type: boolean
                            - type: object
                              title: Rewind Workflow Response Details
                              additionalProperties: false
                              required:
                              - rewind
                              properties:
                                rewind:
                                  type: boolean
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - assignment
                        - created_by_user
                        additionalProperties: false
                        properties:
                          assignment:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workflow_assignment
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: workflow_assignment
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workflow_assignment
                          relationships:
                            type: object
                            required:
                            - created_by_user
                            - assigned_user
                            - stage
                            - responses
                            additionalProperties: false
                            properties:
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              assigned_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              stage:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workflow_stage
                              responses:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workflow_response
                          attributes:
                            type: object
                            required:
                            - assignment_type
                            - created_at
                            - metadata
                            - position
                            - updated_at
                            additionalProperties: false
                            properties:
                              assignment_type:
                                type: string
                                enum:
                                - approval
                                - task
                                - circuit_breaker
                              created_at:
                                type: string
                                format: date-time
                                readOnly: true
                              metadata:
                                type:
                                - object
                                - 'null'
                                anyOf:
                                - type:
                                  - object
                                  - 'null'
                                  title: Approval Workflow Assignment Metadata
                                  additionalProperties: false
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_assignment. Will default to "Approval".
                                - type: object
                                  title: Task/Circuit Breaker Workflow Assignment Metadata
                                  additionalProperties: false
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_assignment. Will default to "Task" or "Pause".
                                    is_starred:
                                      type: boolean
                              position:
                                type: integer
                                description: 'The sequential position (starting at 1) of the workflow_assignment

                                  within its workflow_stage.

                                  '
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                readOnly: true
                      - title: workflow_stage
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workflow_stage
                          attributes:
                            type: object
                            required:
                            - activated_at
                            - created_at
                            - due_date
                            - metadata
                            - position
                            - stage_type
                            - status
                            - updated_at
                            additionalProperties: false
                            properties:
                              activated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                readOnly: true
                                description: 'An ISO8601 date-time set to the time when this workflow_stage gained

                                  the `status` "active".


                                  Naturally, this field is `null` prior to the workflow_stage becoming

                                  active. It is also `null` _after_ a rollback if the rollback targets

                                  a workflow_stage earlier than the one currently active.

                                  '
                              created_at:
                                type: string
                                format: date-time
                                readOnly: true
                                description: An ISO8601 date-time.
                              due_date:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                              metadata:
                                type:
                                - object
                                - 'null'
                                oneOf:
                                - type:
                                  - object
                                  - 'null'
                                  title: Approval Workflow Stage Metadata
                                  additionalProperties: false
                                  required:
                                  - completion_rules
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_stage. Will default to "Approval Phase"
                                    completion_rules:
                                      type: string
                                      enum:
                                      - all
                                      - one
                                - type: object
                                  title: Task/Circuit Breaker Workflow Stage Metadata
                                  additionalProperties: false
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_stage. Will default to "Task Phase" or "Pause"
                              position:
                                type: integer
                              stage_type:
                                type: string
                                enum:
                                - approval
                                - task
                                - circuit_breaker
                              status:
                                type: string
                                enum:
                                - active
                                - complete
                                - inactive
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - assignments
                            - workflow
                            properties:
                              assignments:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workflow_assignment
                              workflow:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workflow
              example:
                data:
                  id: 4ac02fc7-705c-467e-933e-8bf16fc3ebf1
                  type: workflow_response
                  attributes:
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                    details:
                      approved: approved
                      reasoning: a-good-response
                  relationships:
                    created_by_user:
                      data:
                        id: ada0d59f-9f8c-4df3-ae9c-d6997ab48645
                        type: user
                    assignment:
                      data:
                        id: d7a0168b-edc6-4737-85b6-8b551d1faf99
                        type: workflow_assignment
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /v3/workflow_responses/{workflow_response_id}:
    get:
      tags:
      - Workflow Responses
      operationId: ReadWorkflowResponseV3
      summary: Fetch a Response by ID
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: workflow_response_id
        in: path
        required: true
        description: The ID of the workflow_response
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: 'A comma separated value of related resource objects on the response to include.

          '
        schema:
          type: array
          items:
            type: string
            enum:
            - assignment
        style: form
        explode: false
      responses:
        '200':
          description: Successfully fetched workflow_response
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: workflow_response
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - workflow_response
                      attributes:
                        type: object
                        additionalProperties: false
                        required:
                        - created_at
                        - details
                        - updated_at
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          details:
                            type:
                            - object
                            - 'null'
                            oneOf:
                            - type:
                              - object
                              - 'null'
                              title: Approval Workflow Response Details
                              additionalProperties: false
                              required:
                              - approved
                              properties:
                                approved:
                                  type: string
                                  enum:
                                  - approved
                                  - declined
                                reasoning:
                                  type:
                                  - string
                                  - 'null'
                            - type: object
                              title: Task/Circuit Breaker Workflow Response Details
                              additionalProperties: false
                              required:
                              - complete
                              properties:
                                complete:
                                  type: boolean
                            - type: object
                              title: Rewind Workflow Response Details
                              additionalProperties: false
                              required:
                              - rewind
                              properties:
                                rewind:
                                  type: boolean
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - assignment
                        - created_by_user
                        additionalProperties: false
                        properties:
                          assignment:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workflow_assignment
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: workflow_assignment
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workflow_assignment
                          relationships:
                            type: object
                            required:
                            - created_by_user
                            - assigned_user
                            - stage
                            - responses
                            additionalProperties: false
                            properties:
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              assigned_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              stage:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workflow_stage
                              responses:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workflow_response
                          attributes:
                            type: object
                            required:
                            - assignment_type
                            - created_at
                            - metadata
                            - position
                            - updated_at
                            additionalProperties: false
                            properties:
                              assignment_type:
                                type: string
                                enum:
                                - approval
                                - task
                                - circuit_breaker
                              created_at:
                                type: string
                                format: date-time
                                readOnly: true
                              metadata:
                                type:
                                - object
                                - 'null'
                                anyOf:
                                - type:
                                  - object
                                  - 'null'
                                  title: Approval Workflow Assignment Metadata
                                  additionalProperties: false
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_assignment. Will default to "Approval".
                                - type: object
                                  title: Task/Circuit Breaker Workflow Assignment Metadata
                                  additionalProperties: false
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_assignment. Will default to "Task" or "Pause".
                                    is_starred:
                                      type: boolean
                              position:
                                type: integer
                                description: 'The sequential position (starting at 1) of the workflow_assignment

                                  within its workflow_stage.

                                  '
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                readOnly: true
                      - title: workflow_stage
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workflow_stage
                          attributes:
                            type: object
                            required:
                            - activated_at
                            - created_at
                            - due_date
                            - metadata
                            - position
                            - stage_type
                            - status
                            - updated_at
                            additionalProperties: false
                            properties:
                              activated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                readOnly: true
                                description: 'An ISO8601 date-time set to the time when this workflow_stage gained

                                  the `status` "active".


                                  Naturally, this field is `null` prior to the workflow_stage becoming

                                  active. It is also `null` _after_ a rollback if the rollback targets

                                  a workflow_stage earlier than the one currently active.

                                  '
                              created_at:
                                type: string
                                format: date-time
                                readOnly: true
                                description: An ISO8601 date-time.
                              due_date:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                              metadata:
                                type:
                                - object
                                - 'null'
                                oneOf:
                                - type:
                                  - object
                                  - 'null'
                                  title: Approval Workflow Stage Metadata
                                  additionalProperties: false
                                  required:
                                  - completion_rules
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_stage. Will default to "Approval Phase"
                                    completion_rules:
                                      type: string
                                      enum:
                                      - all
                                      - one
                                - type: object
                                  title: Task/Circuit Breaker Workflow Stage Metadata
                                  additionalProperties: false
                                  properties:
                                    title:
                                      type: string
                                      description: The title of the workflow_stage. Will default to "Task Phase" or "Pause"
                              position:
                                type: integer
                              stage_type:
                                type: string
                                enum:
                                - approval
                                - task
                                - circuit_breaker
                              status:
                                type: string
                                enum:
                                - active
                                - complete
                                - inactive
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - assignments
                            - workflow
                            properties:
                              assignments:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workflow_assignment
                              workflow:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workflow
              example:
                data:
                  id: 4ac02fc7-705c-467e-933e-8bf16fc3ebf1
                  type: workflow_response
                  attributes:
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                    details:
                      approved: approved
                      reasoning: a-good-response
                  relationships:
                    created_by_user:
                      data:
                        id: ada0d59f-9f8c-4df3-ae9c-d6997ab48645
                        type: user
                    assignment:
                      data:
                        id: d7a0168b-edc6-4737-85b6-8b551d1faf99
                        type: workflow_assignment
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
