openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Onboarding API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Onboarding
  description: '## Onboarding Overview

    Unlike many other Opal endpoints, the Onboarding endpoints are only accessible via a special OAuth scope that is not currently offered to Opal customers (i.e.'
paths:
  /onboarding/v3/trial_invites:
    post:
      tags:
      - Onboarding
      summary: Request a trial invite
      operationId: CreateTrialInviteV3
      description: 'Create a trial invitation record that can be accepted by following the one-time URL populated into the response''s `accept` `link` property.


        Note that although the OAuth Client Credentials Flow for authorization is not stateless, you _can_ use this API endpoint as a webhook by requesting an access token once (which will not expire for the `write:onboarding` scope) and configuring an Authorization Bearer header (per the OAuth standard) using this token within a third party platform.'
      security:
      - anonymous_oauth:
        - write:onboarding
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - trial_invite
                    attributes:
                      type: object
                      required:
                      - user_email
                      - user_first_name
                      - user_last_name
                      - company
                      additionalProperties: false
                      properties:
                        user_email:
                          type: string
                          description: The email address to which a trial invite should be sent.
                        user_first_name:
                          type: string
                          description: The first name of an initial user to invite to the new Opal.
                        user_last_name:
                          type: string
                          description: The last name of an initial user to invite to the new Opal.
                        company:
                          type: string
                          description: The Company name to associated with the new Opal.
                        team_types:
                          type: array
                          description: The types of teams expected to join the trial.
                          items:
                            type: string
                            enum:
                            - agency
                            - brand marketing
                            - content marketing
                            - creatives
                            - email marketing
                            - external comms
                            - geographies
                            - influencer marketing
                            - internal comms
                            - paid advertising
                            - retail in-store
                            - social marketing
                            - web marketing
                            - other
      responses:
        '201':
          description: A trial invite has been created.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: trial_invite
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - links
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - trial_invite
                      links:
                        type: object
                        required:
                        - accept
                        - user_setup
                        properties:
                          accept:
                            type: string
                            format: uri
                            description: 'A URL that should be followed by the user to accept the trial invitation.

                              Once accepted, this link is moot. Following it a second time will produce the error that the invitation has already been used to create a Trial Opal.'
                          user_setup:
                            type:
                            - string
                            - 'null'
                            format: uri
                            description: A URL that won't be populated until the accept link has been followed. Once a trial has been accepted, this link will take the user who requested the trial to a user setup flow and then into their new Opal.
                      attributes:
                        type: object
                        required:
                        - created_at
                        - expires_at
                        - used_at
                        - single_use_hash
                        - user_email
                        - user_first_name
                        - user_last_name
                        - company
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          expires_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                          used_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: An ISO8601 date-time.
                          single_use_hash:
                            type: string
                            description: 'A one-time hash for accepting the invite.


                              See the `links` `accept` property for a full URL that can be followed to accept the invite.

                              '
                          user_email:
                            type: string
                            format: email
                            description: The email address of the user requesting a trial.
                          user_first_name:
                            type: string
                            description: The first name of an initial user to invite to the new Opal.
                          user_last_name:
                            type: string
                            description: The last name of an initial user to invite to the new Opal.
                          company:
                            type: string
                            description: The Company name to associated with the new Opal.
                          team_types:
                            type:
                            - array
                            - 'null'
                            description: The types of teams expected to join the trial. If null, then the user creating the trial did not specify team types.
                            items:
                              type: string
                              enum:
                              - agency
                              - brand marketing
                              - content marketing
                              - creatives
                              - email marketing
                              - external comms
                              - geographies
                              - influencer marketing
                              - internal comms
                              - paid advertising
                              - retail in-store
                              - social marketing
                              - web marketing
                              - other
                      relationships:
                        type: object
                        required:
                        - opal
                        - plan
                        additionalProperties: false
                        properties:
                          opal:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - opal
                          plan:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - plan
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /onboarding/v3/trial_invites/status:
    get:
      tags:
      - Onboarding
      summary: Get a trial invite
      operationId: GetTrialInviteV3
      description: 'Retrieve a trial invite. This route is designed to be used by a page that waits for a requested trial to be created and then allows the requesting user to proceed. It therefore is not authenticated but it does require _very_ specific knowledge of the trial in order to retrieve its record.


        Most of the parameter values must exactly match those used to create the trial invitation.


        Of particular note in the response payload is the `user_setup` link. This link will only be populated if the trial has been created & accepted. The user who requested the trial can be sent to this URL to finish setting up their user and begin using the new trial Opal.'
      parameters:
      - name: approximate_created_at
        in: query
        required: true
        description: An ISO8601 datetime that is within 10 minutes of when the trial invitation was created.
        schema:
          type: string
          format: date-time
      - name: company
        in: query
        required: true
        description: The name for the Company the trial is being requested on behalf of.
        schema:
          type: string
      - name: user_email
        in: query
        required: true
        description: The email of the user requesting a trial.
        schema:
          type: string
          format: email
      - name: user_first_name
        in: query
        required: true
        description: The first name of the user requesting a trial.
        schema:
          type: string
      - name: user_last_name
        in: query
        required: true
        description: The last name of the user requesting a trial.
        schema:
          type: string
      responses:
        '200':
          description: The trial invite was found.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: trial_invite
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - links
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - trial_invite
                      links:
                        type: object
                        required:
                        - accept
                        - user_setup
                        properties:
                          accept:
                            type: string
                            format: uri
                            description: 'A URL that should be followed by the user to accept the trial invitation.

                              Once accepted, this link is moot. Following it a second time will produce the error that the invitation has already been used to create a Trial Opal.'
                          user_setup:
                            type:
                            - string
                            - 'null'
                            format: uri
                            description: A URL that won't be populated until the accept link has been followed. Once a trial has been accepted, this link will take the user who requested the trial to a user setup flow and then into their new Opal.
                      attributes:
                        type: object
                        required:
                        - created_at
                        - expires_at
                        - used_at
                        - single_use_hash
                        - user_email
                        - user_first_name
                        - user_last_name
                        - company
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          expires_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                          used_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: An ISO8601 date-time.
                          single_use_hash:
                            type: string
                            description: 'A one-time hash for accepting the invite.


                              See the `links` `accept` property for a full URL that can be followed to accept the invite.

                              '
                          user_email:
                            type: string
                            format: email
                            description: The email address of the user requesting a trial.
                          user_first_name:
                            type: string
                            description: The first name of an initial user to invite to the new Opal.
                          user_last_name:
                            type: string
                            description: The last name of an initial user to invite to the new Opal.
                          company:
                            type: string
                            description: The Company name to associated with the new Opal.
                          team_types:
                            type:
                            - array
                            - 'null'
                            description: The types of teams expected to join the trial. If null, then the user creating the trial did not specify team types.
                            items:
                              type: string
                              enum:
                              - agency
                              - brand marketing
                              - content marketing
                              - creatives
                              - email marketing
                              - external comms
                              - geographies
                              - influencer marketing
                              - internal comms
                              - paid advertising
                              - retail in-store
                              - social marketing
                              - web marketing
                              - other
                      relationships:
                        type: object
                        required:
                        - opal
                        - plan
                        additionalProperties: false
                        properties:
                          opal:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - opal
                          plan:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - plan
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /onboarding/v3/trial_invites/do/accept/{single_use_hash}:
    get:
      tags:
      - Onboarding
      summary: Start a new Trial for a customer (accept a trial invite)
      operationId: AcceptTrialInviteV3
      description: 'Create a new Opal, Workspace, initial User, and other seeded resources.


        This endpoint can be made with the `Accept: text/html` header to automatically redirect to the onboarding user interface for the first user in the new trial Opal.


        Alternatively, this endpoint can be used with the `Accept: application/json` header to request an RPC response payload.'
      parameters:
      - name: single_use_hash
        in: path
        required: true
        description: A single-use hash that identifies and authorizes the creation of a trial Opal.
        schema:
          type: string
      responses:
        '201':
          description: A trial Opal has been created.
          content:
            application/json:
              x-not-json-api: true
              schema:
                type: object
                required:
                - links
                additionalProperties: false
                properties:
                  links:
                    type: object
                    required:
                    - user_setup
                    additionalProperties: false
                    properties:
                      user_setup:
                        type: string
                        format: uri
                        description: A URL to redirect the user to in order to perform user setup and then load up the new Opal.
        '301':
          description: A trial Opal has been created and the user is being redirected to a user setup page.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
