openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Delivery Records API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Delivery Records
paths:
  /delivery_records/v2/{delivery_record_id}:
    patch:
      tags:
      - Delivery Records
      operationId: UpdateDeliveryRecordV2
      summary: Update a delivery record
      description: 'Updating certain fields will cause other fields and the internal state of a Delivery Record to be updated

        depending on what fields are set in the request.


        * `live_url`: The state will be set to `published`, and the `delivered_at` field wil be set to the current time.

        The fields `provider_errors`, `failed_at` will be unset.


        * `provider_errors`: The state will be set to `failed`, and the `failed_at` field will be set to the current time.

        The `delivered_at` field will be unset.


        * `provider_content_url` and `provider_draft_id`: When _both_ are sent, the state will be set to `draft`, and

        `delivered_at` will be set to the current time. The fields `provider_content_id`, `live_url`, `failed_at`, and

        `provider_errors` will be unset.'
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: delivery_record_id
        in: path
        required: true
        description: The ID of the Delivery Record.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: integer
                    type:
                      type: string
                      enum:
                      - delivery_record
                    attributes:
                      type: object
                      properties:
                        live_url:
                          type:
                          - string
                          - 'null'
                          description: The public live url of the Content
                        provider_content_url:
                          type:
                          - string
                          - 'null'
                          description: The URL of the content at the external provider
                        provider_draft_id:
                          type:
                          - string
                          - 'null'
                          description: The ID of the draft content at the external provider
                        provider_errors:
                          type:
                          - string
                          - 'null'
                          description: The error messages from the provider
            example:
              data:
                id: '1'
                type: delivery_record
                attributes:
                  live_url: https://twitter.com/awesome/tweet-1-2-3
      responses:
        '200':
          description: A single delivery record.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: delivery_record
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - delivery_record
                      attributes:
                        type: object
                        additionalProperties: false
                        properties:
                          delivered_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: 'An ISO8601 date-time. The date and time the record was delivered.

                              '
                          delivery_method:
                            type:
                            - string
                            - 'null'
                            description: How the record was sent, email, SMS, etc.
                          failed_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: 'An ISO8601 date-time. The date and time the record last failed to deliver

                              '
                          live_url:
                            type:
                            - string
                            - 'null'
                            description: The public 'live' URL of the Content
                          provider:
                            type:
                            - string
                            - 'null'
                            readOnly: true
                          provider_content_id:
                            type:
                            - string
                            - 'null'
                            description: The ID of the content at the external provider
                          provider_content_url:
                            type:
                            - string
                            - 'null'
                            description: The URL of the content at the external provider
                          provider_draft_id:
                            type:
                            - string
                            - 'null'
                            description: The ID of the draft content at the external provider
                          provider_errors:
                            type:
                            - object
                            - 'null'
                            description: The error messages from the provider
                          scheduled_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: 'An ISO8601 date-time. The date and time the content is scheduled.

                              '
                      relationships:
                        type: object
                        required:
                        - content
                        - delivery_user
                        additionalProperties: false
                        properties:
                          content:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - content
                          delivery_user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
              example:
                data:
                  id: '1'
                  type: delivery_record
                  attributes:
                    delivered_at: 2020-12-29T01:37:56+0000
                    delivery_method: email
                    failed_at: null
                    live_url: https://twitter.com/awesome/tweet-1-2-3
                    provider: sprinklr
                    provider_content_id: '1234345'
                    provider_content_url: https://sprinklr.com/1234345
                    provider_draft_id: '1234345'
                    provider_errors: {}
                    scheduled_at: 2020-12-30T01:37:56+0000
                  relationships:
                    content:
                      data:
                        id: '27'
                        type: content
                    delivery_user:
                      data:
                        id: '60'
                        type: user
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
