openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Bulk Operations API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Bulk Operations
  description: '## Bulk Operations


    A Bulk Operation represents a number of individual actions to be performed.


    ### Terms

    - **``Operation ID``**: A unique string identifier that corresponds to a

    specific individual operation that can be made for a resource. If the request

    is usable in the context of a bulk operation, the endpoint will have this

    identifier documented as "Operation-ID".'
paths:
  /v3/bulk_operations:
    post:
      tags:
      - Bulk Operations
      operationId: CreateBulkOperationV3
      summary: '[PROPOSED] Create a new Bulk Operation resource'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: sync
        in: query
        required: false
        description: 'By default, an operation will be created with the `pending` status. It will

          return early and complete asynchronously. When this parameter is `true`,

          all operations will be processed synchronously and completely within one

          request, and the server will not respond until all operations have

          completed.


          This option should be used with care as longer-running requests have the

          potential to time out.

          '
        schema:
          type: boolean
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - operations
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - bulk_operation
                    attributes:
                      type: object
                      required:
                      - operations
                      properties:
                        operations:
                          type: array
                          items:
                            type: object
                            required:
                            - operation_identifier
                            properties:
                              operation_identifier:
                                type: string
                                description: The Operation ID of the specific API to be performed. These are documented as `Operation-ID` throughout this API documentation.
                              request_body:
                                type: object
                                description: JSON:API data to use for the given API operation. This **MUST** match the documented data (`data`) in the request schema of the specified API Operation. This field **MUST** be present for `Create*` and `Update*` operations, and **MUST** be omitted for `Read*` and `Delete*` operations.
                                required:
                                - data
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - type
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                      attributes:
                                        type: object
                                      relationships:
                                        type: object
                              parameters:
                                type: object
                                description: Object for specifying query parameters to be used in the API operation. This object can contain key-value representations for both path and query parameters.
            example:
              data:
                type: bulk_operation
                attributes:
                  operations:
                  - operation_identifier: UpdateBlockV3
                    request_body:
                      data:
                        id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                        type: block
                        attributes:
                          color: '#123456'
                    parameters:
                      block_id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                  - operation_identifier: UpdateBlockV3
                    request_body:
                      data:
                        id: f590f288-eaf8-4746-b418-a04f76d2fe2a
                        type: block
                        attributes:
                          color: a really pretty blue
                    parameters:
                      block_id: f590f288-eaf8-4746-b418-a04f76d2fe2a
      responses:
        '201':
          description: A newly created Bulk Operation resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: bulk_operation
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - bulk_operation
                      attributes:
                        type: object
                        required:
                        - status
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          status:
                            type: string
                            enum:
                            - pending
                            - complete
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - operations
                        - created_by_user
                        properties:
                          operations:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - single_operation
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: single_operation
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - single_operation
                          attributes:
                            type: object
                            required:
                            - operation_identifier
                            - request_body
                            - parameters
                            - operation_status
                            - status_code
                            - response_document
                            - error
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              operation_identifier:
                                type: string
                                description: The Operation ID of the specific API to be performed. These are documented as `Operation-ID` throughout this API documentation.
                              request_body:
                                type:
                                - object
                                - 'null'
                                description: JSON:API data to use for the given API operation. For a `Delete*` or `Read*` operation, this data will be `null`.
                                properties:
                                  data:
                                    required:
                                    - type
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                      attributes:
                                        type: object
                                      relationships:
                                        type: object
                              parameters:
                                type:
                                - object
                                - 'null'
                                description: Object for specifying query parameters to be used in the operation. This object can contain key-value representations for both path and query parameters.
                              operation_status:
                                type: string
                                enum:
                                - pending
                                - complete
                                - failed
                              status_code:
                                description: The resulting status code for a completed or failed API operation.
                                type:
                                - integer
                                - 'null'
                              response_document:
                                description: 'The resulting document for a successfully completed API operation. If the operation has failed, this property will be `null`. This document will match the response schema documented for the given Operation-ID.

                                  *NOTE: Depending on when this data is read, it may no longer reflect the most up-to-date state of a given resource. It may also become unavailable after 24 hours.*'
                                type:
                                - object
                                - 'null'
                                properties:
                                  data:
                                    oneOf:
                                    - type: object
                                    - type: array
                                      items:
                                        type: object
                                  errors:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - status
                                      properties:
                                        status:
                                          type: string
                                        title:
                                          type: string
                                        detail:
                                          type: string
                                        code:
                                          type: string
                                  included:
                                    type: array
                                    items:
                                      type: object
                                  meta:
                                    type: object
                              error:
                                type:
                                - string
                                - 'null'
                                description: For an operation that has failed, this property will contain a message indicating the reason for the failure.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
              example:
                data:
                  id: 7b07cdd2-6558-4c45-b6bf-408cb761d10a
                  type: bulk_operation
                  attributes:
                    status: complete
                    created_at: '2025-08-12T15:42:01.881-08:00'
                    updated_at: '2025-08-12T15:42:01.881-08:00'
                  relationships:
                    operations:
                      data:
                      - id: bf455b99-be56-4390-8576-25e3ba9463cd
                        type: single_operation
                      - id: 1ad01680-28ee-448c-9535-e75b86434dd2
                        type: single_operation
                    created_by_user:
                      data:
                        id: 73563203-dae1-4380-b055-2b18da890cb7
                        type: user
                included:
                - id: bf455b99-be56-4390-8576-25e3ba9463cd
                  type: single_operation
                  attributes:
                    operation_identifier: UpdateBlockV3
                    request_body:
                      data:
                        id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                        type: block
                        attributes:
                          color: '#123456'
                    parameters:
                      block_id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                    operation_status: complete
                    status_code: 200
                    response_document:
                      data:
                        id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                        type: block
                        attributes:
                          color: '#123456'
                          description: null
                          start_at: null
                          end_at: null
                          row_index: 1
                          y_scale: 1
                    error: null
                    created_at: '2025-08-12T15:42:01.881-08:00'
                    updated_at: '2025-08-12T15:42:01.881-08:00'
                - id: 1ad01680-28ee-448c-9535-e75b86434dd2
                  type: single_operation
                  attributes:
                    operation_identifier: UpdateBlockV3
                    request_body:
                      data:
                        id: f590f288-eaf8-4746-b418-a04f76d2fe2a
                        type: block
                        attributes:
                          color: a really pretty blue
                    parameters:
                      block_id: f590f288-eaf8-4746-b418-a04f76d2fe2a
                    operation_status: failed
                    status_code: 400
                    response_document: null
                    error: color must be a valid hex code
                    created_at: '2025-08-12T15:42:01.881-08:00'
                    updated_at: '2025-08-12T15:42:01.881-08:00'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /v3/bulk_operations/{bulk_operation_id}:
    get:
      tags:
      - Bulk Operations
      operationId: ReadBulkOperationV3
      summary: '[PROPOSED] Get Bulk Operation available to the authenticated user by ID'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: bulk_operation_id
        in: path
        required: true
        description: The ID of the Bulk Operation.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - operations
        style: form
        explode: false
      responses:
        '200':
          description: A single Bulk Operation resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: bulk_operation
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - bulk_operation
                      attributes:
                        type: object
                        required:
                        - status
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          status:
                            type: string
                            enum:
                            - pending
                            - complete
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - operations
                        - created_by_user
                        properties:
                          operations:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - single_operation
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: single_operation
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - single_operation
                          attributes:
                            type: object
                            required:
                            - operation_identifier
                            - request_body
                            - parameters
                            - operation_status
                            - status_code
                            - response_document
                            - error
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              operation_identifier:
                                type: string
                                description: The Operation ID of the specific API to be performed. These are documented as `Operation-ID` throughout this API documentation.
                              request_body:
                                type:
                                - object
                                - 'null'
                                description: JSON:API data to use for the given API operation. For a `Delete*` or `Read*` operation, this data will be `null`.
                                properties:
                                  data:
                                    required:
                                    - type
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                      attributes:
                                        type: object
                                      relationships:
                                        type: object
                              parameters:
                                type:
                                - object
                                - 'null'
                                description: Object for specifying query parameters to be used in the operation. This object can contain key-value representations for both path and query parameters.
                              operation_status:
                                type: string
                                enum:
                                - pending
                                - complete
                                - failed
                              status_code:
                                description: The resulting status code for a completed or failed API operation.
                                type:
                                - integer
                                - 'null'
                              response_document:
                                description: 'The resulting document for a successfully completed API operation. If the operation has failed, this property will be `null`. This document will match the response schema documented for the given Operation-ID.

                                  *NOTE: Depending on when this data is read, it may no longer reflect the most up-to-date state of a given resource. It may also become unavailable after 24 hours.*'
                                type:
                                - object
                                - 'null'
                                properties:
                                  data:
                                    oneOf:
                                    - type: object
                                    - type: array
                                      items:
                                        type: object
                                  errors:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - status
                                      properties:
                                        status:
                                          type: string
                                        title:
                                          type: string
                                        detail:
                                          type: string
                                        code:
                                          type: string
                                  included:
                                    type: array
                                    items:
                                      type: object
                                  meta:
                                    type: object
                              error:
                                type:
                                - string
                                - 'null'
                                description: For an operation that has failed, this property will contain a message indicating the reason for the failure.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
              example:
                data:
                  id: 7b07cdd2-6558-4c45-b6bf-408cb761d10a
                  type: bulk_operation
                  attributes:
                    status: complete
                    created_at: '2025-08-12T15:42:01.881-08:00'
                    updated_at: '2025-08-12T15:42:01.881-08:00'
                  relationships:
                    operations:
                      data:
                      - id: bf455b99-be56-4390-8576-25e3ba9463cd
                        type: single_operation
                      - id: 1ad01680-28ee-448c-9535-e75b86434dd2
                        type: single_operation
                    created_by_user:
                      data:
                        id: 73563203-dae1-4380-b055-2b18da890cb7
                        type: user
                included:
                - id: bf455b99-be56-4390-8576-25e3ba9463cd
                  type: single_operation
                  attributes:
                    operation_identifier: UpdateBlockV3
                    request_body:
                      data:
                        id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                        type: block
                        attributes:
                          color: '#123456'
                    parameters:
                      block_id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                    operation_status: complete
                    status_code: 200
                    response_document:
                      data:
                        id: ce23daa7-dc0b-43b3-bdde-81cf64cbe0d0
                        type: block
                        attributes:
                          color: '#123456'
                          description: null
                          start_at: null
                          end_at: null
                          row_index: 1
                          y_scale: 1
                    error: null
                    created_at: '2025-08-12T15:42:01.881-08:00'
                    updated_at: '2025-08-12T15:42:01.881-08:00'
                - id: 1ad01680-28ee-448c-9535-e75b86434dd2
                  type: single_operation
                  attributes:
                    operation_identifier: UpdateBlockV3
                    request_body:
                      data:
                        id: f590f288-eaf8-4746-b418-a04f76d2fe2a
                        type: block
                        attributes:
                          color: a really pretty blue
                    parameters:
                      block_id: f590f288-eaf8-4746-b418-a04f76d2fe2a
                    operation_status: failed
                    status_code: 400
                    response_document: null
                    error: color must be a valid hex code
                    created_at: '2025-08-12T15:42:01.881-08:00'
                    updated_at: '2025-08-12T15:42:01.881-08:00'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
