openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Category Types API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Category Types
paths:
  /loupe/v3/category_types:
    get:
      tags:
      - Category Types
      operationId: ReadCategoryTypesV3
      summary: Get Category Types available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter
        in: query
        description: 'Filters for limiting the results.

          '
        required: true
        schema:
          type: object
          required:
          - workspace_id
          properties:
            only_active:
              description: Don't return Category Types with a non-null deactivated_at.
              type: boolean
            workspace_id:
              description: Only return Category Types for the given workspace.
              type: string
              format: uuid
            id:
              description: A comma separated list of Category Type `id`s to filter by.
              type: array
              items:
                type: string
                format: uuid
        style: deepObject
        explode: true
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - custom_fields
            - default_child_type
        style: form
        explode: false
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of Category Types.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: category_type
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - category_type
                        attributes:
                          type: object
                          required:
                          - created_at
                          - name
                          - supported_paired_type
                          additionalProperties: false
                          properties:
                            name:
                              type: string
                              description: The name that will be displayed in the Opal application UI.
                            description:
                              type:
                              - string
                              - 'null'
                              description: A description of the record.
                            supported_paired_type:
                              type:
                              - string
                              - 'null'
                              default: null
                              enum:
                              - moment
                              - null
                              description: Whether blocks of this type will have resources of the given type paired with them. Moment pairing allows teams to work with the same resources from the Plan (via blocks) or from a Board or Calendar (via Moments). Once set to 'moment', this property cannot be set back to null. Blocks created with a type that supports moment pairing will always have paired moments. Conversely, blocks created with types that do not support moment pairing will not have paired moments (unless moment pairing support is added to the type later).
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO 8601-formatted datetime indicating when the resource was created.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                              readOnly: true
                            deactivated_at:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: An RFC 3339 date-time. If present, indicates the record has been deactivated (but not deleted).
                            has_explicit_custom_field_order:
                              type: boolean
                              default: false
                              description: 'If true, the category type uses its own saved order for `custom_fields`.

                                If false, ordering falls back to the global custom field order (e.g., `custom_fields.created_at`).

                                '
                        relationships:
                          type: object
                          required:
                          - creator
                          - workspace
                          - in_support_of_category_types
                          additionalProperties: false
                          properties:
                            creator:
                              title: User
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                            workspace:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - workspace
                            custom_fields:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                            default_child_type:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - category_type
                            in_support_of_category_types:
                              description: 'A list of category_types that this type is configured to support.

                                '
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: block
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - block
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated block metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_category_type:
                                type:
                                - object
                                - 'null'
                                description: The Block resource's most immediate ancestor's Category Type. See documentation for Category Type for additional details.
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    description: The Category Type's ID
                                  name:
                                    type: string
                                    description: The Category Type's display name
                                  description:
                                    type:
                                    - string
                                    - 'null'
                                    description: Optional additional descriptive text.
                                  deactivated_at:
                                    type:
                                    - string
                                    - 'null'
                                    format: date-time
                                    description: A flag indicating whether the category type is deactivated.
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                              custom_fields:
                                type: array
                                description: "This metadata is available when requesting block resources from the\n`loupe/v3/blocks/{block_id}` `GET` endpoint.\n\nYou request that this metadata be included in responses with the `expose` query \nparameter like: `loupe/v3/blocks/{block_id}?expose[block][meta][custom_fields]`.\n\nEffective custom fields include both **directly assigned** and **inherited** fields from \nthe associated category type. Inherited fields may, or may not, have explicit \n`block_custom_field_value`s.\n\nThe result is a list of effective custom fields for the block. Can be empty or\ncontain multiple instances of any custom field type.\n\nOrdering:\n- Inherited custom fields appear first, ordered by the associated\n  Category Type’s saved custom field order.\n- Directly assigned custom fields (via block_custom_field_values)\n  follow, preserving their relative order as returned by the service.\n"
                                items:
                                  type: object
                                  required:
                                  - id
                                  - display_name
                                  - type
                                  - options
                                  - deactivated_options
                                  - association_type
                                  - data
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                      description: The ID of the custom field.
                                    display_name:
                                      type: string
                                      description: The display name for this custom field.
                                    type:
                                      type: string
                                      enum:
                                      - textarea
                                      - singleSelect
                                      - multiSelect
                                      - date
                                      - url
                                      - usersSelect
                                      description: The type of custom field.
                                    association_type:
                                      type: string
                                      description: Indicates whether the field is `direct` (explicitly assigned to the block) or `inherited` (comes from the category type).
                                      enum:
                                      - direct
                                      - inherited
                                    options:
                                      type: array
                                      description: Active options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    deactivated_options:
                                      type: array
                                      description: Deactivated options for this custom field (for select types). Empty array for non-select types.
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                          display_name:
                                            type: string
                                          position:
                                            type: integer
                                    data:
                                      description: The value for this custom field. Can be null for fields that have no value set.
                                      oneOf:
                                      - title: Field Value
                                        type: object
                                        required:
                                        - id
                                        - value
                                        properties:
                                          id:
                                            type: string
                                            format: uuid
                                            description: The ID of the custom field value.
                                          value:
                                            oneOf:
                                            - title: Textarea Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: The text content.
                                            - title: Multi Select Value
                                              type: object
                                              required:
                                              - ids
                                              properties:
                                                ids:
                                                  type: array
                                                  description: List of selected option IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                            - title: Single Select Value
                                              type: object
                                              required:
                                              - id
                                              properties:
                                                id:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: uuid
                                                  description: The selected option ID.
                                            - title: Date Value
                                              type: object
                                              required:
                                              - value
                                              properties:
                                                value:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  format: date-time
                                                  description: The selected date.
                                            - title: URL Value
                                              type: object
                                              required:
                                              - url
                                              properties:
                                                url:
                                                  type: string
                                                  format: uri
                                                  description: The URL value.
                                                label:
                                                  type:
                                                  - string
                                                  - 'null'
                                                  description: Optional display label for the URL.
                                            - title: Users Select Value
                                              type: object
                                              additionalProperties: false
                                              properties:
                                                user_ids:
                                                  type: array
                                                  description: List of selected user IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                                group_ids:
                                                  type: array
                                                  description: List of selected user group IDs.
                                                  items:
                                                    type: string
                                                    format: uuid
                                      - title: 'Null'
                                        type:
                                        - object
                                        - 'null'
                                        enum:
                                        - null
                          attributes:
                            type: object
                            required:
                            - color
                            - description
                            - duration
                            - title
                            - start_at
                            - row_index
                            - y_scale
                            - browsable
                            - is_template
                            - template_name
                            - template_description
                            - is_workspace_wide_template
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: A color applied to this block. Currently only supports hex values in the format of '#FFF' or '#FFFFFF'.
                              description:
                                type:
                                - string
                                - 'null'
                                description: Text describing the block. Maximum length of 256 characters.
                              title:
                                type: string
                                description: A descriptive name for the block.
                              start_at:
                                type:
                                - string
                                - 'null'
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the beginning of the span of time that this block resource represents.
                              end_at:
                                type:
                                - string
                                - 'null'
                                deprecated: true
                                description: 'DEPRECATED: migrate to `duration`.

                                  An ISO 8601-formatted (''YYYY-MM-DD'') date marking the end of the span of time that this block resource respresents. The start_at value must be a date ocurring before the end_at value.'
                              duration:
                                type:
                                - string
                                - 'null'
                                description: 'An ISO 8601 duration string representing the length of time this block spans.

                                  Permitted formats: P{n}D (days), P{n}W (weeks), P{n}M (months).

                                  When a block has a start_at, the duration is always in days. Week and month

                                  units are only used for unscheduled blocks (start_at is null).

                                  Clients compute end_at as start_at + duration.

                                  '
                              row_index:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A 1-based value indicating its row position relative to other rows of blocks within their bounding parent, a Category.

                                  '
                              y_scale:
                                type: integer
                                deprecated: true
                                description: 'This attribute has been deprecated, and should now be found on the related BlockConnector resource.

                                  A value indicating how tall the block will be relative to the default size.

                                  '
                              browsable:
                                type: boolean
                                description: 'Whether this block shows up in the Plans Directory (and in the

                                  future, other directories).


                                  If false, the block is still accessible in the web application via

                                  any parent plans or connections or even by way of direct link. It

                                  just won''t show up in the Plans Directory.

                                  '
                                default: false
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was created.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                                readOnly: true
                              is_template:
                                type: boolean
                                readOnly: true
                                description: 'Whether this block is a template that can be used to create new blocks.

                                  This field is read-only and cannot be set directly. Templates are created

                                  by duplicating an existing block with `is_template=true` via the block

                                  duplication endpoint.


                                  To remove a block from being a template, use the `delete` endpoint for Blocks.

                                  '
                                default: false
                              is_workspace_wide_template:
                                type: boolean
                                description: 'Whether this template is available workspace-wide. When `true`, the template can be used across all plans in the workspace. When `false`, the template is only available within its origin plan.

                                  This field can only be set when `is_template` is `true`.'
                                default: false
                              template_name:
                                type:
                                - string
                                - 'null'
                                description: Display name for the template. Required when `is_template` is `true`.
                              template_description:
                                type:
                                - string
                                - 'null'
                                description: Optional description of the template's purpose.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - creator
                            - owner
                            - rich_text_document
                            - workspace
                            properties:
                              asset:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                              boards:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board
                              block_connectors:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_connector
                              category:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category
                              category_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              rich_text_document:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - rich_text_document
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              view:
                                deprecated: true
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              child_view:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - view
                              custom_field_values:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_custom_field_value
                              inherited_custom_field_values:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block_custom_field_value
                              paired_moment:
                                allOf:
                                - description: 'Only blocks of a type that supports moment pairing are allowed to

                                    have paired moments. Furthermore, this relationship is only

                                    writable when first creating a block and cannot be changed

                                    thereafter. If a block of a type that supports moment pairing is

                                    created without specifying a paired_moment, a new paired_moment

                                    is created for that block.


                                    **NOTE** that this relationship is currently [PROPOSED], not implemented.

                                    '
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type:
                                      - object
                                      - 'null'
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the User object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: An ID that can be used with `v2` APIs.
                          relationships:
                            type: object
                            required:
                            - profile
                            - workspaces
                            additionalProperties: false
                            properties:
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              workspaces:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workspace
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                      - title: workspace
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - workspace
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the Workspace object
                            properties:
                              user_is_member:
                                type: boolean
                                description: Boolean that represents whether the requesting user is a member of the workspace.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - name
                            - slug
                            - updated_at
                            - start_of_week
                            - timezone
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              name:
                                type: string
                                description: The name of the workspace.
                              slug:
                                type:
                                - string
                                - 'null'
                                description: The slug for the Workspace. This is a url-safe name for the Workspace.
                              start_of_week:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: 'The default start weekday index for the week view Calendar and for Plans. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default.

                                  With regards to the week view Calendar, values greater than 1 will be considered the same as 1.'
                              timezone:
                                type: string
                                description: The IANA time zone identifier for the default time zone used when creating resources in the workspace (e.g. America/New_York).
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - logo
                            - workspace_defaults
                            additionalProperties: false
                            properties:
                              logo:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              workspace_defaults:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace_defaults
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: category_type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - category_type
                          attributes:
                            type: object
                            required:
                            - created_at
                            - name
                            - supported_paired_type
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                                description: The name that will be displayed in the Opal application UI.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A description of the record.
                              supported_paired_type:
                                type:
                                - string
                                - 'null'
                                default: null
                                enum:
                                - moment
                                - null
                                description: Whether blocks of this type will have resources of the given type paired with them. Moment pairing allows teams to work with the same resources from the Plan (via blocks) or from a Board or Calendar (via Moments). Once set to 'moment', this property cannot be set back to null. Blocks created with a type that supports moment pairing will always have paired moments. Conversely, blocks created with types that do not support moment pairing will not have paired moments (unless moment pairing support is added to the type later).
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was created.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                                readOnly: true
                              deactivated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An RFC 3339 date-time. If present, indicates the record has been deactivated (but not deleted).
                              has_explicit_custom_field_order:
                                type: boolean
                                default: false
                                description: 'If true, the category type uses its own saved order for `custom_fields`.

                                  If false, ordering falls back to the global custom field order (e.g., `custom_fields.created_at`).

                                  '
                          relationships:
                            type: object
                            required:
                            - creator
                            - workspace
                            - in_support_of_category_types
                            additionalProperties: false
                            properties:
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              custom_fields:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field
                              default_child_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                              in_support_of_category_types:
                                description: 'A list of category_types that this type is configured to support.

                                  '
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - category_type
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: b69138d6-be91-44f7-b6ef-6e9c5abed51d
                  type: category_type
                  attributes:
                    name: Objective
                    description: null
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                    deactivated_at: null
                    supported_paired_type: null
                  relationships:
                    creator:
                      data:
                        id: c3f80757-c0ea-422c-aa51-3c9ef8e11a76
                        type: user
                    workspace:
                      data:
                        id: 24b4dd04-e56a-4794-95fa-ea0a0709b5a6
                        type: workspace
                    in_support_of_category_types:
                      data:
                      - id: 4a8f289f-8dde-49e2-8da3-845148f0f034
                        type: category_type
                - id: 4a8f289f-8dde-49e2-8da3-845148f0f034
                  type: category_type
                  attributes:
                    name: Audience
                    description: null
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                    deactivated_at: null
                    supported_paired_type: null
                  relationships:
                    creator:
                      data:
                        id: c3f80757-c0ea-422c-aa51-3c9ef8e11a76
                        type: user
                    workspace:
                      data:
                        id: 24b4dd04-e56a-4794-95fa-ea0a0709b5a6
                        type: workspace
                    in_support_of_category_types:
                      data: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    post:
      tags:
      - Category Types
      operationId: CreateCategoryTypeV3
      summary: Create a new Category Type resource
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - custom_fields
            - default_child_type
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - category_type
                    attributes:
                      type: object
                      required:
                      - name
                      properties:
                        name:
                          type: string
                          description: The name that will be displayed in the Opal application UI.
                        description:
                          type:
                          - string
                          - 'null'
                          description: A description of the record.
                        supported_paired_type:
                          type:
                          - string
                          - 'null'
                          default: null
                          enum:
                          - moment
                          - null
                          description: Whether blocks of this type will have resources of the given type paired with them. Moment pairing allows teams to work with the same resources from the Plan (via blocks) or from a Board or Calendar (via Moments). Once set to 'moment', this property cannot be set back to null. Blocks created with a type that supports moment pairing will always have paired moments. Conversely, blocks created with types that do not support moment pairing will not have paired moments (unless moment pairing support is added to the type later).
                        deactivated_at:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: An RFC 3339 date-time. If present, indicates the record has been deactivated (but not deleted).
                        has_explicit_custom_field_order:
                          type:
                          - boolean
                          - 'null'
                          default: false
                          description: 'When true, the type will use its own saved custom field order on creation; when absent or false, ordering follows the global custom field order until changed.

                            '
                    relationships:
                      type: object
                      required:
                      - workspace
                      properties:
                        workspace:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - workspace
                        custom_fields:
                          description: 'The ordered list of custom fields to associate with this

                            Category Type. Array order is significant and will be

                            persisted; responses will return `custom_fields` in this

                            saved order. Provide an empty array to create the Category

                            Type without any associated custom fields.

                            '
                          allOf:
[...]
