openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) View Columns API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: View Columns
paths:
  /loupe/v3/view_columns:
    get:
      tags:
      - View Columns
      operationId: ReadViewColumnsV3
      summary: List all columns for a plan table view
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: view_id
        in: query
        required: true
        description: The ID of the view whose columns to retrieve.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - view_standard_column
            - custom_field
            - custom_field_type
        style: form
        explode: false
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of view column resources.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: view_column
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - view_column
                        attributes:
                          type: object
                          required:
                          - position
                          - created_at
                          - updated_at
                          additionalProperties: false
                          properties:
                            position:
                              type: integer
                              description: Sort order of this column in the table view.
                            created_at:
                              type: string
                              format: date-time
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              readOnly: true
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            view_standard_column:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - view_standard_column
                            custom_field:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field
                            custom_field_type:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type:
                                  - object
                                  - 'null'
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field_type
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: view_standard_column
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - view_standard_column
                          attributes:
                            type: object
                            required:
                            - system_name
                            - display_name
                            - default_position
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_name:
                                type: string
                                description: Internal identifier for the column (e.g. 'name', 'start_date').
                              display_name:
                                type: string
                                description: Human-readable column label shown in the UI.
                              default_position:
                                type: integer
                                description: Default sort order position for this column.
                              created_at:
                                type: string
                                format: date-time
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            properties: {}
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: custom_field_type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_type
                          attributes:
                            type: object
                            required:
                            - system_type
                            - display_name
                            - description
                            - schema
                            - schema_version
                            - datatype
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_type:
                                type: string
                                description: The input type that this custom field represents.
                              display_name:
                                type: string
                                description: The friendly label for this custom field type.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A longer description explaining the use case of this input type.
                              schema:
                                type: object
                                description: "JSON metadata describing among other things the property names, \ndata types, and required fields that are configurable for this given\nCustom Field Type. Here, required fields would indicate properties which\nmust be configured by the admin at the time of Custom Field creation.\n"
                              schema_version:
                                type: integer
                                description: An integer representing the given major version of this Custom Field Type's schema.
                              datatype:
                                type: string
                                description: The underlying primitive datatype (e.g., String, or Date).
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  type: view_column
                  attributes:
                    position: 0
                    created_at: '2025-01-01T00:00:00.000Z'
                    updated_at: '2025-01-01T00:00:00.000Z'
                  relationships:
                    view_standard_column:
                      data:
                        id: f1e2d3c4-b5a6-7890-abcd-ef1234567890
                        type: view_standard_column
                    custom_field:
                      data: null
                    custom_field_type:
                      data: null
                - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                  type: view_column
                  attributes:
                    position: 7
                    created_at: '2025-01-02T00:00:00.000Z'
                    updated_at: '2025-01-02T00:00:00.000Z'
                  relationships:
                    view_standard_column:
                      data: null
                    custom_field:
                      data:
                        id: c3d4e5f6-a7b8-9012-cdef-123456789012
                        type: custom_field
                    custom_field_type:
                      data:
                        id: d4e5f6a7-b8c9-0123-defa-234567890123
                        type: custom_field_type
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    post:
      tags:
      - View Columns
      operationId: CreateViewColumnV3
      summary: Enable a column on a plan table view (standard or custom field)
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - view_standard_column
            - custom_field
            - custom_field_type
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - view_column
                    relationships:
                      type: object
                      required:
                      - view
                      description: 'The `view` relationship is required. Exactly one of `view_standard_column` or `custom_field` must also be present (the row is either a standard column or a custom-field column on that view).

                        '
                      properties:
                        view:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - view
                        view_standard_column:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - view_standard_column
                        custom_field:
                          type: object
                          properties:
                            data:
                              type: object
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - custom_field
      responses:
        '201':
          description: A newly created view column resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: view_column
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - view_column
                      attributes:
                        type: object
                        required:
                        - position
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          position:
                            type: integer
                            description: Sort order of this column in the table view.
                          created_at:
                            type: string
                            format: date-time
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          view_standard_column:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view_standard_column
                          custom_field:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field
                          custom_field_type:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field_type
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: view_standard_column
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - view_standard_column
                          attributes:
                            type: object
                            required:
                            - system_name
                            - display_name
                            - default_position
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_name:
                                type: string
                                description: Internal identifier for the column (e.g. 'name', 'start_date').
                              display_name:
                                type: string
                                description: Human-readable column label shown in the UI.
                              default_position:
                                type: integer
                                description: Default sort order position for this column.
                              created_at:
                                type: string
                                format: date-time
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            properties: {}
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: custom_field_type
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field_type
                          attributes:
                            type: object
                            required:
                            - system_type
                            - display_name
                            - description
                            - schema
                            - schema_version
                            - datatype
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_type:
                                type: string
                                description: The input type that this custom field represents.
                              display_name:
                                type: string
                                description: The friendly label for this custom field type.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A longer description explaining the use case of this input type.
                              schema:
                                type: object
                                description: "JSON metadata describing among other things the property names, \ndata types, and required fields that are configurable for this given\nCustom Field Type. Here, required fields would indicate properties which\nmust be configured by the admin at the time of Custom Field creation.\n"
                              schema_version:
                                type: integer
                                description: An integer representing the given major version of this Custom Field Type's schema.
                              datatype:
                                type: string
                                description: The underlying primitive datatype (e.g., String, or Date).
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
              example:
                data:
                  id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                  type: view_column
                  attributes:
                    position: 0
                    created_at: '2025-01-01T00:00:00.000Z'
                    updated_at: '2025-01-01T00:00:00.000Z'
                  relationships:
                    view_standard_column:
                      data:
                        id: f1e2d3c4-b5a6-7890-abcd-ef1234567890
                        type: view_standard_column
                    custom_field:
                      data: null
                    custom_field_type:
                      data: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/view_columns/{view_column_id}:
    patch:
      tags:
      - View Columns
      operationId: UpdateViewColumnV3
      summary: Reorder a view column (update its position)
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: view_column_id
        in: path
        required: true
        description: The ID of the view column.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - view_standard_column
            - custom_field
            - custom_field_type
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - id
                  properties:
                    type:
                      type: string
                      enum:
                      - view_column
                    id:
                      type: string
                      format: uuid
                    attributes:
                      type: object
                      additionalProperties: false
                      properties:
                        position:
                          type: integer
                          minimum: 0
                          description: New sort position for this column.
      responses:
        '200':
          description: An updated view column resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: view_column
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - view_column
                      attributes:
                        type: object
                        required:
                        - position
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          position:
                            type: integer
                            description: Sort order of this column in the table view.
                          created_at:
                            type: string
                            format: date-time
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          view_standard_column:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view_standard_column
                          custom_field:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field
                          custom_field_type:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type:
                                - object
                                - 'null'
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field_type
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: view_standard_column
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - view_standard_column
                          attributes:
                            type: object
                            required:
                            - system_name
                            - display_name
                            - default_position
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              system_name:
                                type: string
                                description: Internal identifier for the column (e.g. 'name', 'start_date').
                              display_name:
                                type: string
                                description: Human-readable column label shown in the UI.
                              default_position:
                                type: integer
                                description: Default sort order position for this column.
                              created_at:
                                type: string
                                format: date-time
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            properties: {}
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
[...]
