openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Gem Files API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Gem Files
paths:
  /v3/gem_files:
    post:
      tags:
      - Gem Files
      operationId: CreateGemFileV3
      summary: '[PROPOSED] Create a new gem_file'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - in: header
        name: X-File-Name
        schema:
          type: string
        required: true
        description: This header must contain the desired filename including file extension.
      - in: header
        name: X-File-Size
        schema:
          type: string
          format: integer
        required: true
        description: The binary size of the file sent in the request body.
      - in: header
        name: X-Mime-Type
        schema:
          type: string
        required: true
        description: The MIME type of the file.
      - in: header
        name: X-Workspace-Id
        schema:
          type: string
          format: uuid
        required: true
        description: The ID of the workspace to create the file in.
      requestBody:
        description: The request body should be the file binary itself passed as an application/octet-stream.
        content:
          application/octet-stream:
            x-not-json-api: true
            schema:
              type: string
              format: binary
      responses:
        '201':
          description: A newly created gem_file resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: gem_file
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - gem_file
                      attributes:
                        type: object
                        required:
                        - filename
                        - filesize
                        - mime_type
                        - created_at
                        additionalProperties: false
                        properties:
                          file_identifier:
                            type:
                            - string
                            - 'null'
                            description: External storage identifier, by which the file can be referenced within a gem conversation. Present only for uploaded files; files generated during a conversation are stored by Opal and have none.
                            readOnly: true
                          filename:
                            type: string
                            description: The name of the file.
                          filesize:
                            type: integer
                            description: The binary size of the file.
                          mime_type:
                            type: string
                            description: The MIME type of the file.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - creator
                        - workspace
                        additionalProperties: false
                        properties:
                          creator:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          workspace:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - workspace
              example:
                data:
                  id: bb924ab3-6536-413e-95dc-fd93e5a570f0
                  type: gem_file
                  attributes:
                    file_identifier: file_011CNha8iCJcU1wXNR6q4V8w
                    filename: example.pdf
                    filesize: 8192000
                    mime_type: application/pfg
                    created_at: '2026-05-28T10:43:01.881-08:00'
                  relationships:
                    creator:
                      data:
                        id: ada0d59f-9f8c-4df3-ae9c-d6997ab48645
                        type: user
                    workspace:
                      data:
                        id: a897cb4c-12d3-446f-9621-ff388650d43a
                        type: workspace
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /v3/gem_files/{id}/download:
    get:
      tags:
      - Gem Files
      operationId: DownloadGemFileV3
      summary: '[PROPOSED] Download a generated gem_file'
      description: Streams the file's bytes as an attachment. Only files generated during a conversation are downloadable.
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the gem_file.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The file's bytes. `Content-Type` was determined by Gem at the time of creation.
          content:
            application/octet-stream:
              x-not-json-api: true
              schema:
                type: string
                format: binary
              example: (binary file contents)
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
