openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Reactions API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Reactions
paths:
  /reactions/v2:
    post:
      tags:
      - Reactions
      operationId: CreateReactionV2
      summary: Create an emoji reaction on a given activity
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - reaction
                    attributes:
                      type:
                      - object
                      - 'null'
                    relationships:
                      type: object
                      required:
                      - activity
                      - user
                      - reaction_type
                      properties:
                        activity:
                          description: The activity to add the reaction to.
                          type: object
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - activity
                                id:
                                  type: string
                        user:
                          description: The user adding a reaction emoji to the activity.
                          type: object
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - user
                                id:
                                  type: string
                        reaction_type:
                          description: The emoji being added to the activity.
                          type: object
                          required:
                          - data
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              properties:
                                type:
                                  type: string
                                  enum:
                                  - reaction_type
                                id:
                                  type: string
            example:
              data:
                type: reaction
                attributes: {}
                relationships:
                  activity:
                    data:
                      id: '8'
                      type: activity
                  user:
                    data:
                      id: '1'
                      type: user
                  reaction_type:
                    data:
                      id: '4'
                      type: reaction_type
      responses:
        '200':
          description: Reaction sucessfully created
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: reaction
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - reaction
                      attributes:
                        type: object
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time indicating when the reaction was created.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          user:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - user
                          activity:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - activity
                          reaction_type:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - reaction_type
              example:
                data:
                  id: '6'
                  type: reaction
                  attributes:
                    created_at: '2020-04-20T15:27:01.881-08:00'
                  relationships:
                    user:
                      data:
                        id: '29'
                        type: user
                    activity:
                      data:
                        id: '29'
                        type: activity
                    reaction_type:
                      data:
                        id: '6'
                        type: reaction_type
        '404':
          description: Content not found.
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /reactions/v2/{id}:
    delete:
      tags:
      - Reactions
      operationId: DeleteReactionV2
      summary: Delete an emoji reaction
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the reaction to destroy
        schema:
          type: string
      responses:
        '204':
          description: Reaction successfully removed from activity
        '404':
          description: Reaction not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /reactions/v2/reaction_types:
    get:
      tags:
      - Reactions
      operationId: ReadReactionTypesV2
      summary: Returns a list of possible reaction types
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      responses:
        '200':
          description: An array of reaction types
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: reaction type
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - reaction_type
                        attributes:
                          type: object
                          required:
                          - display_name
                          - system_name
                          - emoji
                          additionalProperties: false
                          properties:
                            display_name:
                              type: string
                              description: The display name.
                            system_name:
                              type: string
                              description: The system name.
                            emoji:
                              type: string
                              description: The UTF-8 encoded emoji.
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    properties:
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '2'
                  type: reaction_type
                  attributes:
                    display_name: Smiling
                    system_name: smiling
                    emoji: 😊
                - id: '3'
                  type: reaction_type
                  attributes:
                    display_name: Frowning
                    system_name: frowning
                    emoji: ☹️
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
