openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Board User Settings API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Board User Settings
paths:
  /boards/v3/{board_id}/user_setting:
    get:
      tags:
      - Board User Settings
      operationId: ReadBoardUserSettingV3
      summary: '[UNSTABLE] Get the user’s settings for a given Board'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: board_id
        in: path
        required: true
        description: The ID of the Board.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - user
        style: form
        explode: false
      responses:
        '200':
          description: The user settings for the given Board
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: board_user_setting
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - board_user_setting
                      attributes:
                        type: object
                        required:
                        - is_starred
                        - is_subscribed
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          is_starred:
                            type: boolean
                            description: 'Indicates whether the current user has ''starred'' the board for

                              more convenient access.

                              '
                          is_subscribed:
                            type: boolean
                            description: 'Indicates whether the current user has subscribed to receive

                              notifications for this board.

                              '
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - board
                        - user
                        properties:
                          board:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - board
                          user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: board
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board
                          attributes:
                            type: object
                            required:
                            - created_at
                            - description
                            - is_public
                            - is_archived
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                                description: A description of the board.
                              is_public:
                                type: boolean
                                description: 'Indicates whether or not a board and all of its contents are visible

                                  to users in the workspace. Unless otherwise specified, this value is

                                  `false` by default. Boards are always visible to the user that created

                                  them.

                                  '
                              is_archived:
                                type: boolean
                                description: 'Indicates whether or not a board has been archived. If set to

                                  `true`, the UI will only display the board in the ‘Archived

                                  Boards’ view. If set to `false` (the default), the board may be

                                  displayed in other views, depending on the user’s filter

                                  settings.

                                  '
                              title:
                                type: string
                                description: The name of the board.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - created_by_user
                            - workspace
                            properties:
                              asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              board_collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_collaborator
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              object_collections:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object_collection
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_columns:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_column
                              board_user_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - board_user_setting
                              default_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the User object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: An ID that can be used with `v2` APIs.
                          relationships:
                            type: object
                            required:
                            - profile
                            - workspaces
                            additionalProperties: false
                            properties:
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              workspaces:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workspace
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
              example:
                data:
                  id: b1127f87-7ecf-444e-8e0c-06eb752ff66b
                  type: board_user_setting
                  attributes:
                    is_starred: true
                    is_subscribed: false
                    created_at: '2024-06-24T09:33:01.881-07:00'
                    updated_at: '2024-06-24T09:33:01.881-07:00'
                  relationships:
                    board:
                      data:
                        id: d19806fe-55b3-4682-9d67-07343fea3975
                        type: board
                    user:
                      data:
                        id: e0b0028d-e4ee-438d-800f-31f8d4048293
                        type: user
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    patch:
      tags:
      - Board User Settings
      operationId: UpdateBoardUserSettingV3
      summary: '[UNSTABLE] Update the user’s settings for a given Board'
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: board_id
        in: path
        required: true
        description: The ID of the Board.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - user
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: 'This MUST be a UUID, and MAY be the id taken from the resource’s GET

                        request or the id provided in the board_user_setting relationship on

                        another resource. If an API consumer doesn’t already have the

                        appropriate UUID the consumer SHOULD use the nil UUID

                        (`00000000-0000-0000-0000-000000000000`).


                        This is only included for JSON:API compliance; a Board-User pair has

                        exactly one setting record, so the server doesn’t need an id to find

                        the correct record.

                        '
                    type:
                      type: string
                      enum:
                      - board_user_setting
                    attributes:
                      type: object
                      properties:
                        is_starred:
                          type: boolean
                          description: 'Indicates whether the current user has ''starred'' the board to find

                            it more easily. If set to `true` the UI will have the same

                            visibility as a non-starred board, but will also appear in the

                            ''Starred'' view if visible to the current user.

                            '
                        is_subscribed:
                          type: boolean
                          description: 'Indicates whether the current user has subscribed to receive

                            notifications for this board.

                            '
      responses:
        '200':
          description: The updated user settings for the given board
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: board_user_setting
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - board_user_setting
                      attributes:
                        type: object
                        required:
                        - is_starred
                        - is_subscribed
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          is_starred:
                            type: boolean
                            description: 'Indicates whether the current user has ''starred'' the board for

                              more convenient access.

                              '
                          is_subscribed:
                            type: boolean
                            description: 'Indicates whether the current user has subscribed to receive

                              notifications for this board.

                              '
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - board
                        - user
                        properties:
                          board:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - board
                          user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: board
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - board
                          attributes:
                            type: object
                            required:
                            - created_at
                            - description
                            - is_public
                            - is_archived
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              description:
                                type:
                                - string
                                - 'null'
                                description: A description of the board.
                              is_public:
                                type: boolean
                                description: 'Indicates whether or not a board and all of its contents are visible

                                  to users in the workspace. Unless otherwise specified, this value is

                                  `false` by default. Boards are always visible to the user that created

                                  them.

                                  '
                              is_archived:
                                type: boolean
                                description: 'Indicates whether or not a board has been archived. If set to

                                  `true`, the UI will only display the board in the ‘Archived

                                  Boards’ view. If set to `false` (the default), the board may be

                                  displayed in other views, depending on the user’s filter

                                  settings.

                                  '
                              title:
                                type: string
                                description: The name of the board.
                              updated_at:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - created_by_user
                            - workspace
                            properties:
                              asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              board_collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_collaborator
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              collaborators:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              created_by_user:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              object_collections:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object_collection
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_columns:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_column
                              board_user_setting:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - board_user_setting
                              default_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                      - title: user
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - user
                          meta:
                            type:
                            - object
                            - 'null'
                            description: Metadata around the User object
                            properties:
                              workspace_approval_counts:
                                type: object
                                description: Object representing the user's unseen approval counts per Workspace Id.
                          attributes:
                            type: object
                            required:
                            - created_at
                            - email
                            - first_name
                            - full_name
                            - is_active
                            - last_name
                            - title
                            - transliterated_full_name
                            - updated_at
                            - legacy_id
                            additionalProperties: false
                            properties:
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              email:
                                type: string
                              first_name:
                                type: string
                              full_name:
                                type: string
                              is_active:
                                type:
                                - boolean
                                - 'null'
                              last_name:
                                type: string
                              role_name:
                                type: string
                              title:
                                type:
                                - string
                                - 'null'
                              transliterated_full_name:
                                type: string
                              feature_flags:
                                type: object
                                additionalProperties:
                                  type: boolean
                                  description: 'A named feature flag and `true` or `false` depending on whether the feature is enabled for the user or not.

                                    '
                                description: 'List of Feature Flags for this user, only available for the currently authenticated User.

                                  '
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time indicating when the user was last updated.
                                readOnly: true
                              legacy_id:
                                type: string
                                description: An ID that can be used with `v2` APIs.
                          relationships:
                            type: object
                            required:
                            - profile
                            - workspaces
                            additionalProperties: false
                            properties:
                              profile:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user_profile
                              workspaces:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - workspace
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
              example:
                data:
                  id: b1127f87-7ecf-444e-8e0c-06eb752ff66b
                  type: board_user_setting
                  attributes:
                    is_starred: true
                    is_subscribed: false
                    created_at: '2024-06-24T09:33:01.881-07:00'
                    updated_at: '2024-06-24T09:33:01.881-07:00'
                  relationships:
                    board:
                      data:
                        id: d19806fe-55b3-4682-9d67-07343fea3975
                        type: board
                    user:
                      data:
                        id: e0b0028d-e4ee-438d-800f-31f8d4048293
                        type: user
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
