openapi: 3.2.0
info:
  version: 2.0.0
  title: Opal Labels API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Labels
  description: '## Labels Overview

    In Opal, Labels are a useful way of categorizing resources to be filtered or grouped.'
paths:
  /labels/v2:
    get:
      tags:
      - Labels
      operationId: ReadLabelsV2
      summary: Find labels for a Workspace
      description: 'Note that this endpoint supports both a deprecated and new representation of pagination in the query parameters of requests.


        Going forward, you should use the `page[offset]` and `page[limit]` query parameters to indicate what "page" of results you would like.'
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: brand_id
        in: query
        required: true
        description: The ID of the workspace/brand.
        schema:
          type: string
      - name: label_set_id
        in: query
        required: false
        description: Filter labels by label set ID.
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: 'Request a particular page using `offset` and `limit`. When not specified, the `offset` defaults to 0 and the `limit` defaults to 150.


          **Deprecated** usage (as a string value):

          The page number being requested. This should should be used in conjunction with per_page.

          For example, if there are 50 records, a user can request all of them in two requests by requesting `?page=1&per_page=25` and `?page=2&per_page=25`.

          '
        schema:
          oneOf:
          - type: string
            title: page number (deprecated)
          - type: object
            title: offset & limit
            properties:
              offset:
                type: integer
                minimum: 0
              limit:
                type: integer
                minimum: 0
                maximum: 800
        style: deepObject
        explode: true
      - name: per_page
        in: query
        required: false
        deprecated: true
        description: The number of results being requested per page.
        schema:
          type: string
      - name: include
        in: query
        required: false
        description: A comma separated list of related objects to include
        schema:
          type: array
          items:
            type: string
            enum:
            - label_set
        style: form
        explode: false
      responses:
        '200':
          description: A collection of labels.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      title: label
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]+$
                        type:
                          type: string
                          enum:
                          - label
                        attributes:
                          type: object
                          required:
                          - name
                          - color
                          - is_active
                          - uuid
                          additionalProperties: false
                          properties:
                            name:
                              type: string
                              description: The label's name. This value must be unique within the label's label set.
                            uuid:
                              type: string
                              format: uuid
                              description: A unique identifier for the label.
                            color:
                              type: string
                              description: The label's color. A hex color code without the '#' prefix. The color is settable on any non-shared label set, but today it is only rendered by the Opal platform when the label belongs to the workspace's primary label set. Broader rendering across non-primary label sets is upcoming.
                            is_active:
                              type: boolean
                              description: Enable or disable this label. Note that this is different than deleting and it is probably generally advisable to set is_active to false rather than deleting a label because deactivating can be undone via the API.
                            position:
                              type: integer
                              description: By default, the label position is not used and labels are sorted by creation date from oldest to newest. By request, Opal employees can set the sort order of labels within any label set to be `manual` which causes the labels to be sorted by their `position` instead.
                        relationships:
                          type: object
                          additionalProperties: false
                          properties:
                            label_set:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - label_set
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: label_set
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - label_set
                          attributes:
                            type: object
                            required:
                            - name
                            - label_sort_method
                            - is_active
                            - is_shared
                            - uuid
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                              uuid:
                                type: string
                                format: uuid
                                description: A unique identifier for the label set.
                              is_active:
                                type: boolean
                                description: 'Determines whether the label set will be available to use in the Opal platform. Note that inactive label sets are only even exposed via API when specifically filtered for.

                                  '
                              is_shared:
                                type: boolean
                                description: 'True when the label set is shared across workspaces.

                                  '
                              label_sort_method:
                                type: string
                                default: oldest_first
                                enum:
                                - alphabetical
                                - newest_first
                                - oldest_first
                                - manual
                          relationships:
                            type: object
                            required:
                            - labels
                            - paired_custom_field
                            - parent_label
                            additionalProperties: false
                            properties:
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              paired_custom_field:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                              parent_label:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: '593363174'
                  type: label
                  attributes:
                    uuid: dc68d20c-3dd9-48f0-a8c5-8dd7b170ba99
                    id: 593363174
                    is_active: true
                    name: Rock
                    color: b2cb19
                  relationships:
                    label_set:
                      data:
                        id: '593363174'
                        type: label_set
                meta:
                  total: 1
                  resource_type: label
                  page:
                    offset: 0
                    limit: 100
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    post:
      tags:
      - Labels
      operationId: CreateLabelV2
      summary: Create a new label
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - label
                    attributes:
                      type: object
                      required:
                      - name
                      properties:
                        name:
                          type: string
                          description: The label's name. This value must be unique within the label's label set.
                          minLength: 1
                          maxLength: 50
                        color:
                          type: string
                          description: The label's color. A hex color code without the '#' prefix. This color is only used by the Opal platform if the label is in its workspace's primary label set. If you omit a color when creating a label in the primary label set, a color will be selected by Opal.
                        position:
                          type: integer
                          description: By default, the label position is not used and labels are sorted by creation date from oldest to newest. By request, Opal employees can set the sort order of labels within any label set to be `manual` which causes the labels to be sorted by their `position` instead.
                    relationships:
                      type: object
                      required:
                      - label_set
                      properties:
                        label_set:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - label_set
      responses:
        '201':
          description: A newly created label resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: label
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - label
                      attributes:
                        type: object
                        required:
                        - name
                        - color
                        - is_active
                        - uuid
                        additionalProperties: false
                        properties:
                          name:
                            type: string
                            description: The label's name. This value must be unique within the label's label set.
                          uuid:
                            type: string
                            format: uuid
                            description: A unique identifier for the label.
                          color:
                            type: string
                            description: The label's color. A hex color code without the '#' prefix. The color is settable on any non-shared label set, but today it is only rendered by the Opal platform when the label belongs to the workspace's primary label set. Broader rendering across non-primary label sets is upcoming.
                          is_active:
                            type: boolean
                            description: Enable or disable this label. Note that this is different than deleting and it is probably generally advisable to set is_active to false rather than deleting a label because deactivating can be undone via the API.
                          position:
                            type: integer
                            description: By default, the label position is not used and labels are sorted by creation date from oldest to newest. By request, Opal employees can set the sort order of labels within any label set to be `manual` which causes the labels to be sorted by their `position` instead.
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          label_set:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - label_set
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: label_set
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - label_set
                          attributes:
                            type: object
                            required:
                            - name
                            - label_sort_method
                            - is_active
                            - is_shared
                            - uuid
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                              uuid:
                                type: string
                                format: uuid
                                description: A unique identifier for the label set.
                              is_active:
                                type: boolean
                                description: 'Determines whether the label set will be available to use in the Opal platform. Note that inactive label sets are only even exposed via API when specifically filtered for.

                                  '
                              is_shared:
                                type: boolean
                                description: 'True when the label set is shared across workspaces.

                                  '
                              label_sort_method:
                                type: string
                                default: oldest_first
                                enum:
                                - alphabetical
                                - newest_first
                                - oldest_first
                                - manual
                          relationships:
                            type: object
                            required:
                            - labels
                            - paired_custom_field
                            - parent_label
                            additionalProperties: false
                            properties:
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              paired_custom_field:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                              parent_label:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
  /labels/v2/{label_id}:
    patch:
      tags:
      - Labels
      operationId: UpdateLabelV2
      summary: Update a label
      description: This action can only be performed by admin users.
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: label_id
        in: path
        required: true
        description: The ID of the label.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  - relationships
                  properties:
                    id:
                      type: string
                      pattern: ^[0-9]+$
                    type:
                      type: string
                      enum:
                      - label
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          description: The label's name. This value must be unique within the label's label set.
                          minLength: 1
                          maxLength: 50
                        color:
                          type: string
                          description: The label's color. A hex color code without the '#' prefix. This color is only used by the Opal platform if the label is in its workspace's primary label set.
                        is_active:
                          type: boolean
                          description: Enable or disable this label. Note that this is different than deleting and it is probably generally advisable to set is_active to false rather than deleting a label because deactivating can be undone via the API.
                        position:
                          type: integer
                          description: By default, the label position is not used and labels are sorted by creation date from oldest to newest. By request, Opal employees can set the sort order of labels within any label set to be `manual` which causes the labels to be sorted by their `position` instead.
                    relationships:
                      type: object
                      required:
                      - label_set
                      properties:
                        label_set:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - label_set
      responses:
        '201':
          description: A newly created label resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: label
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]+$
                      type:
                        type: string
                        enum:
                        - label
                      attributes:
                        type: object
                        required:
                        - name
                        - color
                        - is_active
                        - uuid
                        additionalProperties: false
                        properties:
                          name:
                            type: string
                            description: The label's name. This value must be unique within the label's label set.
                          uuid:
                            type: string
                            format: uuid
                            description: A unique identifier for the label.
                          color:
                            type: string
                            description: The label's color. A hex color code without the '#' prefix. The color is settable on any non-shared label set, but today it is only rendered by the Opal platform when the label belongs to the workspace's primary label set. Broader rendering across non-primary label sets is upcoming.
                          is_active:
                            type: boolean
                            description: Enable or disable this label. Note that this is different than deleting and it is probably generally advisable to set is_active to false rather than deleting a label because deactivating can be undone via the API.
                          position:
                            type: integer
                            description: By default, the label position is not used and labels are sorted by creation date from oldest to newest. By request, Opal employees can set the sort order of labels within any label set to be `manual` which causes the labels to be sorted by their `position` instead.
                      relationships:
                        type: object
                        additionalProperties: false
                        properties:
                          label_set:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - label_set
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: label_set
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            pattern: ^[0-9]+$
                          type:
                            type: string
                            enum:
                            - label_set
                          attributes:
                            type: object
                            required:
                            - name
                            - label_sort_method
                            - is_active
                            - is_shared
                            - uuid
                            additionalProperties: false
                            properties:
                              name:
                                type: string
                              uuid:
                                type: string
                                format: uuid
                                description: A unique identifier for the label set.
                              is_active:
                                type: boolean
                                description: 'Determines whether the label set will be available to use in the Opal platform. Note that inactive label sets are only even exposed via API when specifically filtered for.

                                  '
                              is_shared:
                                type: boolean
                                description: 'True when the label set is shared across workspaces.

                                  '
                              label_sort_method:
                                type: string
                                default: oldest_first
                                enum:
                                - alphabetical
                                - newest_first
                                - oldest_first
                                - manual
                          relationships:
                            type: object
                            required:
                            - labels
                            - paired_custom_field
                            - parent_label
                            additionalProperties: false
                            properties:
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              paired_custom_field:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field
                              parent_label:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - label
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
    delete:
      tags:
      - Labels
      operationId: DeleteLabelV2
      summary: Delete a label
      description: This action can only be performed by an admin user, and cannot be undone via the API. It is generally preferable to deactivate a label by sending a `PATCH` request that sets the label's `is_active` field to `false`.
      security:
      - oauth2:
        - offline_access
      - api_key:
        - Session-Token
      parameters:
      - name: label_id
        in: path
        required: true
        description: The ID of the label.
        schema:
          type: string
      responses:
        '204':
          description: The label was successfully deleted.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        title:
                          type: string
                        detail:
                          type: string
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: This API uses OAuth 2.0 with the authorization code grant flow. You can find more detailed authentication instructions in the [Authentication Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0) section.
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    api_key:
      type: apiKey
      description: (Deprecated) This API also supports authentication via an API or session token set in the request headers.
      in: header
      name: Session-Token
x-tagGroups:
- name: JSON:API
  tags:
  - Accounts
  - Activities
  - Annotations
  - Asset Reference Options
  - Asset Reference Usage Rights Options
  - Asset References
  - Assets
  - Brand Settings
  - Brands
  - Checkpoints
  - Content
  - Delivery Records
  - Label Sets
  - Labels
  - Messages
  - Moments
  - Phase Items
  - Placements
  - Post Types
  - Privacy
  - Reactions
  - Rich Texts
  - Services
  - Stamps
  - Stories
  - Url Uploads
  - User Domain Views
  - Users
  - Workflows
- name: Other
  tags:
  - Budgets
  - URL Previews
  - Search
  - Stories V1
- name: ⚠️  Unstable
  tags: []
- name: Additional Resources
  tags:
  - secondary_resources
