openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Moment Custom Fields API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Moment Custom Fields
paths:
  /moments/v3/{moment_id}/moment_custom_fields:
    get:
      tags:
      - Moment Custom Fields
      operationId: ReadMomentCustomFieldsV3
      summary: Get Moment Custom Fields available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: moment_id
        in: path
        required: true
        description: The ID of the Moment.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - custom_field
            - moment
        style: form
        explode: false
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of Moment Custom Fields.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: moment_custom_field
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - moment_custom_field
                        attributes:
                          type: object
                          additionalProperties: false
                          properties:
                            text_value:
                              type:
                              - string
                              - 'null'
                              description: 'The value for a Custom Field on a Moment if it''s a String custom field datatype.

                                '
                            date_value:
                              type:
                              - string
                              - 'null'
                              format: date-time
                              description: 'An RFC 3339 date-time for a custom field on a moment using the ‘Date’

                                datatype.

                                '
                            hash_value:
                              type:
                              - object
                              - 'null'
                              description: 'The value for a Custom Field on a Moment if it''s a value which can be

                                represented as a JSON object of the following known types.

                                '
                              oneOf:
                              - enum:
                                - null
                              - type: object
                                title: Single Select Value (V1)
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    description: The ID of the single select option.
                              - type: object
                                title: Multiple Select Options (V1)
                                additionalProperties: false
                                properties:
                                  ids:
                                    type: array
                                    items:
                                      type: string
                                      format: uuid
                                      description: 'List of IDs for multi-select options that are chosen/enabled for the given Custom Field.

                                        '
                              - type: object
                                title: Users Select Value (V1)
                                additionalProperties: false
                                properties:
                                  user_ids:
                                    type: array
                                    items:
                                      type: string
                                      format: uuid
                                    description: 'List of user UUIDs that are selected for the users select custom field.

                                      '
                                  group_ids:
                                    type: array
                                    items:
                                      type: string
                                      format: uuid
                                    description: 'List of user group UUIDs that are selected for the users select custom field.

                                      '
                              - type: object
                                title: URL Value (V1)
                                additionalProperties: false
                                properties:
                                  url:
                                    type: string
                                    description: The HTTP address for the web resource.
                                  label:
                                    type:
                                    - string
                                    - 'null'
                                    description: The friendly display value.
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's creation date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's most recent updated date-time.
                              readOnly: true
                        relationships:
                          type: object
                          required:
                          - custom_field
                          - moment
                          additionalProperties: false
                          properties:
                            custom_field:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - custom_field
                            moment:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - moment
                            users:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                            groups:
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user_group
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: moment
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            description: The moment's UUID. See the `legacy_id` attribute for a `v2`-api compatible ID.
                          type:
                            type: string
                            enum:
                            - moment
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated moment metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              is_stamp_template:
                                type: boolean
                                description: 'Indicates whether a `moment` can be used as a stamp. Stamps serve as templates for new `moment`s, inheriting notes, content, and labels from the stamped moment template.

                                  For additional notes on creating, managing, retrieving, and using stamps, see the [Stamps Overview](v2#tag/Stamps/Stamps-Overview).

                                  '
                              access:
                                type: object
                                deprecated: true
                                description: 'This metadata has moved to the document meta (where it is found on API responses for other resources as well)

                                  '
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                          attributes:
                            type: object
                            required:
                            - legacy_id
                            - color
                            - content_count
                            - created_at
                            - is_ghost
                            - title
                            - updated_at
                            additionalProperties: false
                            properties:
                              legacy_id:
                                type: string
                                description: A legacy ID that can be used with `v2` API endpoints.
                              color:
                                type:
                                - string
                                - 'null'
                                description: Color used to visually identify a moment.
                              content_count:
                                type: integer
                                description: Number of content belonging to the given moment.
                                readOnly: true
                              is_ghost:
                                type: boolean
                                description: Indicates whether the moment is redacted for the requesting user.
                                readOnly: true
                              title:
                                type: string
                                description: The name of the moment.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - owner
                            - workspace
                            properties:
                              asset_references:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              board_objects:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - board_object
                              labels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - label
                              note:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - note
                              contents:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - content
                              primary_asset_reference:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                              primary_story:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - story
                              privacy_group:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - privacy_group
                              channels:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - channel
                              stories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - story
                              schedules:
                                description: One or more schedules (currently only 1 schedule per moment is supported).
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment_schedule
                              workflow:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workflow
                              planning_status:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - planning_status
                              moment_assignees:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment_assignee
                              assignees:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - user
                              moment_custom_fields:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - moment_custom_field
                              paired_block:
                                allOf:
                                - description: 'Writing this relationship is only allowed for internal Opal

                                    clients. External clients should pair a moment and a newly

                                    created block using the block''s `POST` endpoint.


                                    Only blocks of a type that supports moment pairing are allowed to

                                    be paired with moments. Furthermore, this relationship is only

                                    writable when patching a moment.

                                    '
                                - type: object
                                  required:
                                  - data
                                  additionalProperties: false
                                  properties:
                                    data:
                                      type:
                                      - object
                                      - 'null'
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: 383f568a-5156-4501-8fbe-eee1ab189837
                  type: moment_custom_field
                  attributes:
                    text_value: foo
                    date_value: null
                    hash_value: null
                    created_at: '2023-01-01T12:00:00.000-08:00'
                    updated_at: '2023-12-31T15:27:01.881-08:00'
                  relationships:
                    moment:
                      data:
                        id: 539e8ccf-3fff-4308-af34-71eea2fe8c0d
                        type: moment
                    custom_field:
                      data:
                        id: 06d987ef-b4b7-4ad7-a979-16a447a0621d
                        type: custom_field
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    post:
      tags:
      - Moment Custom Fields
      operationId: CreateMomentCustomFieldV3
      x-Operation-ID: CreateMomentCustomFieldV3
      summary: Create a new Moment Custom Field
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: moment_id
        in: path
        required: true
        description: The ID of the Moment.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - custom_field
            - moment
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - moment_custom_field
                    attributes:
                      type: object
                      properties:
                        text_value:
                          type:
                          - string
                          - 'null'
                          description: 'The value for a Custom Field on a Moment if it''s a String custom field datatype.

                            '
                        date_value:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          description: 'An RFC 3339 date-time for a custom field on a moment using the

                            ‘Date’ datatype.

                            '
                        hash_value:
                          type:
                          - object
                          - 'null'
                          description: 'The value for a Custom Field on a Moment if it''s a value which can be

                            represented as a JSON object of the following known types.

                            '
                          oneOf:
                          - enum:
                            - null
                          - type: object
                            title: Single Select Option (V1)
                            additionalProperties: false
                            required:
                            - id
                            properties:
                              id:
                                type: string
                                description: The ID of the single select option.
                          - type: object
                            title: URL Value (V1)
                            additionalProperties: false
                            required:
                            - url
                            properties:
                              url:
                                type: string
                                description: The HTTP address for the web resource.
                              label:
                                type:
                                - string
                                - 'null'
                                description: The friendly display value.
                          - type: object
                            title: Multiple Select Options (V1)
                            additionalProperties: false
                            required:
                            - ids
                            properties:
                              ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                                description: 'List of IDs for multi-select options that are chosen/enabled for the given Custom Field.

                                  '
                          - type: object
                            title: Users Select (V1)
                            additionalProperties: false
                            properties:
                              user_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                                description: 'List of user UUIDs that are selected for the users select custom field.

                                  '
                              group_ids:
                                type: array
                                items:
                                  type: string
                                  format: uuid
                                description: 'List of user group UUIDs that are selected for the users select custom field.

                                  '
                    meta:
                      type: object
                      properties:
                        event_context:
                          type: object
                          description: 'Contextual metadata about the event that triggered this request.

                            Used for notification side-effects.

                            '
                          properties:
                            suppress_notifications:
                              type: boolean
                              description: 'When `true`, suppresses notifications that would otherwise be sent.

                                Defaults to `false`.

                                '
                            board:
                              type: object
                              description: 'The `board` resource the event happened on. If provided, the

                                notification includes a link to this board.

                                '
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - board
                    relationships:
                      type: object
                      required:
                      - custom_field
                      - moment
                      properties:
                        moment:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - moment
                        custom_field:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - custom_field
      responses:
        '201':
          description: A newly-created Moment Custom Field resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: moment_custom_field
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - moment_custom_field
                      attributes:
                        type: object
                        additionalProperties: false
                        properties:
                          text_value:
                            type:
                            - string
                            - 'null'
                            description: 'The value for a Custom Field on a Moment if it''s a String custom field datatype.

                              '
                          date_value:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: 'An RFC 3339 date-time for a custom field on a moment using the ‘Date’

                              datatype.

                              '
                          hash_value:
                            type:
                            - object
                            - 'null'
                            description: 'The value for a Custom Field on a Moment if it''s a value which can be

                              represented as a JSON object of the following known types.

                              '
                            oneOf:
                            - enum:
                              - null
                            - type: object
                              title: Single Select Value (V1)
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  description: The ID of the single select option.
                            - type: object
                              title: Multiple Select Options (V1)
                              additionalProperties: false
                              properties:
                                ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                    description: 'List of IDs for multi-select options that are chosen/enabled for the given Custom Field.

                                      '
                            - type: object
                              title: Users Select Value (V1)
                              additionalProperties: false
                              properties:
                                user_ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: 'List of user UUIDs that are selected for the users select custom field.

                                    '
                                group_ids:
                                  type: array
                                  items:
                                    type: string
                                    format: uuid
                                  description: 'List of user group UUIDs that are selected for the users select custom field.

                                    '
                            - type: object
                              title: URL Value (V1)
                              additionalProperties: false
                              properties:
                                url:
                                  type: string
                                  description: The HTTP address for the web resource.
                                label:
                                  type:
                                  - string
                                  - 'null'
                                  description: The friendly display value.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - custom_field
                        - moment
                        additionalProperties: false
                        properties:
                          custom_field:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - custom_field
                          moment:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - moment
                          users:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                          groups:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user_group
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: custom_field
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - custom_field
                          attributes:
                            type: object
                            required:
                            - description
                            - display_name
                            - is_deactivated
                            - is_color_disabled
                            - is_cascading
                            - is_system_generated
                            - metadata
                            - created_at
                            - updated_at
                            additionalProperties: false
                            properties:
                              display_name:
                                type: string
                                description: 'The display name which will appear in the Opal application UI where used.

                                  '
                              description:
                                type:
                                - string
                                - 'null'
                                description: A plain text description of the custom field.
                              is_deactivated:
                                type: boolean
                                description: 'A true/false value indicating whether this custom field is available

                                  for use within the Opal application. Note that this is separate from

                                  deleting the custom field.

                                  '
                              is_color_disabled:
                                type: boolean
                                description: 'Controls whether color relationships defined on options are displayed in the

                                  UI. When true, colors are hidden without removing the underlying color relationship settings.

                                  '
                              is_cascading:
                                type: boolean
                                description: 'PROPOSED:

                                  Indicates if blocks whose block_type has this custom_field enabled

                                  will inherit the values set for this custom field from its nearest

                                  ancestor block. Setting explicit values for this custom_field on a

                                  block will override inherited values.

                                  '
                              is_system_generated:
                                type: boolean
                                default: false
                                readOnly: true
                                description: 'Whether this field was auto-generated by the system rather than

                                  created by a user.


                                  Such fields currently cannot be renamed or deleted, though this may

                                  change in the future. Relevant for fields like the ‘Status’

                                  single-select.'
                              metadata:
                                type:
                                - object
                                - 'null'
                                deprecated: true
                                description: 'You **SHOULD NOT** read this data. Instead, you **SHOULD** add

                                  `active_options` (and, if relevant, `deleted_options`) to the

                                  `custom_fields` request’s `include` query, and use the included

                                  `custom_field_option` resources.


                                  Explanation: serializing a few attributes from relationships in the

                                  `metadata` attribute was convenient for internal use while the

                                  `custom_field` resource was in development, but it’s not compliant

                                  with JSON:API, and the `include` approach is superior anyhow as allows

                                  callers full control over what data is included. `metadata/options`

                                  also has a different implementation than `custom_field_option`

                                  resources, so there’s some risk the two representations will become

                                  inconsistent.'
                                oneOf:
                                - title: Empty Object
                                  type:
                                  - object
                                  - 'null'
                                  additionalProperties: false
                                  description: 'The empty object for custom fields based on custom field types which

                                    have no configurable settings.

                                    '
                                - title: Single Select Metadata (V1)
                                  type: object
                                  required:
                                  - options
                                  properties:
                                    options:
                                      type: array
                                      items:
                                        type: object
                                        required:
                                        - id
                                        - display_name
                                        - position
                                        properties:
                                          id:
                                            type: string
                                            description: The ID of the option. Must be globally unique and a UUID.
                                          display_name:
                                            type: string
                                            description: The display value for this option. Must be unique across non-deleted siblings.
                                          position:
                                            type: integer
                                            description: The ordinal position of this option. Must be unique across non-deleted siblings.
                                          deleted_at:
                                            type:
                                            - string
                                            - 'null'
                                            format: date-time
                                            description: 'An ISO8601 date-time value, which will remove the given option from being usable.

                                              Once an option is created, it cannot be outright removed from the system. Instead, it can be deactivated by setting this value to a date-time value.

                                              One can set this to a value to remove the option from being usable, or null to restore it and make it usable again.

                                              Note that setting this to null will only be successful if doing so does not clobber the position or name of another non-deleted sibling.

                                              '
                                          relationships:
                                            type: object
                                            additionalProperties: false
                                            properties:
                                              custom_field_color:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                          format: uuid
                                                        type:
                                                          type: string
                                                          enum:
                                                          - custom_field_color
                                                description: 'A relationship to a color for this option. Can be omitted (no color),

                                                  included with null data (explicitly no color), or included with

                                                  valid color data.

                                                  '
                                              paired_label:
                                                allOf:
                                                - type: object
                                                  required:
                                                  - data
                                                  additionalProperties: false
                                                  properties:
                                                    data:
                                                      type:
                                                      - object
                                                      - 'null'
                                                      required:
                                                      - id
                                                      - type
                                                      additionalProperties: false
                                                      properties:
                                                        id:
                                                          type: string
                                                        type:
                                                          type: string
                                                          enum:
                                                          - label
                                                description: 'A relationship to a label that’s been paired with this option.

                                                  '
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's creation date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time representing the entity's most recent updated date-time.
                                readOnly: true
                          relationships:
                            type: object
                            required:
                            - custom_field_type
                            - workspace
                            - active_options
                            - deleted_options
                            - creator
                            additionalProperties: false
                            properties:
                              active_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              deleted_options:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - custom_field_option
                              custom_field_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - custom_field_type
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              paired_label_set:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - label_set
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                      - title: moment
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        - links
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            description: The moment's UUID. See the `legacy_id` attribute for a `v2`-api compatible ID.
                          type:
                            type: string
                            enum:
                            - moment
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated moment metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              is_stamp_template:
                                type: boolean
                                description: 'Indicates whether a `moment` can be used as a stamp. Stamps serve as templates for new `moment`s, inheriting notes, content, and labels from the stamped moment template.

                                  For additional notes on creating, managing, retrieving, and using stamps, see the [Stamps Overview](v2#tag/Stamps/Stamps-Overview).

                                  '
                              access:
                                type: object
                                deprecated: true
                                description: 'This metadata has moved to the document meta (where it is found on API responses for other resources as well)

                                  '
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

[...]
