openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Rich Text Documents API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Rich Text Documents
  description: '## Overview


    ### Client libraries and document formats


    Rich Text Document endpoints can accept documents in arbitrary formats.'
paths:
  /rich_texts/v3/documents:
    get:
      tags:
      - Rich Text Documents
      operationId: ReadRichTextDocumentsV3
      summary: Get Rich Text Documents available to the authenticated user
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: filter
        in: query
        description: Filters for limiting the results.
        required: false
        schema:
          type: object
          properties:
            id:
              description: Retrieve Rich Text Documents having the given ID.
              type: array
              items:
                type: string
                format: uuid
        style: deepObject
        explode: true
      - name: page
        description: Specify an offset and limit for pagination
        in: query
        required: false
        schema:
          type: object
          properties:
            limit:
              type: integer
              default: 50
            offset:
              type: integer
        style: deepObject
        explode: true
      responses:
        '200':
          description: A collection of Rich Text Documents.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                - meta
                properties:
                  data:
                    type: array
                    items:
                      title: rich_text_document
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      - relationships
                      additionalProperties: false
                      properties:
                        id:
                          type: string
                          format: uuid
                        type:
                          type: string
                          enum:
                          - rich_text_document
                        attributes:
                          type: object
                          required:
                          - body
                          - client_library
                          - created_at
                          - updated_at
                          additionalProperties: false
                          properties:
                            body:
                              type:
                              - object
                              - 'null'
                              description: 'The JSON representation of the rich text document. There is not a strict

                                requirement on the shape of the data structure beyond the requirement

                                of it being a JSON object. Note that keys within the JSON object will be

                                preserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).

                                '
                            client_library:
                              type: string
                              description: 'The library or framework that generated the content. One could, for

                                example, set this to the NPM package version which generated the

                                rich text document for letting the caller know how to parse the response

                                or handle upgrade situations.

                                '
                            created_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's creation date-time.
                              readOnly: true
                            updated_at:
                              type: string
                              format: date-time
                              description: An ISO8601 date-time representing the entity's most recent updated date-time.
                              readOnly: true
                        relationships:
                          type: object
                          additionalProperties: false
                          required:
                          - created_by_user
                          properties:
                            created_by_user:
                              title: User
                              type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: object
                                  required:
                                  - id
                                  - type
                                  additionalProperties: false
                                  properties:
                                    id:
                                      type: string
                                      format: uuid
                                    type:
                                      type: string
                                      enum:
                                      - user
                            assets:
                              allOf:
                              - type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - asset
                              - description: 'This relationship is only populated in documents returned by /rich_texts endpoints.

                                  '
                            asset_references:
                              allOf:
                              - type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - asset_reference
                              - description: 'This relationship is only populated in documents returned by /board_objects endpoints.

                                  '
                            embedded_resources:
                              allOf:
                              - type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                        type:
                                          type: string
                                          enum:
                                          - embedded_resource
                              - description: This relationship represents embedded resources within the document.
                  meta:
                    type: object
                    required:
                    - total
                    - page
                    - resource_type
                    properties:
                      resource_type:
                        type: string
                      total:
                        type: integer
                      page:
                        type: object
                        required:
                        - limit
                        - offset
                        properties:
                          limit:
                            type: integer
                          offset:
                            type: integer
              example:
                data:
                - id: d76701b0-8e7f-4d71-aede-13b486468ff4
                  type: rich_text_document
                  attributes:
                    client_library: foo
                    body: "{\n  \"type\": \"doc\",\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Example paragraph text.\"\n        }\n      ]\n    }\n  ]\n}\n"
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    created_by_user:
                      data:
                        id: e0b0028d-e4ee-438d-800f-31f8d4048293
                        type: user
                    assets:
                      data:
                      - id: 31d040a3-c4e1-4580-ba28-1251167ee95a
                        type: asset
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    post:
      tags:
      - Rich Text Documents
      operationId: CreateRichTextDocumentV3
      summary: Create a new Rich Text Document
      security:
      - oauth2:
        - offline_access
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  properties:
                    type:
                      type: string
                      enum:
                      - rich_text_document
                    attributes:
                      type: object
                      required:
                      - body
                      - client_library
                      properties:
                        body:
                          type:
                          - object
                          - 'null'
                          description: "The JSON representation of the rich text document. There is not a strict\nrequirement on the shape of the data structure beyond the requirement \nof it being a JSON object. Note that keys within the JSON object will be\npreserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).\n"
                        client_library:
                          type: string
                          description: "The library or framework that generated the content. One could, for\nexample, set this to the NPM package version which generated the \nrich text document for letting the caller know how to parse the response\nor handle upgrade situations.\n"
                    relationships:
                      type: object
                      properties:
                        created_by_user:
                          description: 'For internal use only; attempting to set this relationship will result in a `forbidden` error.

                            '
                          title: User
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - user
                        opal:
                          description: 'For internal use only; attempting to set this relationship will result in a `forbidden` error.

                            '
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                type:
                                  type: string
                                  enum:
                                  - opal
      responses:
        '201':
          description: A newly created rich text document resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: rich_text_document
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - rich_text_document
                      attributes:
                        type: object
                        required:
                        - body
                        - client_library
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          body:
                            type:
                            - object
                            - 'null'
                            description: 'The JSON representation of the rich text document. There is not a strict

                              requirement on the shape of the data structure beyond the requirement

                              of it being a JSON object. Note that keys within the JSON object will be

                              preserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).

                              '
                          client_library:
                            type: string
                            description: 'The library or framework that generated the content. One could, for

                              example, set this to the NPM package version which generated the

                              rich text document for letting the caller know how to parse the response

                              or handle upgrade situations.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - created_by_user
                        properties:
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          assets:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                            - description: 'This relationship is only populated in documents returned by /rich_texts endpoints.

                                '
                          asset_references:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                            - description: 'This relationship is only populated in documents returned by /board_objects endpoints.

                                '
                          embedded_resources:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - embedded_resource
                            - description: This relationship represents embedded resources within the document.
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - links
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset
                          attributes:
                            type: object
                            required:
                            - bytes
                            - created_at
                            - download_url_override
                            - duration
                            - file_extension
                            - file_name
                            - height
                            - mime_type
                            - updated_at
                            - url
                            - width
                            additionalProperties: false
                            properties:
                              url:
                                type: string
                              download_url_override:
                                type:
                                - string
                                - 'null'
                                description: 'An alternative download URL for the file. If set, downloading the

                                  asset will result in a redirect to the overridden location instead of

                                  downloading the asset data directly. When not present, `url` should

                                  be used.

                                  '
                              width:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the width in pixels of an image or video.
                              height:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the height in pixels of an image or video.
                              duration:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the play time of a video in seconds.
                              pages:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the number of pages in a PDF document.
                              mime_type:
                                type: string
                                description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) that corresponds to the uploaded file.
                              file_name:
                                type: string
                              file_extension:
                                type: string
                              bytes:
                                type: integer
                                description: The size of the file in bytes.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                          relationships:
                            required:
                            - opal
                            type: object
                            additionalProperties: false
                            properties:
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                      - title: embedded_resource
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - embedded_resource
                          attributes:
                            type: object
                            required:
                            - color
                            - default_snapshot_url
                            - kind
                            - title
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: The color for the resource (if one exists).
                              default_snapshot_url:
                                type:
                                - string
                                - 'null'
                                description: The URL to the resource's snapshot (if one exists).
                              kind:
                                type: string
                                enum:
                                - board
                                - content
                                - moment
                                - story
                                description: Reference to the resource's original type.
                              title:
                                type: string
                                description: The title of the referenced resource.
                          relationships:
                            type: object
                            additionalProperties: false
                            properties: {}
              example:
                data:
                  id: d76701b0-8e7f-4d71-aede-13b486468ff4
                  type: rich_text_document
                  attributes:
                    client_library: foo
                    body: "{\n  \"type\": \"doc\",\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Example paragraph text.\"\n        }\n      ]\n    }\n  ]\n}\n"
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    created_by_user:
                      data:
                        id: e0b0028d-e4ee-438d-800f-31f8d4048293
                        type: user
                    assets:
                      data:
                      - id: 31d040a3-c4e1-4580-ba28-1251167ee95a
                        type: asset
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /rich_texts/v3/documents/{rich_text_document_id}:
    get:
      tags:
      - Rich Text Documents
      operationId: ReadRichTextDocumentV3
      summary: Get a Rich Text Document
      security:
      - oauth2:
        - offline_access
      - api_key: []
      - presentation_share_cookie: []
      description: Returns a rich text document with its metadata and embedded resources.
      parameters:
      - name: rich_text_document_id
        in: path
        required: true
        description: The ID of the Rich Text Document.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - assets
            - embedded_resources
        style: form
        explode: false
      responses:
        '200':
          description: The requested Rich Text Document
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: rich_text_document
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - rich_text_document
                      attributes:
                        type: object
                        required:
                        - body
                        - client_library
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          body:
                            type:
                            - object
                            - 'null'
                            description: 'The JSON representation of the rich text document. There is not a strict

                              requirement on the shape of the data structure beyond the requirement

                              of it being a JSON object. Note that keys within the JSON object will be

                              preserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).

                              '
                          client_library:
                            type: string
                            description: 'The library or framework that generated the content. One could, for

                              example, set this to the NPM package version which generated the

                              rich text document for letting the caller know how to parse the response

                              or handle upgrade situations.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - created_by_user
                        properties:
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          assets:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                            - description: 'This relationship is only populated in documents returned by /rich_texts endpoints.

                                '
                          asset_references:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                            - description: 'This relationship is only populated in documents returned by /board_objects endpoints.

                                '
                          embedded_resources:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - embedded_resource
                            - description: This relationship represents embedded resources within the document.
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - links
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset
                          attributes:
                            type: object
                            required:
                            - bytes
                            - created_at
                            - download_url_override
                            - duration
                            - file_extension
                            - file_name
                            - height
                            - mime_type
                            - updated_at
                            - url
                            - width
                            additionalProperties: false
                            properties:
                              url:
                                type: string
                              download_url_override:
                                type:
                                - string
                                - 'null'
                                description: 'An alternative download URL for the file. If set, downloading the

                                  asset will result in a redirect to the overridden location instead of

                                  downloading the asset data directly. When not present, `url` should

                                  be used.

                                  '
                              width:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the width in pixels of an image or video.
                              height:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the height in pixels of an image or video.
                              duration:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the play time of a video in seconds.
                              pages:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the number of pages in a PDF document.
                              mime_type:
                                type: string
                                description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) that corresponds to the uploaded file.
                              file_name:
                                type: string
                              file_extension:
                                type: string
                              bytes:
                                type: integer
                                description: The size of the file in bytes.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                          relationships:
                            required:
                            - opal
                            type: object
                            additionalProperties: false
                            properties:
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                      - title: embedded_resource
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - embedded_resource
                          attributes:
                            type: object
                            required:
                            - color
                            - default_snapshot_url
                            - kind
                            - title
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: The color for the resource (if one exists).
                              default_snapshot_url:
                                type:
                                - string
                                - 'null'
                                description: The URL to the resource's snapshot (if one exists).
                              kind:
                                type: string
                                enum:
                                - board
                                - content
                                - moment
                                - story
                                description: Reference to the resource's original type.
                              title:
                                type: string
                                description: The title of the referenced resource.
                          relationships:
                            type: object
                            additionalProperties: false
                            properties: {}
              example:
                data:
                  id: d76701b0-8e7f-4d71-aede-13b486468ff4
                  type: rich_text_document
                  attributes:
                    client_library: foo
                    body: "{\n  \"type\": \"doc\",\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Example paragraph text.\"\n        }\n      ]\n    }\n  ]\n}\n"
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    created_by_user:
                      data:
                        id: e0b0028d-e4ee-438d-800f-31f8d4048293
                        type: user
                    assets:
                      data:
                      - id: 31d040a3-c4e1-4580-ba28-1251167ee95a
                        type: asset
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    patch:
      tags:
      - Rich Text Documents
      operationId: UpdateRichTextDocumentV3
      summary: Update an existing Rich Text Document
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: rich_text_document_id
        in: path
        required: true
        description: The ID of the Rich Text Document.
        schema:
          type: string
          format: uuid
      - name: if-unmodified-since
        in: header
        description: 'A date-time representing the entity''s most recently updated date-time. The date-time is to be provided in form of: <day-name>, <day> <month> <year> <hour>:<minute>:<second> GMT'
        required: false
        schema:
          type: string
          format: http-date
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - rich_text_document
                    attributes:
                      type: object
                      properties:
                        body:
                          type:
                          - object
                          - 'null'
                          description: "The JSON representation of the rich text document. There is not a strict\nrequirement on the shape of the data structure beyond the requirement \nof it being a JSON object. Note that keys within the JSON object will be\npreserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).\n"
                        client_library:
                          type: string
                          description: "The library or framework that generated the content. One could, for\nexample, set this to the NPM package version which generated the \nrich text document for letting the caller know how to parse the response\nor handle upgrade situations.\n"
      responses:
        '200':
          description: An updated rich text document resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: rich_text_document
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - rich_text_document
                      attributes:
                        type: object
                        required:
                        - body
                        - client_library
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          body:
                            type:
                            - object
                            - 'null'
                            description: 'The JSON representation of the rich text document. There is not a strict

                              requirement on the shape of the data structure beyond the requirement

                              of it being a JSON object. Note that keys within the JSON object will be

                              preserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).

                              '
                          client_library:
                            type: string
                            description: 'The library or framework that generated the content. One could, for

                              example, set this to the NPM package version which generated the

                              rich text document for letting the caller know how to parse the response

                              or handle upgrade situations.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - created_by_user
                        properties:
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          assets:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                            - description: 'This relationship is only populated in documents returned by /rich_texts endpoints.

                                '
                          asset_references:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                            - description: 'This relationship is only populated in documents returned by /board_objects endpoints.

                                '
                          embedded_resources:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - embedded_resource
                            - description: This relationship represents embedded resources within the document.
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - links
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - asset
                          attributes:
                            type: object
                            required:
                            - bytes
                            - created_at
                            - download_url_override
                            - duration
                            - file_extension
                            - file_name
                            - height
                            - mime_type
                            - updated_at
                            - url
                            - width
                            additionalProperties: false
                            properties:
                              url:
                                type: string
                              download_url_override:
                                type:
                                - string
                                - 'null'
                                description: 'An alternative download URL for the file. If set, downloading the

                                  asset will result in a redirect to the overridden location instead of

                                  downloading the asset data directly. When not present, `url` should

                                  be used.

                                  '
                              width:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the width in pixels of an image or video.
                              height:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the height in pixels of an image or video.
                              duration:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the play time of a video in seconds.
                              pages:
                                type:
                                - integer
                                - 'null'
                                description: When applicable, the number of pages in a PDF document.
                              mime_type:
                                type: string
                                description: The [MIME type](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types) that corresponds to the uploaded file.
                              file_name:
                                type: string
                              file_extension:
                                type: string
                              bytes:
                                type: integer
                                description: The size of the file in bytes.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO8601 date-time.
                                readOnly: true
                          links:
                            type: object
                            additionalProperties: false
                            required:
                            - v2_request
                            properties:
                              v2_request:
                                type: string
                                format: uri
                          relationships:
                            required:
                            - opal
                            type: object
                            additionalProperties: false
                            properties:
                              opal:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - opal
                      - title: embedded_resource
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - embedded_resource
                          attributes:
                            type: object
                            required:
                            - color
                            - default_snapshot_url
                            - kind
                            - title
                            additionalProperties: false
                            properties:
                              color:
                                type:
                                - string
                                - 'null'
                                description: The color for the resource (if one exists).
                              default_snapshot_url:
                                type:
                                - string
                                - 'null'
                                description: The URL to the resource's snapshot (if one exists).
                              kind:
                                type: string
                                enum:
                                - board
                                - content
                                - moment
                                - story
                                description: Reference to the resource's original type.
                              title:
                                type: string
                                description: The title of the referenced resource.
                          relationships:
                            type: object
                            additionalProperties: false
                            properties: {}
              example:
                data:
                  id: d76701b0-8e7f-4d71-aede-13b486468ff4
                  type: rich_text_document
                  attributes:
                    client_library: foo
                    body: "{\n  \"type\": \"doc\",\n  \"content\": [\n    {\n      \"type\": \"paragraph\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Example paragraph text.\"\n        }\n      ]\n    }\n  ]\n}\n"
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    created_by_user:
                      data:
                        id: e0b0028d-e4ee-438d-800f-31f8d4048293
                        type: user
                    assets:
                      data:
                      - id: 31d040a3-c4e1-4580-ba28-1251167ee95a
                        type: asset
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '412':
          description: Precondition Failed
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    delete:
      tags:
      - Rich Text Documents
      operationId: DeleteRichTextDocumentV3
      summary: Delete a Rich Text Document
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: rich_text_document_id
        in: path
        required: true
        description: The ID of the Rich Text Document.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The Rich Text Document was successfully deleted.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /rich_texts/v3/documents/{rich_text_document_id}/duplicate:
    post:
      tags:
      - Rich Text Documents
      operationId: DuplicateRichTextDocumentV3
      summary: Duplicate a Rich Text Document
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: rich_text_document_id
        in: path
        required: true
        description: The ID of the Rich Text Document.
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  properties:
                    type:
                      type: string
                      enum:
                      - rich_text_document
            example:
              data:
                type: rich_text_document
      responses:
        '201':
          description: 'A newly created rich text document resource, which is a duplicate of

            the original Document having the given ID.

            '
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: rich_text_document
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - rich_text_document
                      attributes:
                        type: object
                        required:
                        - body
                        - client_library
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          body:
                            type:
                            - object
                            - 'null'
                            description: 'The JSON representation of the rich text document. There is not a strict

                              requirement on the shape of the data structure beyond the requirement

                              of it being a JSON object. Note that keys within the JSON object will be

                              preserved as-is (i.e., camelCase, PascalCase, under_score, dasher-ized).

                              '
                          client_library:
                            type: string
                            description: 'The library or framework that generated the content. One could, for

                              example, set this to the NPM package version which generated the

                              rich text document for letting the caller know how to parse the response

                              or handle upgrade situations.

                              '
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's creation date-time.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time representing the entity's most recent updated date-time.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - created_by_user
                        properties:
                          created_by_user:
                            title: User
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                          assets:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - asset
                            - description: 'This relationship is only populated in documents returned by /rich_texts endpoints.

                                '
                          asset_references:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - asset_reference
                            - description: 'This relationship is only populated in documents returned by /board_objects endpoints.

                                '
                          embedded_resources:
                            allOf:
                            - type: object
                              required:
                              - data
                              additionalProperties: false
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                                        enum:
                                        - embedded_resource
                            - description: This relationship represents embedded resources within the document.
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: asset
                        type: object
[...]
