openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Moment Schedules API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Moment Schedules
paths:
  /moment_schedules/v3:
    post:
      tags:
      - Moment Schedules
      operationId: CreateMomentScheduleV3
      x-Operation-ID: '#/moment_schedules/post/operationId'
      summary: Create a new moment schedule
      security:
      - oauth2:
        - offline_access
      - api_key: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - moment_schedule
                    attributes:
                      type: object
                      required:
                      - start_at
                      properties:
                        day_segment:
                          type:
                          - string
                          - 'null'
                          description: 'A string indicating when the moment should be displayed in the

                            calendar. This attribute is independent of the `start_at`

                            attribute. Will default to `null` if omitted.

                            '
                          enum:
                          - morning
                          - afternoon
                          - evening
                          - night
                          - null
                        end_at:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: 'An RFC 3339 date for the instant the moment ends. See format

                            discussion on start_at.

                            '
                        start_at:
                          type: string
                          format: date
                          description: 'An RFC 3339 date for the instant the moment starts. It MUST be a

                            date without time or UTC offset, and will be interpreted as

                            midnight in the America/Los_Angeles time zone. You are responsible

                            for ensuring this time zone conversion results in the correct

                            calendar date in your environment''s time zone.

                            '
                        should_end_at_cascade:
                          type: boolean
                          description: 'Indicates whether or not content created within the parent moment

                            should receive the moment''s end_at time by default. Will default

                            to false if omitted.

                            '
                    relationships:
                      type: object
                      required:
                      - moment
                      properties:
                        moment:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - moment
            example:
              data:
                id: a6d8d20c-3ef0-23c0-b3f5-8ed7ba70ba19
                type: moment_schedule
                attributes:
                  start_at: '2020-06-03T00:00:00.000Z'
                  end_at: '2020-06-05T00:00:00.000Z'
                  day_segment: morning
                  should_end_at_cascade: true
                relationships:
                  moment:
                    data:
                      id: 0f25b1e5-e83b-497d-9156-762b1d59180c
                      type: moment
      responses:
        '201':
          description: A newly created moment_schedule resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: moment_schedule
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - moment_schedule
                      attributes:
                        type: object
                        required:
                        - created_at
                        - day_segment
                        - end_at
                        - should_end_at_cascade
                        - start_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          day_segment:
                            type:
                            - string
                            - 'null'
                            enum:
                            - morning
                            - afternoon
                            - evening
                            - night
                            - null
                          end_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: 'An RFC 3339 date-time for the instant the moment ends. See format

                              discussion on start_at.

                              '
                          should_end_at_cascade:
                            type: boolean
                            description: 'Indicates whether or not content created within the parent moment

                              should receive the moment''s end_at time by default.

                              '
                          start_at:
                            type: string
                            format: date-time
                            description: 'An RFC 3339 date-time for the instant the moment starts. The server''s

                              response will always be a timestamp, unlike the date-only format sent

                              to the server in PATCH and POST requests.

                              '
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - moment
                        additionalProperties: false
                        properties:
                          moment:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - moment
              example:
                data:
                  id: a6d8d20c-3ef0-23c0-b3f5-8ed7ba70ba19
                  type: moment_schedule
                  attributes:
                    id: a6d8d20c-3ef0-23c0-b3f5-8ed7ba70ba19
                    start_at: '2020-06-03T00:00:00-07:00'
                    end_at: '2020-06-05T00:00:00-07:00'
                    day_segment: morning
                    should_end_at_cascade: true
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    moment:
                      data:
                        id: 0f25b1e5-e83b-497d-9156-762b1d59180c
                        type: moment
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /moment_schedules/v3/{moment_schedule_id}:
    delete:
      tags:
      - Moment Schedules
      operationId: DeleteMomentScheduleV3
      x-Operation-ID: '#/moment_schedule/delete/operationId'
      summary: Delete a moment schedule by ID
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: moment_schedule_id
        in: path
        required: true
        description: The ID of the Moment Schedule.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The Board was successfully deleted.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    patch:
      tags:
      - Moment Schedules
      operationId: UpdateMomentScheduleV3
      x-Operation-ID: '#/moment_schedule/patch/operationId'
      summary: Update a Moment Schedule
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: moment_schedule_id
        in: path
        required: true
        description: The ID of the Moment Schedule.
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - moment_schedule
                    attributes:
                      type: object
                      properties:
                        day_segment:
                          type:
                          - string
                          - 'null'
                          description: 'A string indicating when the moment should be displayed in the

                            calendar. This attribute is independent of the `start_at`

                            attribute. Will default to `null` if omitted.

                            '
                          enum:
                          - morning
                          - afternoon
                          - evening
                          - night
                          - null
                        end_at:
                          type:
                          - string
                          - 'null'
                          format: date
                          description: 'An RFC 3339 date for the instant the moment ends. See format

                            discussion on start_at.

                            '
                        start_at:
                          type: string
                          format: date
                          description: 'An RFC 3339 date for the instant the moment starts. It MUST be a

                            date without time or UTC offset, and will be interpreted as

                            midnight in the America/Los_Angeles time zone. You are responsible

                            for ensuring this time zone conversion results in the correct

                            calendar date in your environment''s time zone.

                            '
                        should_end_at_cascade:
                          type: boolean
                          description: 'Indicates whether or not content created within the parent moment

                            should receive the moment''s end_at time by default. Will default

                            to false if omitted.

                            '
            example:
              data:
                id: a6d8d20c-3ef0-23c0-b3f5-8ed7ba70ba19
                type: moment_schedule
                attributes:
                  start_at: '2020-06-03T00:00:00.000Z'
                  end_at: '2020-06-05T00:00:00.000Z'
                  day_segment: morning
                  should_end_at_cascade: true
      responses:
        '201':
          description: An updated Moment Schedule resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: moment_schedule
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - moment_schedule
                      attributes:
                        type: object
                        required:
                        - created_at
                        - day_segment
                        - end_at
                        - should_end_at_cascade
                        - start_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                          day_segment:
                            type:
                            - string
                            - 'null'
                            enum:
                            - morning
                            - afternoon
                            - evening
                            - night
                            - null
                          end_at:
                            type:
                            - string
                            - 'null'
                            format: date-time
                            description: 'An RFC 3339 date-time for the instant the moment ends. See format

                              discussion on start_at.

                              '
                          should_end_at_cascade:
                            type: boolean
                            description: 'Indicates whether or not content created within the parent moment

                              should receive the moment''s end_at time by default.

                              '
                          start_at:
                            type: string
                            format: date-time
                            description: 'An RFC 3339 date-time for the instant the moment starts. The server''s

                              response will always be a timestamp, unlike the date-only format sent

                              to the server in PATCH and POST requests.

                              '
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO8601 date-time.
                            readOnly: true
                      relationships:
                        type: object
                        required:
                        - moment
                        additionalProperties: false
                        properties:
                          moment:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - moment
              example:
                data:
                  id: a6d8d20c-3ef0-23c0-b3f5-8ed7ba70ba19
                  type: moment_schedule
                  attributes:
                    id: a6d8d20c-3ef0-23c0-b3f5-8ed7ba70ba19
                    start_at: '2020-06-03T00:00:00-07:00'
                    end_at: '2020-06-05T00:00:00-07:00'
                    day_segment: morning
                    should_end_at_cascade: true
                    created_at: '2020-09-11T15:27:01.881-08:00'
                    updated_at: '2020-09-11T15:27:01.881-08:00'
                  relationships:
                    moment:
                      data:
                        id: 0f25b1e5-e83b-497d-9156-762b1d59180c
                        type: moment
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
