openapi: 3.2.0
info:
  version: 3.0.0
  title: Opal API (⚠️ WIP) Key Dates API
  license:
    name: Opal API License
    url: https://www.workwithopal.com/api-license
  description: The key words “MUST”, “MUST NOT”, “REQUIRED”, “SHALL”, “SHALL NOT”, “SHOULD”, “SHOULD NOT”, “RECOMMENDED”, “NOT RECOMMENDED”, “MAY”, and “OPTIONAL” in this document are to be interpreted as described in BCP 14 [RFC2119] [RFC8174] when, and only when, they appear in all capitals, as shown here.
servers:
- url: https://login.ouropal.com
tags:
- name: Key Dates
paths:
  /loupe/v3/key_dates:
    post:
      tags:
      - Key Dates
      operationId: CreateKeyDateV3
      summary: Create a new Key Date
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - view
        style: form
        explode: false
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - type
                  - attributes
                  - relationships
                  properties:
                    type:
                      type: string
                      enum:
                      - key_date
                    attributes:
                      type: object
                      required:
                      - title
                      - start_date
                      additionalProperties: false
                      properties:
                        title:
                          type: string
                          maxLength: 30
                          description: A descriptive name for the key event or date.
                        color:
                          type:
                          - string
                          - 'null'
                          description: A color for this key date. The value must be in hex format, such as '#FFF' or '#FFFFFF'.
                        start_date:
                          type: string
                          description: The start of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date begins to be observed. A single-day event can be represented with a start_date and a null end_date.
                        end_date:
                          type:
                          - string
                          - 'null'
                          description: The end of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date ceases to be observed.
                    relationships:
                      type: object
                      required:
                      - view
                      properties:
                        view:
                          type: object
                          required:
                          - data
                          additionalProperties: false
                          properties:
                            data:
                              type: object
                              required:
                              - id
                              - type
                              additionalProperties: false
                              properties:
                                id:
                                  type: string
                                  format: uuid
                                type:
                                  type: string
                                  enum:
                                  - view
      responses:
        '201':
          description: A newly created key date resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: key_date
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - key_date
                      attributes:
                        type: object
                        required:
                        - title
                        - color
                        - start_date
                        - end_date
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          title:
                            type: string
                            description: A descriptive name for the key event or date.
                          color:
                            type:
                            - string
                            - 'null'
                            description: A color for this key date. The value must be in hex format, such as '#FFF' or '#FFFFFF'.
                          start_date:
                            type: string
                            description: The start of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date begins to be observed. A single-day event can be represented with a start_date and a null end_date.
                          end_date:
                            type:
                            - string
                            - 'null'
                            description: The end of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date ceases to be observed.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was created.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - view
                        properties:
                          view:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: view
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - view
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated view metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                          attributes:
                            type: object
                            required:
                            - title
                            - kind
                            - start_at
                            - end_at
                            - description
                            - default_timescale
                            - created_at
                            - updated_at
                            - start_month_index
                            - start_weekday_index
                            - show_smart_swimlane_datasource
                            - swimlane_title_column_width
                            additionalProperties: false
                            properties:
                              title:
                                type: string
                                description: A descriptive name for the view.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A field allowing for additional descriptive text.
                              kind:
                                type: string
                                description: An enumeration representing the view type. Currently only supports Plan views.
                                enum:
                                - plan
                              default_timescale:
                                type: string
                                description: An enumeration representing the timescale of this view.
                                enum:
                                - day
                                - week
                                - month
                                - quarter
                              start_at:
                                type: string
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the beginning of the span of time that this view resource respresents. The start_at value must be a date ocurring before the end_at value.
                              end_at:
                                type: string
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the end of the span of time that this view resource respresents. The start_at value must be a date ocurring before the end_at value.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was created.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                                readOnly: true
                              start_month_index:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                                - 8
                                - 9
                                - 10
                                - 11
                                description: Start month index for the plan. Specifies the number of months, 0 to 11, to offset from January. 0 by default, meaning no offset. If set, e.g., 1, start in February.
                              start_weekday_index:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: Start weekday index for the plan. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default. If set to, e.g., 1, weeks will start on Monday.
                              show_smart_swimlane_datasource:
                                type: boolean
                                description: Whether to display the datasource filter information on smart swimlanes. Defaults to true.
                              swimlane_title_column_width:
                                type: integer
                                description: The width in pixels of the swimlane title column from 200 to 800 for persistence across sessions. Defaults to 200.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - categories
                            - blocks
                            - owner
                            - creator
                            - workspace
                            - colors
                            - key_dates
                            - parent_block
                            properties:
                              categories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - category
                              category_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                              blocks:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              colors:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - view_color
                              key_dates:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - key_date
                              parent_block:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - block
              example:
                data:
                  id: 06de6348-c348-43be-bf12-f0f1d98215dd
                  type: key_date
                  attributes:
                    title: Halloween
                    color: '#FFA500'
                    start_date: '2024-10-31'
                    end_date: null
                    created_at: '2024-09-11T15:27:01.881-08:00'
                    updated_at: '2024-09-11T15:27:01.881-08:00'
                  relationships:
                    view:
                      data:
                        id: c75ffeda-cff8-47ca-aa90-f562a2bfefa2
                        type: view
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
  /loupe/v3/key_dates/{key_date_id}:
    patch:
      tags:
      - Key Dates
      operationId: UpdateKeyDateV3
      summary: Update an existing Key Date
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: key_date_id
        in: path
        required: true
        description: The ID of the Key Date.
        schema:
          type: string
          format: uuid
      - name: include
        in: query
        required: false
        description: A comma separated value of related objects to include.
        schema:
          type: array
          items:
            type: string
            enum:
            - view
        style: form
        explode: false
      - name: expose
        description: Ask for Access metadata to be returned.
        in: query
        required: false
        schema:
          type: object
          properties:
            meta:
              type: object
              properties:
                access:
                  type:
                  - string
                  - 'null'
                  description: 'Information about who has access to the given resource. This

                    metadata is only available for single (non-batch) `GET` / `PATCH` /

                    `POST` requests, and is not returned by default. Add

                    `expose[meta][access]` to your query parameters to request it in the

                    response body.

                    '
        style: deepObject
        explode: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - data
              properties:
                data:
                  type: object
                  required:
                  - id
                  - type
                  - attributes
                  properties:
                    id:
                      type: string
                      format: uuid
                    type:
                      type: string
                      enum:
                      - key_date
                    attributes:
                      type: object
                      properties:
                        title:
                          type: string
                          maxLength: 30
                          description: A descriptive name for the key event or date.
                        color:
                          type:
                          - string
                          - 'null'
                          description: A color for this key date. The value must be in hex format, such as '#FFF' or '#FFFFFF'.
                        start_date:
                          type: string
                          description: The start of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date begins to be observed. A single-day event can be represented with a start_date and a null end_date.
                        end_date:
                          type:
                          - string
                          - 'null'
                          description: The end of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date ceases to be observed.
                    meta:
                      type: object
                      properties:
                        access:
                          type: object
                          description: 'Information about who has access to the given resource. This

                            metadata is only available for single (non-batch) `GET` / `PATCH` /

                            `POST` requests, and is not returned by default. Add

                            `expose[meta][access]` to your query parameters to request it in the

                            response body.

                            '
                          additionalProperties: false
                          properties:
                            users:
                              type: array
                              description: 'A list of users that have access to this resource. These users have

                                been given direct access; the list does not include all users who

                                have access via a User Group or inherited resource.


                                Each item in the list is a JSON:API Resource Identifier Object. All

                                entries are `user`s.

                                '
                              items:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user
                            groups:
                              type: array
                              description: 'A list of groups that have access to this resource. These are all

                                User Groups that have been created by an admin of the Opal ahead of

                                time.


                                Each item in the list is a JSON:API Resource Identifier Object. All

                                entries are `user_group`s.

                                '
                              items:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - user_group
                            resources:
                              type: array
                              description: 'A list of resources from which this resource _might_ inherit

                                membership. The list always contains an entry for every other

                                resource allowed to provide membership to the given resource. Set

                                the `meta.inherits_membership` property to determine if a given

                                resource''s membership actually is being inherited.


                                Each item in the list is a JSON:API Resource Identifier Object.

                                Entries may have varying `types`.

                                '
                              items:
                                type: object
                                additionalProperties: false
                                required:
                                - id
                                - type
                                - meta
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                  meta:
                                    type: object
                                    additionalProperties: false
                                    required:
                                    - inherits_membership
                                    properties:
                                      inherits_membership:
                                        type: boolean
      responses:
        '200':
          description: An updated key date resource.
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    title: key_date
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    - relationships
                    additionalProperties: false
                    properties:
                      id:
                        type: string
                        format: uuid
                      type:
                        type: string
                        enum:
                        - key_date
                      attributes:
                        type: object
                        required:
                        - title
                        - color
                        - start_date
                        - end_date
                        - created_at
                        - updated_at
                        additionalProperties: false
                        properties:
                          title:
                            type: string
                            description: A descriptive name for the key event or date.
                          color:
                            type:
                            - string
                            - 'null'
                            description: A color for this key date. The value must be in hex format, such as '#FFF' or '#FFFFFF'.
                          start_date:
                            type: string
                            description: The start of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date begins to be observed. A single-day event can be represented with a start_date and a null end_date.
                          end_date:
                            type:
                            - string
                            - 'null'
                            description: The end of the period, represented as an ISO 8601-formatted ('YYYY-MM-DD') date, when this key event or date ceases to be observed.
                          created_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was created.
                            readOnly: true
                          updated_at:
                            type: string
                            format: date-time
                            description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                            readOnly: true
                      relationships:
                        type: object
                        additionalProperties: false
                        required:
                        - view
                        properties:
                          view:
                            type: object
                            required:
                            - data
                            additionalProperties: false
                            properties:
                              data:
                                type: object
                                required:
                                - id
                                - type
                                additionalProperties: false
                                properties:
                                  id:
                                    type: string
                                    format: uuid
                                  type:
                                    type: string
                                    enum:
                                    - view
                  included:
                    type: array
                    items:
                      oneOf:
                      - title: view
                        type: object
                        required:
                        - id
                        - type
                        - attributes
                        - relationships
                        additionalProperties: false
                        properties:
                          id:
                            type: string
                            format: uuid
                          type:
                            type: string
                            enum:
                            - view
                          meta:
                            type:
                            - object
                            - 'null'
                            description: 'Optionally calculated view metadata which are not part of responses by default.

                              '
                            additionalProperties: false
                            properties:
                              effective_privacy:
                                type: string
                                enum:
                                - whole_workspace
                                - some_but_not_all
                                description: 'The effective privacy of a resource is calculated based on all direct and

                                  inherited access. If a resource or any of its parents that it inherits

                                  access from are accessible to the entire workspace, the effective privacy

                                  is `whole_workspace`. Otherwise, the effective privacy is

                                  `some_but_not_all`.

                                  '
                          attributes:
                            type: object
                            required:
                            - title
                            - kind
                            - start_at
                            - end_at
                            - description
                            - default_timescale
                            - created_at
                            - updated_at
                            - start_month_index
                            - start_weekday_index
                            - show_smart_swimlane_datasource
                            - swimlane_title_column_width
                            additionalProperties: false
                            properties:
                              title:
                                type: string
                                description: A descriptive name for the view.
                              description:
                                type:
                                - string
                                - 'null'
                                description: A field allowing for additional descriptive text.
                              kind:
                                type: string
                                description: An enumeration representing the view type. Currently only supports Plan views.
                                enum:
                                - plan
                              default_timescale:
                                type: string
                                description: An enumeration representing the timescale of this view.
                                enum:
                                - day
                                - week
                                - month
                                - quarter
                              start_at:
                                type: string
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the beginning of the span of time that this view resource respresents. The start_at value must be a date ocurring before the end_at value.
                              end_at:
                                type: string
                                description: An ISO 8601-formatted ('YYYY-MM-DD') date marking the end of the span of time that this view resource respresents. The start_at value must be a date ocurring before the end_at value.
                              created_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was created.
                                readOnly: true
                              updated_at:
                                type: string
                                format: date-time
                                description: An ISO 8601-formatted datetime indicating when the resource was last updated.
                                readOnly: true
                              start_month_index:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                - 7
                                - 8
                                - 9
                                - 10
                                - 11
                                description: Start month index for the plan. Specifies the number of months, 0 to 11, to offset from January. 0 by default, meaning no offset. If set, e.g., 1, start in February.
                              start_weekday_index:
                                type: number
                                enum:
                                - 0
                                - 1
                                - 2
                                - 3
                                - 4
                                - 5
                                - 6
                                description: Start weekday index for the plan. Specifies the days in a week, 0 to 6 (Sunday to Saturday). 0 (Sunday) is the default. If set to, e.g., 1, weeks will start on Monday.
                              show_smart_swimlane_datasource:
                                type: boolean
                                description: Whether to display the datasource filter information on smart swimlanes. Defaults to true.
                              swimlane_title_column_width:
                                type: integer
                                description: The width in pixels of the swimlane title column from 200 to 800 for persistence across sessions. Defaults to 200.
                          relationships:
                            type: object
                            additionalProperties: false
                            required:
                            - categories
                            - blocks
                            - owner
                            - creator
                            - workspace
                            - colors
                            - key_dates
                            - parent_block
                            properties:
                              categories:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - category
                              category_type:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type:
                                    - object
                                    - 'null'
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - category_type
                              blocks:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - block
                              owner:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              creator:
                                title: User
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - user
                              workspace:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - workspace
                              colors:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - view_color
                              key_dates:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: array
                                    items:
                                      type: object
                                      required:
                                      - id
                                      - type
                                      additionalProperties: false
                                      properties:
                                        id:
                                          type: string
                                          format: uuid
                                        type:
                                          type: string
                                          enum:
                                          - key_date
                              parent_block:
                                type: object
                                required:
                                - data
                                additionalProperties: false
                                properties:
                                  data:
                                    type: object
                                    required:
                                    - id
                                    - type
                                    additionalProperties: false
                                    properties:
                                      id:
                                        type: string
                                        format: uuid
                                      type:
                                        type: string
                                        enum:
                                        - block
              example:
                data:
                  id: 06de6348-c348-43be-bf12-f0f1d98215dd
                  type: key_date
                  attributes:
                    title: Halloween
                    color: '#FFA500'
                    start_date: '2024-10-31'
                    end_date: null
                    created_at: '2024-09-11T15:27:01.881-08:00'
                    updated_at: '2024-09-11T15:27:01.881-08:00'
                  relationships:
                    view:
                      data:
                        id: c75ffeda-cff8-47ca-aa90-f562a2bfefa2
                        type: view
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
    delete:
      tags:
      - Key Dates
      operationId: DeleteKeyDateV3
      summary: Delete a Key Date by the given ID
      security:
      - oauth2:
        - offline_access
      - api_key: []
      parameters:
      - name: key_date_id
        in: path
        required: true
        description: The ID of the Key Date.
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: The Key Date was successfully deleted.
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
        '404':
          description: Not found
          content:
            application/json:
              schema:
                type: object
                required:
                - errors
                properties:
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                          description: The http status code of the error response.
                        title:
                          type: string
                          description: A short, human-readable summary of the error.
                        detail:
                          type: string
                          description: A human-readable explanation of the error.
                        code:
                          type: string
                          description: 'An system-readable error code to provide additional specificity for

                            the error.

                            '
                      required:
                      - status
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'This API uses OAuth 2.0 with the authorization code grant flow. You can

        find more detailed authentication instructions in the [Authentication

        Strategies](/api/documentation#section/Authentication-Strategies/OAuth-2.0)

        section.

        '
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/auth
          tokenUrl: /oauth2/token
          scopes:
            offline_access: Include this scope if you wish to receive a refresh token
    anonymous_oauth:
      type: oauth2
      description: 'The OAuth 2.0 client credentials flow is used for secure server-server

        requests when Opal does not need to associate a request with a particular

        Opal user. These anonymous requests are instead authorized based on the

        OAuth scope.

        '
      flows:
        clientCredentials:
          tokenUrl: /oauth/token
          scopes:
            write:onboarding: Include this scope if you wish to make API requests to onboard new Opals.
    api_key:
      type: apiKey
      description: '(Deprecated) This API also supports authentication via an API or session

        token set in the request headers.

        '
      in: header
      name: Session-Token
    presentation_share_cookie:
      type: apiKey
      description: 'A cookie set and read by the Monolith service that authorizes a non-opal

        user to view a presentation and the resources within it. Other services

        can rely on this cookie by asking Monolith to authenticate it.

        '
      in: cookie
      name: share_token
x-tagGroups:
- name: Stable
  tags:
  - Board Collaborators
  - Board Objects
  - Boards
  - Content Schedules
  - Moment Schedules
  - Moments
  - Onboarding
- name: ⚠️  Unstable
  tags:
  - Block Connectors
  - Board Columns
  - Board Duplication
  - Board Standard Columns
  - Channels
  - Custom Field Options
  - Custom Field Types
  - Custom Fields
  - Moment Assignees
  - Moment Custom Fields
  - Planning Status
  - Rich Text Documents
  - User Groups
  - Users
  - Workspaces
- name: ℹ️ Proposed
  tags:
  - Bulk Operations
  - Gem Chats
  - Gem Files
  - Moment Duplication
  - Presentation Themes
  - Workflows
  - Workflow Contexts
  - Workflow Stages
  - Workflow Assignments
  - Workflow Responses
- name: ⚛️ Experimental
  tags:
  - Blocks
  - Block Custom Field Values
  - Block Duplication
  - Board User Settings
  - Categories
  - Category Types
  - Charts
  - Content
  - Custom Field Colors
  - Filter Sets
  - Key Dates
  - View Columns
  - View Standard Columns
  - Views
  - View Colors
  - Stories
- name: Additional Resources
  tags:
  - secondary_resources
